In [1]:
from IPython.display import display
!conda info

     active environment : base
    active env location : /Users/marcelo_palermo/anaconda3
            shell level : 1
       user config file : /Users/marcelo_palermo/.condarc
 populated config files : /Users/marcelo_palermo/.condarc
          conda version : 23.3.1
    conda-build version : 3.24.0
         python version : 3.10.11.final.0
       virtual packages : __archspec=1=x86_64
                          __osx=13.3.1=0
                          __unix=0=0
       base environment : /Users/marcelo_palermo/anaconda3  (writable)
      conda av data dir : /Users/marcelo_palermo/anaconda3/etc/conda
  conda av metadata url : None
           channel URLs : https://conda.anaconda.org/conda-forge/osx-64
                          https://conda.anaconda.org/conda-forge/noarch
                          https://repo.anaconda.com/pkgs/main/osx-64
                          https://repo.anaconda.com/pkgs/main/noarch
                          https://repo.anaconda.com/pkgs/r/osx-64
                          https://repo.anaconda.com/pkgs/r/noarch
          package cache : /Users/marcelo_palermo/anaconda3/pkgs
                          /Users/marcelo_palermo/.conda/pkgs
       envs directories : /Users/marcelo_palermo/anaconda3/envs
                          /Users/marcelo_palermo/.conda/envs
               platform : osx-64
             user-agent : conda/23.3.1 requests/2.29.0 CPython/3.10.11 Darwin/22.4.0 OSX/13.3.1
                UID:GID : 501:20
             netrc file : None
           offline mode : False

In [2]:
def separate_proteins(filename):
    
    
    training_dataset = pd.read_csv(filename)
    print("Original Data for " + filename)
    display(training_dataset.head(10))
    display(training_dataset.shape)
    #Drop unnecessary columns
    # training_dataset = training_dataset.drop(['Unnamed: 0','Threshold','Desc','OlinkID','UniProt','Panel','Organ','Desc_Column','term','df','sumsq','meansq','statistic'], axis=1)
    training_dataset = training_dataset.drop(['Unnamed: 0','Threshold','OlinkID','UniProt','Panel','term','df','sumsq','meansq','statistic'], axis=1)
    display(training_dataset.head(10))
    display(training_dataset.shape)
    
    
    training_dataframe = pd.DataFrame()
    validation_dataframe = pd.DataFrame()
    
    if(filename.find('train')>0):
        print('This is training file')
        if training_dataframe.empty:
            training_dataframe = training_dataset
            print('creating empty dataframe and placing training_dataset into it')
            
        
        
    else: 
        print('This is validation file')
    
    
    display(training_dataframe.head(10))
    
    return list(training_dataset['Assay'].values)

In [3]:
def build_ML_data_prep (filename,df,age):
    print("Processing file " + filename)
    training_dataset1 = pd.read_csv(filename)
    for protein in training_dataset1['Assay']:
        #print(protein)
        if protein in df.columns:
            df.loc[df['BMI']==age, [protein]] = 1
        else:
            df.loc[df['BMI']==age, [protein]] = 0
    display(df.head())
    return(df)

In [4]:
import pandas as pd
import numpy as np
import re

### Read MGH Olink ANOVA dataset for the referred category

In [5]:
category = ['age','BMI']
category_range_age = range(1,6)
category_range_BMI = range(0,5)

In [6]:
for i in category_range_age:
    print("Age category:", category_range_age[i-1])
print("\r")
for i in category_range_BMI:
    print("BMI category:", category_range_BMI[i])

Age category: 1
Age category: 2
Age category: 3
Age category: 4
Age category: 5

BMI category: 0
BMI category: 1
BMI category: 2
BMI category: 3
BMI category: 4

In [7]:
import glob, os
files_to_prepare = []
files_to_prepare_train = []

split_factor_file_train = "60_40"
split_factor_file_validation = "60_40"

listing = glob.glob('/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/' + split_factor_file_train + '/MGH_ANOVA_BMI_categories_train_BMI_*.csv')
for filename in listing:
    if "cut" in filename:
        print("NOT INCLUDED - Found cut in ", filename)
    else:
        print(filename)
        files_to_prepare.append(filename)
        
## BMI Category 5 training & validation is Unknown --> Discarded
## BMI Category 1 training is empty --> discarded

files_to_prepare.sort()

/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_train_BMI_0_Age_5.csv
/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_train_BMI_1_Age_3.csv
/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_train_BMI_1_Age_2.csv
/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_train_BMI_1_Age_5.csv
/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_train_BMI_1_Age_4.csv
/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_train_BMI_2_Age_1.csv
NOT INCLUDED - Found cut in  /Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_train_BMI_2_Age_4_cut.csv
/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_train_BMI_2_Age_2.csv
/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_train_BMI_2_Age_3.csv
/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_train_BMI_4_Age_4.csv
/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_train_BMI_4_Age_1.csv
/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_train_BMI_4_Age_3.csv
/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_train_BMI_2_Age_4.csv
/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_train_BMI_2_Age_5.csv
/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_train_BMI_4_Age_2.csv
/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_train_BMI_3_Age_1.csv
/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_train_BMI_3_Age_2.csv
NOT INCLUDED - Found cut in  /Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_train_BMI_3_Age_2_cut.csv
/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_train_BMI_3_Age_3.csv
NOT INCLUDED - Found cut in  /Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_train_BMI_3_Age_3_cut.csv
/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_train_BMI_3_Age_4.csv
/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_train_BMI_3_Age_5.csv

In [8]:
len(files_to_prepare)

19

In [9]:
files_to_prepare

['/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_train_BMI_0_Age_5.csv',
 '/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_train_BMI_1_Age_2.csv',
 '/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_train_BMI_1_Age_3.csv',
 '/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_train_BMI_1_Age_4.csv',
 '/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_train_BMI_1_Age_5.csv',
 '/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_train_BMI_2_Age_1.csv',
 '/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_train_BMI_2_Age_2.csv',
 '/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_train_BMI_2_Age_3.csv',
 '/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_train_BMI_2_Age_4.csv',
 '/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_train_BMI_2_Age_5.csv',
 '/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_train_BMI_3_Age_1.csv',
 '/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_train_BMI_3_Age_2.csv',
 '/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_train_BMI_3_Age_3.csv',
 '/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_train_BMI_3_Age_4.csv',
 '/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_train_BMI_3_Age_5.csv',
 '/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_train_BMI_4_Age_1.csv',
 '/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_train_BMI_4_Age_2.csv',
 '/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_train_BMI_4_Age_3.csv',
 '/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_train_BMI_4_Age_4.csv']

### We load validation files just to capture ALL proteins
- Some proteins will appear only in validation
- Some proteins will appear only in train
- We need to ensure ALL columns for Age will be the same in validation and train sets

In [10]:
files_to_prepare_train = files_to_prepare
files_to_prepare_validation = []

listing = glob.glob('/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/' + split_factor_file_validation + '/MGH_ANOVA_BMI_categories_validation_BMI_*.csv')
for filename in listing:
    if "cut" in filename:
        print("NOT INCLUDED - Found cut in ", filename)
    else:
        print(filename)
        files_to_prepare_validation.append(filename)
        
        
        
## BMI Category 5 training & validation is Unknown --> Discarded
## BMI Category 1 training is empty --> discarded

files_to_prepare_validation.sort()

/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_validation_BMI_1_Age_3.csv
/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_validation_BMI_1_Age_2.csv
NOT INCLUDED - Found cut in  /Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_validation_BMI_2_Age_3_cut.csv
NOT INCLUDED - Found cut in  /Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_validation_BMI_1_Age_3_cut.csv
/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_validation_BMI_1_Age_5.csv
/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_validation_BMI_1_Age_4.csv
NOT INCLUDED - Found cut in  /Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_validation_BMI_2_Age_4_cut.csv
/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_validation_BMI_3_Age_2.csv
/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_validation_BMI_3_Age_3.csv
/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_validation_BMI_3_Age_4.csv
/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_validation_BMI_3_Age_5.csv
NOT INCLUDED - Found cut in  /Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_validation_BMI_3_Age_2_cut.csv
/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_validation_BMI_2_Age_1.csv
/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_validation_BMI_2_Age_2.csv
/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_validation_BMI_2_Age_3.csv
/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_validation_BMI_4_Age_4.csv
/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_validation_BMI_4_Age_1.csv
/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_validation_BMI_4_Age_3.csv
/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_validation_BMI_2_Age_4.csv
NOT INCLUDED - Found cut in  /Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_validation_BMI_3_Age_3_cut.csv
/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_validation_BMI_2_Age_5.csv
/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_validation_BMI_4_Age_2.csv

In [11]:
files_to_prepare + files_to_prepare_validation

['/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_train_BMI_0_Age_5.csv',
 '/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_train_BMI_1_Age_2.csv',
 '/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_train_BMI_1_Age_3.csv',
 '/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_train_BMI_1_Age_4.csv',
 '/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_train_BMI_1_Age_5.csv',
 '/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_train_BMI_2_Age_1.csv',
 '/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_train_BMI_2_Age_2.csv',
 '/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_train_BMI_2_Age_3.csv',
 '/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_train_BMI_2_Age_4.csv',
 '/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_train_BMI_2_Age_5.csv',
 '/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_train_BMI_3_Age_1.csv',
 '/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_train_BMI_3_Age_2.csv',
 '/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_train_BMI_3_Age_3.csv',
 '/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_train_BMI_3_Age_4.csv',
 '/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_train_BMI_3_Age_5.csv',
 '/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_train_BMI_4_Age_1.csv',
 '/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_train_BMI_4_Age_2.csv',
 '/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_train_BMI_4_Age_3.csv',
 '/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_train_BMI_4_Age_4.csv',
 '/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_validation_BMI_1_Age_2.csv',
 '/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_validation_BMI_1_Age_3.csv',
 '/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_validation_BMI_1_Age_4.csv',
 '/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_validation_BMI_1_Age_5.csv',
 '/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_validation_BMI_2_Age_1.csv',
 '/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_validation_BMI_2_Age_2.csv',
 '/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_validation_BMI_2_Age_3.csv',
 '/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_validation_BMI_2_Age_4.csv',
 '/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_validation_BMI_2_Age_5.csv',
 '/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_validation_BMI_3_Age_2.csv',
 '/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_validation_BMI_3_Age_3.csv',
 '/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_validation_BMI_3_Age_4.csv',
 '/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_validation_BMI_3_Age_5.csv',
 '/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_validation_BMI_4_Age_1.csv',
 '/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_validation_BMI_4_Age_2.csv',
 '/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_validation_BMI_4_Age_3.csv',
 '/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_validation_BMI_4_Age_4.csv']

In [12]:
array_protein_names = []
array_each_file = []
for file in (files_to_prepare + files_to_prepare_validation):
    array_each_file = separate_proteins(file)
    array_protein_names = array_protein_names + array_each_file

Original Data for /Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_train_BMI_0_Age_5.csv

Empty DataFrame
Columns: [Unnamed: 0, Assay, OlinkID, UniProt, Panel, term, df, sumsq, meansq, statistic, p.value, Adjusted_pval, Threshold, Organ, Desc, Desc_Column]
Index: []

(0, 16)

Empty DataFrame
Columns: [Assay, p.value, Adjusted_pval, Organ, Desc, Desc_Column]
Index: []

(0, 6)

This is training file
creating empty dataframe and placing training_dataset into it

Empty DataFrame
Columns: [Assay, p.value, Adjusted_pval, Organ, Desc, Desc_Column]
Index: []

Original Data for /Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_train_BMI_1_Age_2.csv

Empty DataFrame
Columns: [Unnamed: 0, Assay, OlinkID, UniProt, Panel, term, df, sumsq, meansq, statistic, p.value, Adjusted_pval, Threshold, Organ, Desc, Desc_Column]
Index: []

(0, 16)

Empty DataFrame
Columns: [Assay, p.value, Adjusted_pval, Organ, Desc, Desc_Column]
Index: []

(0, 6)

This is training file
creating empty dataframe and placing training_dataset into it

Empty DataFrame
Columns: [Assay, p.value, Adjusted_pval, Organ, Desc, Desc_Column]
Index: []

Original Data for /Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_train_BMI_1_Age_3.csv

,Unnamed: 0,Assay,OlinkID,UniProt,Panel,term,df,sumsq,meansq,statistic,p.value,Adjusted_pval,Threshold,Organ,Desc,Desc_Column
0,1,PCOLCE,OID20384,Q15113,Cardiometabolic,Timepoint,3,6.754267,2.251422,25.749438,0.000010,0.014189,Significant,Low tissue specificity,Procollagen C-endopeptidase enhancer 1,Low_tissue_specificity
1,2,CCL28,OID20569,Q9NRJ3,Inflammation,Timepoint,3,13.776729,4.592243,20.396325,0.000034,0.024961,Significant,Tissue enriched: salivary gland,C-C motif chemokine 28,Tissue_enriched_salivary_gland
2,3,FGFBP1,OID21507,Q14512,Oncology,Timepoint,3,97.879666,32.626555,17.856757,0.000068,0.025869,Significant,"Tissue enhanced: esophagus, vagina",Fibroblast growth factor-binding protein 1,Tissue_enhanced_esophagus_vagina
3,4,MDK,OID21489,P21741,Oncology,Timepoint,3,72.990818,24.330273,17.735945,0.000070,0.025869,Significant,Tissue enhanced: ovary,Midkine,Tissue_enhanced_ovary
4,5,CCL21,OID20686,O00585,Inflammation,Timepoint,3,21.376349,7.125450,16.016393,0.000118,0.034758,Significant,Tissue enriched: lymphoid tissue,C-C motif chemokine 21,Tissue_enriched_lymphoid_tissue

(5, 16)

,Assay,p.value,Adjusted_pval,Organ,Desc,Desc_Column
0,PCOLCE,0.000010,0.014189,Low tissue specificity,Procollagen C-endopeptidase enhancer 1,Low_tissue_specificity
1,CCL28,0.000034,0.024961,Tissue enriched: salivary gland,C-C motif chemokine 28,Tissue_enriched_salivary_gland
2,FGFBP1,0.000068,0.025869,"Tissue enhanced: esophagus, vagina",Fibroblast growth factor-binding protein 1,Tissue_enhanced_esophagus_vagina
3,MDK,0.000070,0.025869,Tissue enhanced: ovary,Midkine,Tissue_enhanced_ovary
4,CCL21,0.000118,0.034758,Tissue enriched: lymphoid tissue,C-C motif chemokine 21,Tissue_enriched_lymphoid_tissue

(5, 6)

This is training file
creating empty dataframe and placing training_dataset into it

,Assay,p.value,Adjusted_pval,Organ,Desc,Desc_Column
0,PCOLCE,0.000010,0.014189,Low tissue specificity,Procollagen C-endopeptidase enhancer 1,Low_tissue_specificity
1,CCL28,0.000034,0.024961,Tissue enriched: salivary gland,C-C motif chemokine 28,Tissue_enriched_salivary_gland
2,FGFBP1,0.000068,0.025869,"Tissue enhanced: esophagus, vagina",Fibroblast growth factor-binding protein 1,Tissue_enhanced_esophagus_vagina
3,MDK,0.000070,0.025869,Tissue enhanced: ovary,Midkine,Tissue_enhanced_ovary
4,CCL21,0.000118,0.034758,Tissue enriched: lymphoid tissue,C-C motif chemokine 21,Tissue_enriched_lymphoid_tissue

Original Data for /Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_train_BMI_1_Age_4.csv

Empty DataFrame
Columns: [Unnamed: 0, Assay, OlinkID, UniProt, Panel, term, df, sumsq, meansq, statistic, p.value, Adjusted_pval, Threshold, Organ, Desc, Desc_Column]
Index: []

(0, 16)

Empty DataFrame
Columns: [Assay, p.value, Adjusted_pval, Organ, Desc, Desc_Column]
Index: []

(0, 6)

This is training file
creating empty dataframe and placing training_dataset into it

Empty DataFrame
Columns: [Assay, p.value, Adjusted_pval, Organ, Desc, Desc_Column]
Index: []

Original Data for /Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_train_BMI_1_Age_5.csv

,Unnamed: 0,Assay,OlinkID,UniProt,Panel,term,df,sumsq,meansq,statistic,p.value,Adjusted_pval,Threshold,Organ,Desc,Desc_Column
0,1,PTN,OID20083,P21246,Cardiometabolic,Timepoint,3,134.465329,44.821776,30.980492,4.094466e-07,0.000603,Significant,"Tissue enhanced: brain, parathyroid gland",Pleiotrophin,Tissue_enhanced_brain_parathyroid_gland

(1, 16)

,Assay,p.value,Adjusted_pval,Organ,Desc,Desc_Column
0,PTN,4.094466e-07,0.000603,"Tissue enhanced: brain, parathyroid gland",Pleiotrophin,Tissue_enhanced_brain_parathyroid_gland

(1, 6)

This is training file
creating empty dataframe and placing training_dataset into it

,Assay,p.value,Adjusted_pval,Organ,Desc,Desc_Column
0,PTN,4.094466e-07,0.000603,"Tissue enhanced: brain, parathyroid gland",Pleiotrophin,Tissue_enhanced_brain_parathyroid_gland

Original Data for /Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_train_BMI_2_Age_1.csv

Empty DataFrame
Columns: [Unnamed: 0, Assay, OlinkID, UniProt, Panel, term, df, sumsq, meansq, statistic, p.value, Adjusted_pval, Threshold, Organ, Desc, Desc_Column]
Index: []

(0, 16)

Empty DataFrame
Columns: [Assay, p.value, Adjusted_pval, Organ, Desc, Desc_Column]
Index: []

(0, 6)

This is training file
creating empty dataframe and placing training_dataset into it

Empty DataFrame
Columns: [Assay, p.value, Adjusted_pval, Organ, Desc, Desc_Column]
Index: []

Original Data for /Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_train_BMI_2_Age_2.csv

,Unnamed: 0,Assay,OlinkID,UniProt,Panel,term,df,sumsq,meansq,statistic,p.value,Adjusted_pval,Threshold,Organ,Desc,Desc_Column
0,1,PTN,OID20083,P21246,Cardiometabolic,Timepoint,3,127.744539,42.581513,15.149725,0.000010,0.004339,Significant,"Tissue enhanced: brain, parathyroid gland",Pleiotrophin,Tissue_enhanced_brain_parathyroid_gland
1,2,SDC1,OID20169,P18827,Cardiometabolic,Timepoint,3,57.660000,19.220000,15.985718,0.000006,0.004339,Significant,"Tissue enhanced: esophagus, liver, skin 1",Syndecan-1,Tissue_enhanced_esophagus_liver_skin_1
2,3,SFRP1,OID20984,Q8N474,Neurology,Timepoint,3,159.092272,53.030757,14.846795,0.000011,0.004339,Significant,"Tissue enhanced: breast, choroid plexus",Secreted frizzled-related protein 1,Tissue_enhanced_breast_choroid_plexus
3,4,SMOC1,OID21461,Q9H4F8,Oncology,Timepoint,3,62.057239,20.685746,14.757877,0.000012,0.004339,Significant,"Tissue enhanced: brain, liver",SPARC-related modular calcium-binding protein 1,Tissue_enhanced_brain_liver
4,5,HGF,OID20656,P14210,Inflammation,Timepoint,3,40.224933,13.408311,12.303356,0.000045,0.013249,Significant,Tissue enriched: placenta,Hepatocyte growth factor,Tissue_enriched_placenta
5,6,CCL24,OID20772,O00175,Inflammation,Timepoint,3,23.992325,7.997442,11.140099,0.000090,0.020970,Significant,"Group enriched: intestine, lymphoid tissue",C-C motif chemokine 24,Group_enriched_intestine_lymphoid_tissue
6,7,PRL,OID21033,P01236,Neurology,Timepoint,3,17.814402,5.938134,10.968251,0.000100,0.020970,Significant,Tissue enriched: pituitary gland,Prolactin,Tissue_enriched_pituitary_gland
7,8,SPON1,OID20759,Q9HCB6,Inflammation,Timepoint,3,9.954885,3.318295,10.062367,0.000176,0.032476,Significant,Tissue enhanced: gallbladder,Spondin-1,Tissue_enhanced_gallbladder
8,9,CLC,OID20126,Q05315,Cardiometabolic,Timepoint,3,5.155586,1.718529,9.404238,0.000272,0.044470,Significant,Tissue enriched: bone marrow,Galectin-10,Tissue_enriched_bone_marrow

(9, 16)

,Assay,p.value,Adjusted_pval,Organ,Desc,Desc_Column
0,PTN,0.000010,0.004339,"Tissue enhanced: brain, parathyroid gland",Pleiotrophin,Tissue_enhanced_brain_parathyroid_gland
1,SDC1,0.000006,0.004339,"Tissue enhanced: esophagus, liver, skin 1",Syndecan-1,Tissue_enhanced_esophagus_liver_skin_1
2,SFRP1,0.000011,0.004339,"Tissue enhanced: breast, choroid plexus",Secreted frizzled-related protein 1,Tissue_enhanced_breast_choroid_plexus
3,SMOC1,0.000012,0.004339,"Tissue enhanced: brain, liver",SPARC-related modular calcium-binding protein 1,Tissue_enhanced_brain_liver
4,HGF,0.000045,0.013249,Tissue enriched: placenta,Hepatocyte growth factor,Tissue_enriched_placenta
5,CCL24,0.000090,0.020970,"Group enriched: intestine, lymphoid tissue",C-C motif chemokine 24,Group_enriched_intestine_lymphoid_tissue
6,PRL,0.000100,0.020970,Tissue enriched: pituitary gland,Prolactin,Tissue_enriched_pituitary_gland
7,SPON1,0.000176,0.032476,Tissue enhanced: gallbladder,Spondin-1,Tissue_enhanced_gallbladder
8,CLC,0.000272,0.044470,Tissue enriched: bone marrow,Galectin-10,Tissue_enriched_bone_marrow

(9, 6)

This is training file
creating empty dataframe and placing training_dataset into it

,Assay,p.value,Adjusted_pval,Organ,Desc,Desc_Column
0,PTN,0.000010,0.004339,"Tissue enhanced: brain, parathyroid gland",Pleiotrophin,Tissue_enhanced_brain_parathyroid_gland
1,SDC1,0.000006,0.004339,"Tissue enhanced: esophagus, liver, skin 1",Syndecan-1,Tissue_enhanced_esophagus_liver_skin_1
2,SFRP1,0.000011,0.004339,"Tissue enhanced: breast, choroid plexus",Secreted frizzled-related protein 1,Tissue_enhanced_breast_choroid_plexus
3,SMOC1,0.000012,0.004339,"Tissue enhanced: brain, liver",SPARC-related modular calcium-binding protein 1,Tissue_enhanced_brain_liver
4,HGF,0.000045,0.013249,Tissue enriched: placenta,Hepatocyte growth factor,Tissue_enriched_placenta
5,CCL24,0.000090,0.020970,"Group enriched: intestine, lymphoid tissue",C-C motif chemokine 24,Group_enriched_intestine_lymphoid_tissue
6,PRL,0.000100,0.020970,Tissue enriched: pituitary gland,Prolactin,Tissue_enriched_pituitary_gland
7,SPON1,0.000176,0.032476,Tissue enhanced: gallbladder,Spondin-1,Tissue_enhanced_gallbladder
8,CLC,0.000272,0.044470,Tissue enriched: bone marrow,Galectin-10,Tissue_enriched_bone_marrow

Original Data for /Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_train_BMI_2_Age_3.csv

Empty DataFrame
Columns: [Unnamed: 0, Assay, OlinkID, UniProt, Panel, term, df, sumsq, meansq, statistic, p.value, Adjusted_pval, Threshold, Organ, Desc, Desc_Column]
Index: []

(0, 16)

Empty DataFrame
Columns: [Assay, p.value, Adjusted_pval, Organ, Desc, Desc_Column]
Index: []

(0, 6)

This is training file
creating empty dataframe and placing training_dataset into it

Empty DataFrame
Columns: [Assay, p.value, Adjusted_pval, Organ, Desc, Desc_Column]
Index: []

Original Data for /Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_train_BMI_2_Age_4.csv

,Unnamed: 0,Assay,OlinkID,UniProt,Panel,term,df,sumsq,meansq,statistic,p.value,Adjusted_pval,Threshold,Organ,Desc,Desc_Column
0,1,DLK1,OID20295,P80370,Cardiometabolic,Timepoint,3,18.668673,6.222891,15.930223,1.136657e-07,0.000042,Significant,"Group enriched: adrenal gland, pituitary gland...",Protein delta homolog 1,Group_enriched_adrenal_gland_pituitary_gland_p...
1,2,PTN,OID20083,P21246,Cardiometabolic,Timepoint,3,177.344437,59.114812,16.352611,8.101221e-08,0.000042,Significant,"Tissue enhanced: brain, parathyroid gland",Pleiotrophin,Tissue_enhanced_brain_parathyroid_gland
2,3,REG3A,OID20258,Q06141,Cardiometabolic,Timepoint,3,71.522775,23.840925,15.648256,1.428088e-07,0.000042,Significant,"Group enriched: intestine, pancreas",Regenerating islet-derived protein 3-alpha,Group_enriched_intestine_pancreas
3,4,SDC1,OID20169,P18827,Cardiometabolic,Timepoint,3,75.700615,25.233538,16.288457,8.526714e-08,0.000042,Significant,"Tissue enhanced: esophagus, liver, skin 1",Syndecan-1,Tissue_enhanced_esophagus_liver_skin_1
4,5,SMOC1,OID21461,Q9H4F8,Oncology,Timepoint,3,92.332399,30.777466,15.794222,1.268660e-07,0.000042,Significant,"Tissue enhanced: brain, liver",SPARC-related modular calcium-binding protein 1,Tissue_enhanced_brain_liver
5,6,SFRP1,OID20984,Q8N474,Neurology,Timepoint,3,252.597092,84.199031,15.281165,1.927334e-07,0.000047,Significant,"Tissue enhanced: breast, choroid plexus",Secreted frizzled-related protein 1,Tissue_enhanced_breast_choroid_plexus
6,7,COL6A3,OID20292,P12111,Cardiometabolic,Timepoint,3,43.355903,14.451968,14.982966,2.464327e-07,0.000052,Significant,Tissue enhanced: smooth muscle,Collagen alpha-3(VI) chain,Tissue_enhanced_smooth_muscle
7,8,SCARF2,OID21048,Q96GP6,Neurology,Timepoint,3,5.710664,1.903555,14.507594,3.661861e-07,0.000060,Significant,Low tissue specificity,Scavenger receptor class F member 2,Low_tissue_specificity
8,9,SPON1,OID20759,Q9HCB6,Inflammation,Timepoint,3,30.998312,10.332771,14.579194,3.448644e-07,0.000060,Significant,Tissue enhanced: gallbladder,Spondin-1,Tissue_enhanced_gallbladder
9,10,GPC1,OID21438,P35052,Oncology,Timepoint,3,15.220299,5.073433,13.947171,5.881060e-07,0.000087,Significant,Tissue enhanced: skin 1,Glypican-1,Tissue_enhanced_skin_1

(496, 16)

,Assay,p.value,Adjusted_pval,Organ,Desc,Desc_Column
0,DLK1,1.136657e-07,0.000042,"Group enriched: adrenal gland, pituitary gland...",Protein delta homolog 1,Group_enriched_adrenal_gland_pituitary_gland_p...
1,PTN,8.101221e-08,0.000042,"Tissue enhanced: brain, parathyroid gland",Pleiotrophin,Tissue_enhanced_brain_parathyroid_gland
2,REG3A,1.428088e-07,0.000042,"Group enriched: intestine, pancreas",Regenerating islet-derived protein 3-alpha,Group_enriched_intestine_pancreas
3,SDC1,8.526714e-08,0.000042,"Tissue enhanced: esophagus, liver, skin 1",Syndecan-1,Tissue_enhanced_esophagus_liver_skin_1
4,SMOC1,1.268660e-07,0.000042,"Tissue enhanced: brain, liver",SPARC-related modular calcium-binding protein 1,Tissue_enhanced_brain_liver
5,SFRP1,1.927334e-07,0.000047,"Tissue enhanced: breast, choroid plexus",Secreted frizzled-related protein 1,Tissue_enhanced_breast_choroid_plexus
6,COL6A3,2.464327e-07,0.000052,Tissue enhanced: smooth muscle,Collagen alpha-3(VI) chain,Tissue_enhanced_smooth_muscle
7,SCARF2,3.661861e-07,0.000060,Low tissue specificity,Scavenger receptor class F member 2,Low_tissue_specificity
8,SPON1,3.448644e-07,0.000060,Tissue enhanced: gallbladder,Spondin-1,Tissue_enhanced_gallbladder
9,GPC1,5.881060e-07,0.000087,Tissue enhanced: skin 1,Glypican-1,Tissue_enhanced_skin_1

(496, 6)

This is training file
creating empty dataframe and placing training_dataset into it

,Assay,p.value,Adjusted_pval,Organ,Desc,Desc_Column
0,DLK1,1.136657e-07,0.000042,"Group enriched: adrenal gland, pituitary gland...",Protein delta homolog 1,Group_enriched_adrenal_gland_pituitary_gland_p...
1,PTN,8.101221e-08,0.000042,"Tissue enhanced: brain, parathyroid gland",Pleiotrophin,Tissue_enhanced_brain_parathyroid_gland
2,REG3A,1.428088e-07,0.000042,"Group enriched: intestine, pancreas",Regenerating islet-derived protein 3-alpha,Group_enriched_intestine_pancreas
3,SDC1,8.526714e-08,0.000042,"Tissue enhanced: esophagus, liver, skin 1",Syndecan-1,Tissue_enhanced_esophagus_liver_skin_1
4,SMOC1,1.268660e-07,0.000042,"Tissue enhanced: brain, liver",SPARC-related modular calcium-binding protein 1,Tissue_enhanced_brain_liver
5,SFRP1,1.927334e-07,0.000047,"Tissue enhanced: breast, choroid plexus",Secreted frizzled-related protein 1,Tissue_enhanced_breast_choroid_plexus
6,COL6A3,2.464327e-07,0.000052,Tissue enhanced: smooth muscle,Collagen alpha-3(VI) chain,Tissue_enhanced_smooth_muscle
7,SCARF2,3.661861e-07,0.000060,Low tissue specificity,Scavenger receptor class F member 2,Low_tissue_specificity
8,SPON1,3.448644e-07,0.000060,Tissue enhanced: gallbladder,Spondin-1,Tissue_enhanced_gallbladder
9,GPC1,5.881060e-07,0.000087,Tissue enhanced: skin 1,Glypican-1,Tissue_enhanced_skin_1

Original Data for /Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_train_BMI_2_Age_5.csv

Empty DataFrame
Columns: [Unnamed: 0, Assay, OlinkID, UniProt, Panel, term, df, sumsq, meansq, statistic, p.value, Adjusted_pval, Threshold, Organ, Desc, Desc_Column]
Index: []

(0, 16)

Empty DataFrame
Columns: [Assay, p.value, Adjusted_pval, Organ, Desc, Desc_Column]
Index: []

(0, 6)

This is training file
creating empty dataframe and placing training_dataset into it

Empty DataFrame
Columns: [Assay, p.value, Adjusted_pval, Organ, Desc, Desc_Column]
Index: []

Original Data for /Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_train_BMI_3_Age_1.csv

Empty DataFrame
Columns: [Unnamed: 0, Assay, OlinkID, UniProt, Panel, term, df, sumsq, meansq, statistic, p.value, Adjusted_pval, Threshold, Organ, Desc, Desc_Column]
Index: []

(0, 16)

Empty DataFrame
Columns: [Assay, p.value, Adjusted_pval, Organ, Desc, Desc_Column]
Index: []

(0, 6)

This is training file
creating empty dataframe and placing training_dataset into it

Empty DataFrame
Columns: [Assay, p.value, Adjusted_pval, Organ, Desc, Desc_Column]
Index: []

Original Data for /Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_train_BMI_3_Age_2.csv

,Unnamed: 0,Assay,OlinkID,UniProt,Panel,term,df,sumsq,meansq,statistic,p.value,Adjusted_pval,Threshold,Organ,Desc,Desc_Column
0,1,PADI2,OID20467,Q9Y2J8,Inflammation,Timepoint,3,19.686427,6.562142,26.574396,1.052014e-08,0.000015,Significant,"Tissue enhanced: brain, skeletal muscle, tongue",Protein-arginine deiminase type-2,Tissue_enhanced_brain_skeletal_muscle_tongue
1,2,DPP10,OID20527,Q8N608,Inflammation,Timepoint,3,9.848162,3.282721,15.013086,3.258387e-06,0.002398,Significant,"Tissue enhanced: adrenal gland, brain, pancreas",Inactive dipeptidyl peptidase 10,Tissue_enhanced_adrenal_gland_brain_pancreas
2,3,TNFRSF9,OID20985,Q07011,Neurology,Timepoint,3,18.397428,6.132476,14.286004,5.068765e-06,0.002487,Significant,Tissue enriched: lymphoid tissue,Tumor necrosis factor receptor superfamily mem...,Tissue_enriched_lymphoid_tissue
3,4,VAMP5,OID20071,O95183,Cardiometabolic,Timepoint,3,14.875853,4.958618,13.363742,9.043443e-06,0.003328,Significant,Low tissue specificity,Vesicle-associated membrane protein 5,Low_tissue_specificity
4,5,NEFL,OID20871,P07196,Neurology,Timepoint,3,31.382632,10.460877,12.247797,1.876944e-05,0.005526,Significant,Tissue enriched: brain,Neurofilament light polypeptide,Tissue_enriched_brain
5,6,PCOLCE,OID20384,Q15113,Cardiometabolic,Timepoint,3,6.868053,2.289351,11.879368,2.406847e-05,0.005905,Significant,Low tissue specificity,Procollagen C-endopeptidase enhancer 1,Low_tissue_specificity
6,7,PIK3IP1,OID21094,Q96FE7,Neurology,Timepoint,3,8.898455,2.966152,11.411685,3.319162e-05,0.006980,Significant,Low tissue specificity,Phosphoinositide-3-kinase-interacting protein 1,Low_tissue_specificity
7,8,CCL4,OID20695,P13236,Inflammation,Timepoint,3,15.094893,5.031631,10.234765,7.679093e-05,0.008074,Significant,Tissue enhanced: bone marrow,C-C motif chemokine 4,Tissue_enhanced_bone_marrow
8,9,IFNL1,OID20795,Q8IU54,Neurology,Timepoint,3,23.327867,7.775956,10.358637,7.015404e-05,0.008074,Significant,Not detected,Interferon lambda-1,Not_detected
9,10,ITGA11,OID20581,Q9UKX5,Inflammation,Timepoint,3,6.669152,2.223051,10.422360,6.697979e-05,0.008074,Significant,"Tissue enhanced: cervix, endometrium 1, smooth...",Integrin alpha-11,Tissue_enhanced_cervix_endometrium_1_smooth_mu...

(125, 16)

,Assay,p.value,Adjusted_pval,Organ,Desc,Desc_Column
0,PADI2,1.052014e-08,0.000015,"Tissue enhanced: brain, skeletal muscle, tongue",Protein-arginine deiminase type-2,Tissue_enhanced_brain_skeletal_muscle_tongue
1,DPP10,3.258387e-06,0.002398,"Tissue enhanced: adrenal gland, brain, pancreas",Inactive dipeptidyl peptidase 10,Tissue_enhanced_adrenal_gland_brain_pancreas
2,TNFRSF9,5.068765e-06,0.002487,Tissue enriched: lymphoid tissue,Tumor necrosis factor receptor superfamily mem...,Tissue_enriched_lymphoid_tissue
3,VAMP5,9.043443e-06,0.003328,Low tissue specificity,Vesicle-associated membrane protein 5,Low_tissue_specificity
4,NEFL,1.876944e-05,0.005526,Tissue enriched: brain,Neurofilament light polypeptide,Tissue_enriched_brain
5,PCOLCE,2.406847e-05,0.005905,Low tissue specificity,Procollagen C-endopeptidase enhancer 1,Low_tissue_specificity
6,PIK3IP1,3.319162e-05,0.006980,Low tissue specificity,Phosphoinositide-3-kinase-interacting protein 1,Low_tissue_specificity
7,CCL4,7.679093e-05,0.008074,Tissue enhanced: bone marrow,C-C motif chemokine 4,Tissue_enhanced_bone_marrow
8,IFNL1,7.015404e-05,0.008074,Not detected,Interferon lambda-1,Not_detected
9,ITGA11,6.697979e-05,0.008074,"Tissue enhanced: cervix, endometrium 1, smooth...",Integrin alpha-11,Tissue_enhanced_cervix_endometrium_1_smooth_mu...

(125, 6)

This is training file
creating empty dataframe and placing training_dataset into it

,Assay,p.value,Adjusted_pval,Organ,Desc,Desc_Column
0,PADI2,1.052014e-08,0.000015,"Tissue enhanced: brain, skeletal muscle, tongue",Protein-arginine deiminase type-2,Tissue_enhanced_brain_skeletal_muscle_tongue
1,DPP10,3.258387e-06,0.002398,"Tissue enhanced: adrenal gland, brain, pancreas",Inactive dipeptidyl peptidase 10,Tissue_enhanced_adrenal_gland_brain_pancreas
2,TNFRSF9,5.068765e-06,0.002487,Tissue enriched: lymphoid tissue,Tumor necrosis factor receptor superfamily mem...,Tissue_enriched_lymphoid_tissue
3,VAMP5,9.043443e-06,0.003328,Low tissue specificity,Vesicle-associated membrane protein 5,Low_tissue_specificity
4,NEFL,1.876944e-05,0.005526,Tissue enriched: brain,Neurofilament light polypeptide,Tissue_enriched_brain
5,PCOLCE,2.406847e-05,0.005905,Low tissue specificity,Procollagen C-endopeptidase enhancer 1,Low_tissue_specificity
6,PIK3IP1,3.319162e-05,0.006980,Low tissue specificity,Phosphoinositide-3-kinase-interacting protein 1,Low_tissue_specificity
7,CCL4,7.679093e-05,0.008074,Tissue enhanced: bone marrow,C-C motif chemokine 4,Tissue_enhanced_bone_marrow
8,IFNL1,7.015404e-05,0.008074,Not detected,Interferon lambda-1,Not_detected
9,ITGA11,6.697979e-05,0.008074,"Tissue enhanced: cervix, endometrium 1, smooth...",Integrin alpha-11,Tissue_enhanced_cervix_endometrium_1_smooth_mu...

Original Data for /Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_train_BMI_3_Age_3.csv

,Unnamed: 0,Assay,OlinkID,UniProt,Panel,term,df,sumsq,meansq,statistic,p.value,Adjusted_pval,Threshold,Organ,Desc,Desc_Column
0,1,SDC1,OID20169,P18827,Cardiometabolic,Timepoint,3,69.229613,23.076538,15.657925,3.400218e-07,0.000501,Significant,"Tissue enhanced: esophagus, liver, skin 1",Syndecan-1,Tissue_enhanced_esophagus_liver_skin_1
1,2,PRSS8,OID20763,Q16651,Inflammation,Timepoint,3,9.956267,3.318756,14.050723,1.142717e-06,0.000841,Significant,Tissue enhanced: salivary gland,Prostasin,Tissue_enhanced_salivary_gland
2,3,MSLN,OID21380,Q13421,Oncology,Timepoint,3,18.394449,6.131483,12.696328,3.335193e-06,0.001636,Significant,"Group enriched: fallopian tube, lung",Mesothelin,Group_enriched_fallopian_tube_lung
3,4,ITGA11,OID20581,Q9UKX5,Inflammation,Timepoint,3,9.854949,3.284983,9.496153,5.143803e-05,0.018929,Significant,"Tissue enhanced: cervix, endometrium 1, smooth...",Integrin alpha-11,Tissue_enhanced_cervix_endometrium_1_smooth_mu...
4,5,CXCL10,OID20697,P02778,Inflammation,Timepoint,3,27.423636,9.141212,8.400465,1.413948e-04,0.032061,Significant,Tissue enhanced: lymphoid tissue,C-X-C motif chemokine 10,Tissue_enhanced_lymphoid_tissue
5,6,IL7R,OID21136,P16871,Neurology,Timepoint,3,5.993955,1.997985,8.479921,1.312149e-04,0.032061,Significant,Tissue enhanced: lymphoid tissue,Interleukin-7 receptor subunit alpha,Tissue_enhanced_lymphoid_tissue
6,7,ITGAV,OID21416,P06756,Oncology,Timepoint,3,1.955605,0.651868,8.320553,1.524640e-04,0.032061,Significant,Low tissue specificity,Integrin alpha-V,Low_tissue_specificity
7,8,CELA3A,OID20298,P09093,Cardiometabolic,Timepoint,3,20.802957,6.934319,8.039358,1.991297e-04,0.036640,Significant,Tissue enriched: pancreas,Chymotrypsin-like elastase family member 3A,Tissue_enriched_pancreas
8,9,FCRL5,OID21111,Q96RD9,Neurology,Timepoint,3,17.884961,5.961654,7.550597,3.189063e-04,0.039354,Significant,Tissue enriched: lymphoid tissue,Fc receptor-like protein 5,Tissue_enriched_lymphoid_tissue
9,10,NTRK2,OID20136,Q16620,Cardiometabolic,Timepoint,3,3.114213,1.038071,7.649716,2.896535e-04,0.039354,Significant,"Tissue enhanced: brain, thyroid gland",BDNF/NT-3 growth factors receptor,Tissue_enhanced_brain_thyroid_gland

(21, 16)

,Assay,p.value,Adjusted_pval,Organ,Desc,Desc_Column
0,SDC1,3.400218e-07,0.000501,"Tissue enhanced: esophagus, liver, skin 1",Syndecan-1,Tissue_enhanced_esophagus_liver_skin_1
1,PRSS8,1.142717e-06,0.000841,Tissue enhanced: salivary gland,Prostasin,Tissue_enhanced_salivary_gland
2,MSLN,3.335193e-06,0.001636,"Group enriched: fallopian tube, lung",Mesothelin,Group_enriched_fallopian_tube_lung
3,ITGA11,5.143803e-05,0.018929,"Tissue enhanced: cervix, endometrium 1, smooth...",Integrin alpha-11,Tissue_enhanced_cervix_endometrium_1_smooth_mu...
4,CXCL10,1.413948e-04,0.032061,Tissue enhanced: lymphoid tissue,C-X-C motif chemokine 10,Tissue_enhanced_lymphoid_tissue
5,IL7R,1.312149e-04,0.032061,Tissue enhanced: lymphoid tissue,Interleukin-7 receptor subunit alpha,Tissue_enhanced_lymphoid_tissue
6,ITGAV,1.524640e-04,0.032061,Low tissue specificity,Integrin alpha-V,Low_tissue_specificity
7,CELA3A,1.991297e-04,0.036640,Tissue enriched: pancreas,Chymotrypsin-like elastase family member 3A,Tissue_enriched_pancreas
8,FCRL5,3.189063e-04,0.039354,Tissue enriched: lymphoid tissue,Fc receptor-like protein 5,Tissue_enriched_lymphoid_tissue
9,NTRK2,2.896535e-04,0.039354,"Tissue enhanced: brain, thyroid gland",BDNF/NT-3 growth factors receptor,Tissue_enhanced_brain_thyroid_gland

(21, 6)

This is training file
creating empty dataframe and placing training_dataset into it

,Assay,p.value,Adjusted_pval,Organ,Desc,Desc_Column
0,SDC1,3.400218e-07,0.000501,"Tissue enhanced: esophagus, liver, skin 1",Syndecan-1,Tissue_enhanced_esophagus_liver_skin_1
1,PRSS8,1.142717e-06,0.000841,Tissue enhanced: salivary gland,Prostasin,Tissue_enhanced_salivary_gland
2,MSLN,3.335193e-06,0.001636,"Group enriched: fallopian tube, lung",Mesothelin,Group_enriched_fallopian_tube_lung
3,ITGA11,5.143803e-05,0.018929,"Tissue enhanced: cervix, endometrium 1, smooth...",Integrin alpha-11,Tissue_enhanced_cervix_endometrium_1_smooth_mu...
4,CXCL10,1.413948e-04,0.032061,Tissue enhanced: lymphoid tissue,C-X-C motif chemokine 10,Tissue_enhanced_lymphoid_tissue
5,IL7R,1.312149e-04,0.032061,Tissue enhanced: lymphoid tissue,Interleukin-7 receptor subunit alpha,Tissue_enhanced_lymphoid_tissue
6,ITGAV,1.524640e-04,0.032061,Low tissue specificity,Integrin alpha-V,Low_tissue_specificity
7,CELA3A,1.991297e-04,0.036640,Tissue enriched: pancreas,Chymotrypsin-like elastase family member 3A,Tissue_enriched_pancreas
8,FCRL5,3.189063e-04,0.039354,Tissue enriched: lymphoid tissue,Fc receptor-like protein 5,Tissue_enriched_lymphoid_tissue
9,NTRK2,2.896535e-04,0.039354,"Tissue enhanced: brain, thyroid gland",BDNF/NT-3 growth factors receptor,Tissue_enhanced_brain_thyroid_gland

Original Data for /Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_train_BMI_3_Age_4.csv

Empty DataFrame
Columns: [Unnamed: 0, Assay, OlinkID, UniProt, Panel, term, df, sumsq, meansq, statistic, p.value, Adjusted_pval, Threshold, Organ, Desc, Desc_Column]
Index: []

(0, 16)

Empty DataFrame
Columns: [Assay, p.value, Adjusted_pval, Organ, Desc, Desc_Column]
Index: []

(0, 6)

This is training file
creating empty dataframe and placing training_dataset into it

Empty DataFrame
Columns: [Assay, p.value, Adjusted_pval, Organ, Desc, Desc_Column]
Index: []

Original Data for /Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_train_BMI_3_Age_5.csv

Empty DataFrame
Columns: [Unnamed: 0, Assay, OlinkID, UniProt, Panel, term, df, sumsq, meansq, statistic, p.value, Adjusted_pval, Threshold, Organ, Desc, Desc_Column]
Index: []

(0, 16)

Empty DataFrame
Columns: [Assay, p.value, Adjusted_pval, Organ, Desc, Desc_Column]
Index: []

(0, 6)

This is training file
creating empty dataframe and placing training_dataset into it

Empty DataFrame
Columns: [Assay, p.value, Adjusted_pval, Organ, Desc, Desc_Column]
Index: []

Original Data for /Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_train_BMI_4_Age_1.csv

Empty DataFrame
Columns: [Unnamed: 0, Assay, OlinkID, UniProt, Panel, term, df, sumsq, meansq, statistic, p.value, Adjusted_pval, Threshold, Organ, Desc, Desc_Column]
Index: []

(0, 16)

Empty DataFrame
Columns: [Assay, p.value, Adjusted_pval, Organ, Desc, Desc_Column]
Index: []

(0, 6)

This is training file
creating empty dataframe and placing training_dataset into it

Empty DataFrame
Columns: [Assay, p.value, Adjusted_pval, Organ, Desc, Desc_Column]
Index: []

Original Data for /Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_train_BMI_4_Age_2.csv

Empty DataFrame
Columns: [Unnamed: 0, Assay, OlinkID, UniProt, Panel, term, df, sumsq, meansq, statistic, p.value, Adjusted_pval, Threshold, Organ, Desc, Desc_Column]
Index: []

(0, 16)

Empty DataFrame
Columns: [Assay, p.value, Adjusted_pval, Organ, Desc, Desc_Column]
Index: []

(0, 6)

This is training file
creating empty dataframe and placing training_dataset into it

Empty DataFrame
Columns: [Assay, p.value, Adjusted_pval, Organ, Desc, Desc_Column]
Index: []

Original Data for /Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_train_BMI_4_Age_3.csv

,Unnamed: 0,Assay,OlinkID,UniProt,Panel,term,df,sumsq,meansq,statistic,p.value,Adjusted_pval,Threshold,Organ,Desc,Desc_Column
0,1,MFAP3,OID20057,P55082,Cardiometabolic,Timepoint,2,13.069698,6.534849,89.763306,0.000034,0.04979,Significant,Low tissue specificity,Microfibril-associated glycoprotein 3,Low_tissue_specificity

(1, 16)

,Assay,p.value,Adjusted_pval,Organ,Desc,Desc_Column
0,MFAP3,0.000034,0.04979,Low tissue specificity,Microfibril-associated glycoprotein 3,Low_tissue_specificity

(1, 6)

This is training file
creating empty dataframe and placing training_dataset into it

,Assay,p.value,Adjusted_pval,Organ,Desc,Desc_Column
0,MFAP3,0.000034,0.04979,Low tissue specificity,Microfibril-associated glycoprotein 3,Low_tissue_specificity

Original Data for /Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_train_BMI_4_Age_4.csv

Empty DataFrame
Columns: [Unnamed: 0, Assay, OlinkID, UniProt, Panel, term, df, sumsq, meansq, statistic, p.value, Adjusted_pval, Threshold, Organ, Desc, Desc_Column]
Index: []

(0, 16)

Empty DataFrame
Columns: [Assay, p.value, Adjusted_pval, Organ, Desc, Desc_Column]
Index: []

(0, 6)

This is training file
creating empty dataframe and placing training_dataset into it

Empty DataFrame
Columns: [Assay, p.value, Adjusted_pval, Organ, Desc, Desc_Column]
Index: []

Original Data for /Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_validation_BMI_1_Age_2.csv

Empty DataFrame
Columns: [Unnamed: 0, Assay, OlinkID, UniProt, Panel, term, df, sumsq, meansq, statistic, p.value, Adjusted_pval, Threshold, Organ, Desc, Desc_Column]
Index: []

(0, 16)

Empty DataFrame
Columns: [Assay, p.value, Adjusted_pval, Organ, Desc, Desc_Column]
Index: []

(0, 6)

This is validation file

Empty DataFrame
Columns: []
Index: []

Original Data for /Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_validation_BMI_1_Age_3.csv

,Unnamed: 0,Assay,OlinkID,UniProt,Panel,term,df,sumsq,meansq,statistic,p.value,Adjusted_pval,Threshold,Organ,Desc,Desc_Column
0,1,TXNDC5,OID21012,Q8NBS9,Neurology,Timepoint,5,13.420556,2.684111,359.537788,0.000002,0.003230,Significant,Low tissue specificity,Thioredoxin domain-containing protein 5,Low_tissue_specificity
1,2,SCARF1,OID20297,Q14162,Cardiometabolic,Timepoint,5,3.356572,0.671314,179.454838,0.000012,0.009086,Significant,Tissue enhanced: lymphoid tissue,Scavenger receptor class F member 1,Tissue_enhanced_lymphoid_tissue
2,3,IL19,OID20158,Q9UHD0,Cardiometabolic,Timepoint,5,32.240692,6.448138,136.922565,0.000024,0.011839,Significant,"Group enriched: cervix, salivary gland",Interleukin-19,Group_enriched_cervix_salivary_gland
3,4,CD99L2,OID21122,Q8TCZ2,Neurology,Timepoint,5,8.124654,1.624931,97.002924,0.000057,0.020796,Significant,Tissue enhanced: skeletal muscle,CD99 antigen-like protein 2,Tissue_enhanced_skeletal_muscle
4,5,BSG,OID20626,P35613,Inflammation,Timepoint,5,5.360115,1.072023,68.684120,0.000132,0.021583,Significant,Low tissue specificity,Basigin,Low_tissue_specificity
5,6,CD274,OID20966,Q9NZQ7,Neurology,Timepoint,5,4.922315,0.984463,80.841411,0.000088,0.021583,Significant,Tissue enhanced: lung,Programmed cell death 1 ligand 1,Tissue_enhanced_lung
6,7,IFNGR1,OID20678,P15260,Inflammation,Timepoint,5,1.579959,0.315992,68.890213,0.000131,0.021583,Significant,Low tissue specificity,Interferon gamma receptor 1,Low_tissue_specificity
7,8,NPPC,OID20568,P23582,Inflammation,Timepoint,5,13.551613,2.710323,84.112540,0.000080,0.021583,Significant,Tissue enriched: brain,C-type natriuretic peptide,Tissue_enriched_brain
8,9,NRP2,OID21081,O60462,Neurology,Timepoint,5,1.913155,0.382631,70.627748,0.000123,0.021583,Significant,Low tissue specificity,Neuropilin-2,Low_tissue_specificity
9,10,CD302,OID21328,Q8IX05,Oncology,Timepoint,5,10.470698,2.094140,62.280782,0.000168,0.022359,Significant,Tissue enhanced: liver,CD302 antigen,Tissue_enhanced_liver

(38, 16)

,Assay,p.value,Adjusted_pval,Organ,Desc,Desc_Column
0,TXNDC5,0.000002,0.003230,Low tissue specificity,Thioredoxin domain-containing protein 5,Low_tissue_specificity
1,SCARF1,0.000012,0.009086,Tissue enhanced: lymphoid tissue,Scavenger receptor class F member 1,Tissue_enhanced_lymphoid_tissue
2,IL19,0.000024,0.011839,"Group enriched: cervix, salivary gland",Interleukin-19,Group_enriched_cervix_salivary_gland
3,CD99L2,0.000057,0.020796,Tissue enhanced: skeletal muscle,CD99 antigen-like protein 2,Tissue_enhanced_skeletal_muscle
4,BSG,0.000132,0.021583,Low tissue specificity,Basigin,Low_tissue_specificity
5,CD274,0.000088,0.021583,Tissue enhanced: lung,Programmed cell death 1 ligand 1,Tissue_enhanced_lung
6,IFNGR1,0.000131,0.021583,Low tissue specificity,Interferon gamma receptor 1,Low_tissue_specificity
7,NPPC,0.000080,0.021583,Tissue enriched: brain,C-type natriuretic peptide,Tissue_enriched_brain
8,NRP2,0.000123,0.021583,Low tissue specificity,Neuropilin-2,Low_tissue_specificity
9,CD302,0.000168,0.022359,Tissue enhanced: liver,CD302 antigen,Tissue_enhanced_liver

(38, 6)

This is validation file

Empty DataFrame
Columns: []
Index: []

Original Data for /Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_validation_BMI_1_Age_4.csv

Empty DataFrame
Columns: [Unnamed: 0, Assay, OlinkID, UniProt, Panel, term, df, sumsq, meansq, statistic, p.value, Adjusted_pval, Threshold, Organ, Desc, Desc_Column]
Index: []

(0, 16)

Empty DataFrame
Columns: [Assay, p.value, Adjusted_pval, Organ, Desc, Desc_Column]
Index: []

(0, 6)

This is validation file

Empty DataFrame
Columns: []
Index: []

Original Data for /Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_validation_BMI_1_Age_5.csv

Empty DataFrame
Columns: [Unnamed: 0, Assay, OlinkID, UniProt, Panel, term, df, sumsq, meansq, statistic, p.value, Adjusted_pval, Threshold, Organ, Desc, Desc_Column]
Index: []

(0, 16)

Empty DataFrame
Columns: [Assay, p.value, Adjusted_pval, Organ, Desc, Desc_Column]
Index: []

(0, 6)

This is validation file

Empty DataFrame
Columns: []
Index: []

Original Data for /Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_validation_BMI_2_Age_1.csv

Empty DataFrame
Columns: [Unnamed: 0, Assay, OlinkID, UniProt, Panel, term, df, sumsq, meansq, statistic, p.value, Adjusted_pval, Threshold, Organ, Desc, Desc_Column]
Index: []

(0, 16)

Empty DataFrame
Columns: [Assay, p.value, Adjusted_pval, Organ, Desc, Desc_Column]
Index: []

(0, 6)

This is validation file

Empty DataFrame
Columns: []
Index: []

Original Data for /Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_validation_BMI_2_Age_2.csv

Empty DataFrame
Columns: [Unnamed: 0, Assay, OlinkID, UniProt, Panel, term, df, sumsq, meansq, statistic, p.value, Adjusted_pval, Threshold, Organ, Desc, Desc_Column]
Index: []

(0, 16)

Empty DataFrame
Columns: [Assay, p.value, Adjusted_pval, Organ, Desc, Desc_Column]
Index: []

(0, 6)

This is validation file

Empty DataFrame
Columns: []
Index: []

Original Data for /Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_validation_BMI_2_Age_3.csv

,Unnamed: 0,Assay,OlinkID,UniProt,Panel,term,df,sumsq,meansq,statistic,p.value,Adjusted_pval,Threshold,Organ,Desc,Desc_Column
0,1,SDC1,OID20169,P18827,Cardiometabolic,Timepoint,3,53.965682,17.988561,17.607654,0.000001,0.001558,Significant,"Tissue enhanced: esophagus, liver, skin 1",Syndecan-1,Tissue_enhanced_esophagus_liver_skin_1
1,2,PRL,OID21033,P01236,Neurology,Timepoint,3,26.048879,8.682960,13.025981,0.000014,0.010634,Significant,Tissue enriched: pituitary gland,Prolactin,Tissue_enriched_pituitary_gland
2,3,CCL17,OID20745,Q92583,Inflammation,Timepoint,3,29.362355,9.787452,10.809307,0.000062,0.018190,Significant,Tissue enriched: lymphoid tissue,C-C motif chemokine 17,Tissue_enriched_lymphoid_tissue
3,4,CD40LG,OID20616,P29965,Inflammation,Timepoint,3,44.229327,14.743109,10.860849,0.000060,0.018190,Significant,Tissue enhanced: lymphoid tissue,CD40 ligand,Tissue_enhanced_lymphoid_tissue
4,5,NRP1,OID20390,O14786,Cardiometabolic,Timepoint,3,2.610725,0.870242,10.842007,0.000060,0.018190,Significant,Low tissue specificity,Neuropilin-1,Low_tissue_specificity
5,6,GP6,OID21091,Q9HCN6,Neurology,Timepoint,3,23.191180,7.730393,10.526473,0.000075,0.018443,Significant,Tissue enhanced: testis,Platelet glycoprotein VI,Tissue_enhanced_testis
6,7,CXCL17,OID20622,Q6UXB2,Inflammation,Timepoint,3,14.539552,4.846517,10.106683,0.000101,0.021252,Significant,"Group enriched: esophagus, lung, salivary glan...",C-X-C motif chemokine 17,Group_enriched_esophagus_lung_salivary_gland_s...
7,8,ANXA3,OID21036,P12429,Neurology,Timepoint,3,28.559836,9.519945,9.913502,0.000116,0.021350,Significant,Tissue enhanced: bone marrow,Annexin A3,Tissue_enhanced_bone_marrow
8,9,BCR,OID20558,P11274,Inflammation,Timepoint,3,36.680252,12.226751,9.674651,0.000138,0.022554,Significant,Low tissue specificity,Breakpoint cluster region protein,Low_tissue_specificity
9,10,APLP1,OID20164,P51693,Cardiometabolic,Timepoint,3,4.839624,1.613208,9.006373,0.000226,0.022622,Significant,Tissue enriched: brain,Amyloid beta precursor like protein 1,Tissue_enriched_brain

(143, 16)

,Assay,p.value,Adjusted_pval,Organ,Desc,Desc_Column
0,SDC1,0.000001,0.001558,"Tissue enhanced: esophagus, liver, skin 1",Syndecan-1,Tissue_enhanced_esophagus_liver_skin_1
1,PRL,0.000014,0.010634,Tissue enriched: pituitary gland,Prolactin,Tissue_enriched_pituitary_gland
2,CCL17,0.000062,0.018190,Tissue enriched: lymphoid tissue,C-C motif chemokine 17,Tissue_enriched_lymphoid_tissue
3,CD40LG,0.000060,0.018190,Tissue enhanced: lymphoid tissue,CD40 ligand,Tissue_enhanced_lymphoid_tissue
4,NRP1,0.000060,0.018190,Low tissue specificity,Neuropilin-1,Low_tissue_specificity
5,GP6,0.000075,0.018443,Tissue enhanced: testis,Platelet glycoprotein VI,Tissue_enhanced_testis
6,CXCL17,0.000101,0.021252,"Group enriched: esophagus, lung, salivary glan...",C-X-C motif chemokine 17,Group_enriched_esophagus_lung_salivary_gland_s...
7,ANXA3,0.000116,0.021350,Tissue enhanced: bone marrow,Annexin A3,Tissue_enhanced_bone_marrow
8,BCR,0.000138,0.022554,Low tissue specificity,Breakpoint cluster region protein,Low_tissue_specificity
9,APLP1,0.000226,0.022622,Tissue enriched: brain,Amyloid beta precursor like protein 1,Tissue_enriched_brain

(143, 6)

This is validation file

Empty DataFrame
Columns: []
Index: []

Original Data for /Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_validation_BMI_2_Age_4.csv

,Unnamed: 0,Assay,OlinkID,UniProt,Panel,term,df,sumsq,meansq,statistic,p.value,Adjusted_pval,Threshold,Organ,Desc,Desc_Column
0,1,GDNF,OID20861,P39905,Neurology,Timepoint,3,9.586436,3.195479,16.379773,0.000001,0.001846,Significant,Tissue enhanced: skeletal muscle,Glial cell line-derived neurotrophic factor,Tissue_enhanced_skeletal_muscle
1,2,VTCN1,OID21164,Q7Z7D3,Oncology,Timepoint,3,3.838252,1.279417,14.940981,0.000003,0.002177,Significant,"Tissue enhanced: breast, fallopian tube, pancreas",V-set domain-containing T-cell activation inhi...,Tissue_enhanced_breast_fallopian_tube_pancreas
2,3,NEFL,OID20871,P07196,Neurology,Timepoint,3,42.659917,14.219972,13.303666,0.000008,0.003062,Significant,Tissue enriched: brain,Neurofilament light polypeptide,Tissue_enriched_brain
3,4,SDC1,OID20169,P18827,Cardiometabolic,Timepoint,3,56.716877,18.905626,13.593727,0.000007,0.003062,Significant,"Tissue enhanced: esophagus, liver, skin 1",Syndecan-1,Tissue_enhanced_esophagus_liver_skin_1
4,5,PTN,OID20083,P21246,Cardiometabolic,Timepoint,3,129.881718,43.293906,12.061092,0.000019,0.005627,Significant,"Tissue enhanced: brain, parathyroid gland",Pleiotrophin,Tissue_enhanced_brain_parathyroid_gland
5,6,BAIAP2,OID21250,Q9UQB8,Oncology,Timepoint,3,42.930724,14.310241,11.454584,0.000029,0.006138,Significant,Low tissue specificity,Brain-specific angiogenesis inhibitor 1-associ...,Low_tissue_specificity
6,7,CCL28,OID20569,Q9NRJ3,Inflammation,Timepoint,3,38.763212,12.921071,11.452362,0.000029,0.006138,Significant,Tissue enriched: salivary gland,C-C motif chemokine 28,Tissue_enriched_salivary_gland
7,8,ESM1,OID20758,Q9NQ30,Inflammation,Timepoint,3,27.050510,9.016837,10.971072,0.000041,0.007003,Significant,"Tissue enhanced: kidney, thyroid gland",Endothelial cell-specific molecule 1,Tissue_enhanced_kidney_thyroid_gland
8,9,TNC,OID20359,P24821,Cardiometabolic,Timepoint,3,13.726197,4.575399,10.914865,0.000043,0.007003,Significant,"Tissue enhanced: lymphoid tissue, smooth muscle",Tenascin,Tissue_enhanced_lymphoid_tissue_smooth_muscle
9,10,ACE2,OID20105,Q9BYF1,Cardiometabolic,Timepoint,3,38.944586,12.981529,10.608423,0.000053,0.007873,Significant,"Tissue enhanced: gallbladder, intestine, kidney",Angiotensin-converting enzyme 2,Tissue_enhanced_gallbladder_intestine_kidney

(150, 16)

,Assay,p.value,Adjusted_pval,Organ,Desc,Desc_Column
0,GDNF,0.000001,0.001846,Tissue enhanced: skeletal muscle,Glial cell line-derived neurotrophic factor,Tissue_enhanced_skeletal_muscle
1,VTCN1,0.000003,0.002177,"Tissue enhanced: breast, fallopian tube, pancreas",V-set domain-containing T-cell activation inhi...,Tissue_enhanced_breast_fallopian_tube_pancreas
2,NEFL,0.000008,0.003062,Tissue enriched: brain,Neurofilament light polypeptide,Tissue_enriched_brain
3,SDC1,0.000007,0.003062,"Tissue enhanced: esophagus, liver, skin 1",Syndecan-1,Tissue_enhanced_esophagus_liver_skin_1
4,PTN,0.000019,0.005627,"Tissue enhanced: brain, parathyroid gland",Pleiotrophin,Tissue_enhanced_brain_parathyroid_gland
5,BAIAP2,0.000029,0.006138,Low tissue specificity,Brain-specific angiogenesis inhibitor 1-associ...,Low_tissue_specificity
6,CCL28,0.000029,0.006138,Tissue enriched: salivary gland,C-C motif chemokine 28,Tissue_enriched_salivary_gland
7,ESM1,0.000041,0.007003,"Tissue enhanced: kidney, thyroid gland",Endothelial cell-specific molecule 1,Tissue_enhanced_kidney_thyroid_gland
8,TNC,0.000043,0.007003,"Tissue enhanced: lymphoid tissue, smooth muscle",Tenascin,Tissue_enhanced_lymphoid_tissue_smooth_muscle
9,ACE2,0.000053,0.007873,"Tissue enhanced: gallbladder, intestine, kidney",Angiotensin-converting enzyme 2,Tissue_enhanced_gallbladder_intestine_kidney

(150, 6)

This is validation file

Empty DataFrame
Columns: []
Index: []

Original Data for /Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_validation_BMI_2_Age_5.csv

Empty DataFrame
Columns: [Unnamed: 0, Assay, OlinkID, UniProt, Panel, term, df, sumsq, meansq, statistic, p.value, Adjusted_pval, Threshold, Organ, Desc, Desc_Column]
Index: []

(0, 16)

Empty DataFrame
Columns: [Assay, p.value, Adjusted_pval, Organ, Desc, Desc_Column]
Index: []

(0, 6)

This is validation file

Empty DataFrame
Columns: []
Index: []

Original Data for /Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_validation_BMI_3_Age_2.csv

,Unnamed: 0,Assay,OlinkID,UniProt,Panel,term,df,sumsq,meansq,statistic,p.value,Adjusted_pval,Threshold,Organ,Desc,Desc_Column
0,1,VTCN1,OID21164,Q7Z7D3,Oncology,Timepoint,3,17.124978,5.708326,27.636901,2.580343e-07,0.000380,Significant,"Tissue enhanced: breast, fallopian tube, pancreas",V-set domain-containing T-cell activation inhi...,Tissue_enhanced_breast_fallopian_tube_pancreas
1,2,PDCD1,OID21396,Q15116,Oncology,Timepoint,3,4.753144,1.584381,22.177525,1.430448e-06,0.001053,Significant,Tissue enhanced: lymphoid tissue,Programmed cell death protein 1,Tissue_enhanced_lymphoid_tissue
2,3,IFNL1,OID20795,Q8IU54,Neurology,Timepoint,3,18.709935,6.236645,19.358268,3.942761e-06,0.001648,Significant,Not detected,Interferon lambda-1,Not_detected
3,4,PADI2,OID20467,Q9Y2J8,Inflammation,Timepoint,3,16.493657,5.497886,19.023748,4.478416e-06,0.001648,Significant,"Tissue enhanced: brain, skeletal muscle, tongue",Protein-arginine deiminase type-2,Tissue_enhanced_brain_skeletal_muscle_tongue
4,5,TNFRSF4,OID20653,P43489,Inflammation,Timepoint,3,10.724159,3.574720,16.558388,1.207868e-05,0.003556,Significant,Tissue enhanced: lymphoid tissue,Tumor necrosis factor receptor superfamily mem...,Tissue_enhanced_lymphoid_tissue
5,6,FABP6,OID20076,P51161,Cardiometabolic,Timepoint,3,4.422371,1.474124,15.320369,2.068000e-05,0.005073,Significant,Tissue enriched: intestine,Gastrotropin,Tissue_enriched_intestine
6,7,CXCL10,OID20697,P02778,Inflammation,Timepoint,3,16.426910,5.475637,13.443431,4.956840e-05,0.010424,Significant,Tissue enhanced: lymphoid tissue,C-X-C motif chemokine 10,Tissue_enhanced_lymphoid_tissue
7,8,CLEC1A,OID20099,Q8NC01,Cardiometabolic,Timepoint,3,4.662581,1.554194,12.098197,9.751094e-05,0.017942,Significant,"Tissue enhanced: lymphoid tissue, placenta",C-type lectin domain family 1 member A,Tissue_enhanced_lymphoid_tissue_placenta
8,9,CD83,OID20565,Q01151,Inflammation,Timepoint,3,3.460365,1.153455,11.527700,1.317819e-04,0.019398,Significant,Tissue enhanced: bone marrow,CD83 antigen,Tissue_enhanced_bone_marrow
9,10,SH2D1A,OID20514,O60880,Inflammation,Timepoint,3,1.424976,0.474992,11.587337,1.276436e-04,0.019398,Significant,Tissue enriched: lymphoid tissue,SH2 domain-containing protein 1A,Tissue_enriched_lymphoid_tissue

(84, 16)

,Assay,p.value,Adjusted_pval,Organ,Desc,Desc_Column
0,VTCN1,2.580343e-07,0.000380,"Tissue enhanced: breast, fallopian tube, pancreas",V-set domain-containing T-cell activation inhi...,Tissue_enhanced_breast_fallopian_tube_pancreas
1,PDCD1,1.430448e-06,0.001053,Tissue enhanced: lymphoid tissue,Programmed cell death protein 1,Tissue_enhanced_lymphoid_tissue
2,IFNL1,3.942761e-06,0.001648,Not detected,Interferon lambda-1,Not_detected
3,PADI2,4.478416e-06,0.001648,"Tissue enhanced: brain, skeletal muscle, tongue",Protein-arginine deiminase type-2,Tissue_enhanced_brain_skeletal_muscle_tongue
4,TNFRSF4,1.207868e-05,0.003556,Tissue enhanced: lymphoid tissue,Tumor necrosis factor receptor superfamily mem...,Tissue_enhanced_lymphoid_tissue
5,FABP6,2.068000e-05,0.005073,Tissue enriched: intestine,Gastrotropin,Tissue_enriched_intestine
6,CXCL10,4.956840e-05,0.010424,Tissue enhanced: lymphoid tissue,C-X-C motif chemokine 10,Tissue_enhanced_lymphoid_tissue
7,CLEC1A,9.751094e-05,0.017942,"Tissue enhanced: lymphoid tissue, placenta",C-type lectin domain family 1 member A,Tissue_enhanced_lymphoid_tissue_placenta
8,CD83,1.317819e-04,0.019398,Tissue enhanced: bone marrow,CD83 antigen,Tissue_enhanced_bone_marrow
9,SH2D1A,1.276436e-04,0.019398,Tissue enriched: lymphoid tissue,SH2 domain-containing protein 1A,Tissue_enriched_lymphoid_tissue

(84, 6)

This is validation file

Empty DataFrame
Columns: []
Index: []

Original Data for /Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_validation_BMI_3_Age_3.csv

,Unnamed: 0,Assay,OlinkID,UniProt,Panel,term,df,sumsq,meansq,statistic,p.value,Adjusted_pval,Threshold,Organ,Desc,Desc_Column
0,1,NEFL,OID20871,P07196,Neurology,Timepoint,3,41.500804,13.833601,20.971398,1.615778e-07,0.000238,Significant,Tissue enriched: brain,Neurofilament light polypeptide,Tissue_enriched_brain
1,2,DPP10,OID20527,Q8N608,Inflammation,Timepoint,3,9.739218,3.246406,17.965475,7.295767e-07,0.000537,Significant,"Tissue enhanced: adrenal gland, brain, pancreas",Inactive dipeptidyl peptidase 10,Tissue_enhanced_adrenal_gland_brain_pancreas
2,3,ACE2,OID20105,Q9BYF1,Cardiometabolic,Timepoint,3,21.064012,7.021337,13.183930,1.150028e-05,0.005643,Significant,"Tissue enhanced: gallbladder, intestine, kidney",Angiotensin-converting enzyme 2,Tissue_enhanced_gallbladder_intestine_kidney
3,4,SDC1,OID20169,P18827,Cardiometabolic,Timepoint,3,37.934474,12.644825,11.831872,2.772048e-05,0.010201,Significant,"Tissue enhanced: esophagus, liver, skin 1",Syndecan-1,Tissue_enhanced_esophagus_liver_skin_1
4,5,SPON1,OID20759,Q9HCB6,Inflammation,Timepoint,3,15.012465,5.004155,11.296606,3.984301e-05,0.011730,Significant,Tissue enhanced: gallbladder,Spondin-1,Tissue_enhanced_gallbladder
5,6,COL6A3,OID20292,P12111,Cardiometabolic,Timepoint,3,17.954683,5.984894,9.776805,1.172441e-04,0.024655,Significant,Tissue enhanced: smooth muscle,Collagen alpha-3(VI) chain,Tissue_enhanced_smooth_muscle
6,7,VTCN1,OID21164,Q7Z7D3,Oncology,Timepoint,3,1.764441,0.588147,9.883811,1.083909e-04,0.024655,Significant,"Tissue enhanced: breast, fallopian tube, pancreas",V-set domain-containing T-cell activation inhi...,Tissue_enhanced_breast_fallopian_tube_pancreas
7,8,ANPEP,OID20350,P15144,Cardiometabolic,Timepoint,3,2.587755,0.862585,8.832399,2.386554e-04,0.028552,Significant,"Group enriched: intestine, pancreas",Aminopeptidase N,Group_enriched_intestine_pancreas
8,9,EDA2R,OID21451,Q9HAV5,Oncology,Timepoint,3,14.868260,4.956087,8.963010,2.158886e-04,0.028552,Significant,Low tissue specificity,Tumor necrosis factor receptor superfamily mem...,Low_tissue_specificity
9,10,GGT1,OID21075,P19440,Neurology,Timepoint,3,6.563146,2.187715,8.736866,2.569196e-04,0.028552,Significant,"Tissue enhanced: kidney, liver",Glutathione hydrolase 1 proenzyme,Tissue_enhanced_kidney_liver

(43, 16)

,Assay,p.value,Adjusted_pval,Organ,Desc,Desc_Column
0,NEFL,1.615778e-07,0.000238,Tissue enriched: brain,Neurofilament light polypeptide,Tissue_enriched_brain
1,DPP10,7.295767e-07,0.000537,"Tissue enhanced: adrenal gland, brain, pancreas",Inactive dipeptidyl peptidase 10,Tissue_enhanced_adrenal_gland_brain_pancreas
2,ACE2,1.150028e-05,0.005643,"Tissue enhanced: gallbladder, intestine, kidney",Angiotensin-converting enzyme 2,Tissue_enhanced_gallbladder_intestine_kidney
3,SDC1,2.772048e-05,0.010201,"Tissue enhanced: esophagus, liver, skin 1",Syndecan-1,Tissue_enhanced_esophagus_liver_skin_1
4,SPON1,3.984301e-05,0.011730,Tissue enhanced: gallbladder,Spondin-1,Tissue_enhanced_gallbladder
5,COL6A3,1.172441e-04,0.024655,Tissue enhanced: smooth muscle,Collagen alpha-3(VI) chain,Tissue_enhanced_smooth_muscle
6,VTCN1,1.083909e-04,0.024655,"Tissue enhanced: breast, fallopian tube, pancreas",V-set domain-containing T-cell activation inhi...,Tissue_enhanced_breast_fallopian_tube_pancreas
7,ANPEP,2.386554e-04,0.028552,"Group enriched: intestine, pancreas",Aminopeptidase N,Group_enriched_intestine_pancreas
8,EDA2R,2.158886e-04,0.028552,Low tissue specificity,Tumor necrosis factor receptor superfamily mem...,Low_tissue_specificity
9,GGT1,2.569196e-04,0.028552,"Tissue enhanced: kidney, liver",Glutathione hydrolase 1 proenzyme,Tissue_enhanced_kidney_liver

(43, 6)

This is validation file

Empty DataFrame
Columns: []
Index: []

Original Data for /Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_validation_BMI_3_Age_4.csv

Empty DataFrame
Columns: [Unnamed: 0, Assay, OlinkID, UniProt, Panel, term, df, sumsq, meansq, statistic, p.value, Adjusted_pval, Threshold, Organ, Desc, Desc_Column]
Index: []

(0, 16)

Empty DataFrame
Columns: [Assay, p.value, Adjusted_pval, Organ, Desc, Desc_Column]
Index: []

(0, 6)

This is validation file

Empty DataFrame
Columns: []
Index: []

Original Data for /Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_validation_BMI_3_Age_5.csv

Empty DataFrame
Columns: [Unnamed: 0, Assay, OlinkID, UniProt, Panel, term, df, sumsq, meansq, statistic, p.value, Adjusted_pval, Threshold, Organ, Desc, Desc_Column]
Index: []

(0, 16)

Empty DataFrame
Columns: [Assay, p.value, Adjusted_pval, Organ, Desc, Desc_Column]
Index: []

(0, 6)

This is validation file

Empty DataFrame
Columns: []
Index: []

Original Data for /Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_validation_BMI_4_Age_1.csv

,Unnamed: 0,Assay,OlinkID,UniProt,Panel,term,df,sumsq,meansq,statistic,p.value,Adjusted_pval,Threshold,Organ,Desc,Desc_Column
0,1,CALB1,OID21306,P05937,Oncology,Timepoint,3,12.983081,4.327694,63.261917,0.000213,0.037011,Significant,Tissue enriched: kidney,Calbindin,Tissue_enriched_kidney
1,2,CD79B,OID20635,P40259,Inflammation,Timepoint,3,6.400115,2.133372,61.712617,0.000226,0.037011,Significant,Tissue enriched: lymphoid tissue,B-cell antigen receptor complex-associated pro...,Tissue_enriched_lymphoid_tissue
2,3,HAVCR1,OID21422,Q96D42,Oncology,Timepoint,3,42.051708,14.017236,70.276698,0.000165,0.037011,Significant,"Group enriched: intestine, kidney",Hepatitis A virus cellular receptor 1,Group_enriched_intestine_kidney
3,4,IGFBP4,OID21158,P22692,Neurology,Timepoint,3,7.054812,2.351604,63.460336,0.000211,0.037011,Significant,Low tissue specificity,Insulin-like growth factor-binding protein 4,Low_tissue_specificity
4,5,RARRES2,OID20373,Q99969,Cardiometabolic,Timepoint,3,3.854641,1.284880,77.779692,0.000129,0.037011,Significant,"Tissue enhanced: adrenal gland, liver, pancreas",Retinoic acid receptor responder protein 2,Tissue_enhanced_adrenal_gland_liver_pancreas
5,6,SDC1,OID20169,P18827,Cardiometabolic,Timepoint,3,35.560277,11.853426,73.263248,0.000149,0.037011,Significant,"Tissue enhanced: esophagus, liver, skin 1",Syndecan-1,Tissue_enhanced_esophagus_liver_skin_1
6,7,THBS2,OID21104,P35442,Neurology,Timepoint,3,6.171598,2.057199,106.428806,0.000060,0.037011,Significant,Low tissue specificity,Thrombospondin-2,Low_tissue_specificity
7,8,TNFRSF14,OID20783,Q92956,Inflammation,Timepoint,3,5.211158,1.737053,104.080588,0.000063,0.037011,Significant,Low tissue specificity,Tumor necrosis factor receptor superfamily mem...,Low_tissue_specificity
8,9,TNFRSF4,OID20653,P43489,Inflammation,Timepoint,3,5.903393,1.967798,91.730977,0.000086,0.037011,Significant,Tissue enhanced: lymphoid tissue,Tumor necrosis factor receptor superfamily mem...,Tissue_enhanced_lymphoid_tissue
9,10,MDK,OID21489,P21741,Oncology,Timepoint,3,38.001787,12.667262,53.101568,0.000326,0.043558,Significant,Tissue enhanced: ovary,Midkine,Tissue_enhanced_ovary

(13, 16)

,Assay,p.value,Adjusted_pval,Organ,Desc,Desc_Column
0,CALB1,0.000213,0.037011,Tissue enriched: kidney,Calbindin,Tissue_enriched_kidney
1,CD79B,0.000226,0.037011,Tissue enriched: lymphoid tissue,B-cell antigen receptor complex-associated pro...,Tissue_enriched_lymphoid_tissue
2,HAVCR1,0.000165,0.037011,"Group enriched: intestine, kidney",Hepatitis A virus cellular receptor 1,Group_enriched_intestine_kidney
3,IGFBP4,0.000211,0.037011,Low tissue specificity,Insulin-like growth factor-binding protein 4,Low_tissue_specificity
4,RARRES2,0.000129,0.037011,"Tissue enhanced: adrenal gland, liver, pancreas",Retinoic acid receptor responder protein 2,Tissue_enhanced_adrenal_gland_liver_pancreas
5,SDC1,0.000149,0.037011,"Tissue enhanced: esophagus, liver, skin 1",Syndecan-1,Tissue_enhanced_esophagus_liver_skin_1
6,THBS2,0.000060,0.037011,Low tissue specificity,Thrombospondin-2,Low_tissue_specificity
7,TNFRSF14,0.000063,0.037011,Low tissue specificity,Tumor necrosis factor receptor superfamily mem...,Low_tissue_specificity
8,TNFRSF4,0.000086,0.037011,Tissue enhanced: lymphoid tissue,Tumor necrosis factor receptor superfamily mem...,Tissue_enhanced_lymphoid_tissue
9,MDK,0.000326,0.043558,Tissue enhanced: ovary,Midkine,Tissue_enhanced_ovary

(13, 6)

This is validation file

Empty DataFrame
Columns: []
Index: []

Original Data for /Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_validation_BMI_4_Age_2.csv

Empty DataFrame
Columns: [Unnamed: 0, Assay, OlinkID, UniProt, Panel, term, df, sumsq, meansq, statistic, p.value, Adjusted_pval, Threshold, Organ, Desc, Desc_Column]
Index: []

(0, 16)

Empty DataFrame
Columns: [Assay, p.value, Adjusted_pval, Organ, Desc, Desc_Column]
Index: []

(0, 6)

This is validation file

Empty DataFrame
Columns: []
Index: []

Original Data for /Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_validation_BMI_4_Age_3.csv

Empty DataFrame
Columns: [Unnamed: 0, Assay, OlinkID, UniProt, Panel, term, df, sumsq, meansq, statistic, p.value, Adjusted_pval, Threshold, Organ, Desc, Desc_Column]
Index: []

(0, 16)

Empty DataFrame
Columns: [Assay, p.value, Adjusted_pval, Organ, Desc, Desc_Column]
Index: []

(0, 6)

This is validation file

Empty DataFrame
Columns: []
Index: []

Original Data for /Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_validation_BMI_4_Age_4.csv

Empty DataFrame
Columns: [Unnamed: 0, Assay, OlinkID, UniProt, Panel, term, df, sumsq, meansq, statistic, p.value, Adjusted_pval, Threshold, Organ, Desc, Desc_Column]
Index: []

(0, 16)

Empty DataFrame
Columns: [Assay, p.value, Adjusted_pval, Organ, Desc, Desc_Column]
Index: []

(0, 6)

This is validation file

Empty DataFrame
Columns: []
Index: []

### Protein Atlas

https://www.proteinatlas.org/humanproteome/tissue/tissue+specific

### Scientific reference
- https://onlinelibrary.wiley.com/doi/abs/10.1002/pro.3987 
- https://doi.org/10.1002/pro.3987

### Remove all duplicated protein names for age categories 1-5 in ```files_to_prepare```

In [13]:
array_protein_names

['PCOLCE',
 'CCL28',
 'FGFBP1',
 'MDK',
 'CCL21',
 'PTN',
 'PTN',
 'SDC1',
 'SFRP1',
 'SMOC1',
 'HGF',
 'CCL24',
 'PRL',
 'SPON1',
 'CLC',
 'DLK1',
 'PTN',
 'REG3A',
 'SDC1',
 'SMOC1',
 'SFRP1',
 'COL6A3',
 'SCARF2',
 'SPON1',
 'GPC1',
 'EDA2R',
 'ESAM',
 'HGF',
 'TREM2',
 'FAS',
 'TNFRSF12A',
 'RTN4R',
 'HAVCR1',
 'ITGA11',
 'TNFRSF11A',
 'CCL17',
 'CCL4',
 'CD93',
 'DSC2',
 'FOLR1',
 'CD46',
 'RSPO1',
 'CLSTN2',
 'GFRA1',
 'IGF1R',
 'TNFRSF14',
 'FRZB',
 'ROR1',
 'CCL13',
 'DDR1',
 'GP6',
 'APOH',
 'CALB1',
 'CDH3',
 'HSPG2',
 'HYOU1',
 'IL10RB',
 'NEFL',
 'REG1B',
 'TFPI2',
 'TGFB1',
 'UXS1',
 'ANXA3',
 'CLEC1B',
 'SCARA5',
 'SPINT1',
 'BSG',
 'SCP2',
 'PAPPA',
 'DAG1',
 'NBL1',
 'SCARF1',
 'FCER2',
 'FGFBP1',
 'PIGR',
 'NRP1',
 'DDX58',
 'JAM2',
 'NECTIN2',
 'IL7R',
 'PLAUR',
 'F2R',
 'SOD2',
 'CLC',
 'HAVCR2',
 'MDK',
 'MFAP5',
 'SPINT2',
 'TIMD4',
 'TIMP1',
 'WFDC2',
 'RGMB',
 'TNFRSF4',
 'PTK7',
 'TFPI',
 'THBD',
 'SMOC2',
 'CCDC80',
 'CHRDL2',
 'CCN4',
 'CTSB',
 'KLRB1',
 'MMP7',
 'PRSS8',
 'TNFRSF10C',
 'CD300LG',
 'NRP2',
 'MNDA',
 'CCL3',
 'CD99L2',
 'CD163',
 'EGF',
 'GPNMB',
 'ACE2',
 'ANPEP',
 'TXNDC5',
 'KLRD1',
 'CD40LG',
 'DPT',
 'TNFSF11',
 'CPM',
 'LAT',
 'LDLR',
 'EPHA1',
 'ULBP2',
 'ADAM22',
 'CDH6',
 'PRSS2',
 'TNFRSF9',
 'EGFL7',
 'TST',
 'CCL21',
 'TGFBR3',
 'HAO1',
 'SELP',
 'EPHB4',
 'SEMA4D',
 'SMAD5',
 'F11R',
 'CLEC7A',
 'CXCL16',
 'MILR1',
 'RSPO3',
 'CCN2',
 'ALCAM',
 'APP',
 'PAEP',
 'CCL11',
 'CD40',
 'CPXM1',
 'EPHA2',
 'GYS1',
 'SPP1',
 'TNFRSF21',
 'IGSF8',
 'EFEMP1',
 'TNFRSF10B',
 'EFNA4',
 'HS6ST1',
 'SCGB1A1',
 'ANGPTL1',
 'ITGB6',
 'SPON2',
 'VASN',
 'CCL16',
 'IFNGR1',
 'CD99',
 'OGN',
 'AGRN',
 'CD276',
 'TNFRSF1A',
 'CCN5',
 'LTBR',
 'PIK3IP1',
 'ENPP5',
 'CA12',
 'LAYN',
 'CD302',
 'VTCN1',
 'CRHBP',
 'COLEC12',
 'VSIG4',
 'LAIR1',
 'FLRT2',
 'VSIR',
 'IFNL1',
 'IGFBPL1',
 'COL1A1',
 'CCL14',
 'CLEC14A',
 'REG1A',
 'CCL24',
 'PCOLCE',
 'ACAA1',
 'PDCD1',
 'CPA2',
 'CXADR',
 'LCN2',
 'TREML2',
 'HYAL1',
 'THBS2',
 'MMP10',
 'CEACAM8',
 'PODXL2',
 'LRPAP1',
 'MSR1',
 'THY1',
 'GPC5',
 'SPARC',
 'CXCL17',
 'GP1BA',
 'LAMA4',
 'BOC',
 'BAIAP2',
 'CD83',
 'ADAM23',
 'IGF2R',
 'TNFRSF19',
 'S100P',
 'CLIP2',
 'VCAN',
 'DRAXIN',
 'MMP1',
 'NPPC',
 'DKK1',
 'RARRES2',
 'FCRL5',
 'MATN2',
 'HBEGF',
 'CD244',
 'PECAM1',
 'MITD1',
 'NCF2',
 'MEGF10',
 'IGFBP4',
 'METAP1D',
 'BTN2A1',
 'CD274',
 'CA5A',
 'RELT',
 'GDF15',
 'TNFSF12',
 'SNAP23',
 'XCL1',
 'ANXA11',
 'CCN3',
 'MZB1',
 'NECTIN4',
 'ACVRL1',
 'ADAM15',
 'CDON',
 'USP8',
 'KIT',
 'ANGPT1',
 'SPINK1',
 'MME',
 'DCBLD2',
 'BCL2L11',
 'CRELD2',
 'CDH1',
 'ROBO2',
 'MSLN',
 'TGFBR2',
 'MPIG6B',
 'FEN1',
 'ARHGAP25',
 'FSTL3',
 'CD69',
 'CLMP',
 'FES',
 'RBP5',
 'CD160',
 'MYOC',
 'CD27',
 'SIRPA',
 'TDRKH',
 'TNF',
 'CD55',
 'VEGFC',
 'IGFBP7',
 'PGF',
 'CST3',
 'PDGFB',
 'EDIL3',
 'CD84',
 'CGREF1',
 'FYB1',
 'LTBP3',
 'TNC',
 'BMP6',
 'SCAMP3',
 'PDGFA',
 'ADGRB3',
 'NADK',
 'PTPN6',
 'LRP1',
 'CASP2',
 'FLI1',
 'PTGDS',
 'IPCEF1',
 'MANF',
 'CD300C',
 'PFKFB2',
 'SERPINB6',
 'CDH5',
 'CCL26',
 'CD5',
 'ICAM5',
 'IGFBP2',
 'PAMR1',
 'SKAP2',
 'COX5B',
 'TNF',
 'SH2B3',
 'LEFTY2',
 'GUCA2A',
 'NOTCH3',
 'ANXA5',
 'PRKRA',
 'YES1',
 'TNFRSF11B',
 'FETUB',
 'TNF',
 'MGMT',
 'PDLIM7',
 'PDP1',
 'DPP10',
 'WASF1',
 'LRP11',
 'ADGRG2',
 'AXL',
 'NCAM1',
 'SIGLEC10',
 'KAZALD1',
 'CDCP1',
 'IL1R2',
 'L1CAM',
 'MPI',
 'GCG',
 'ITGA6',
 'RHOC',
 'TYRO3',
 'LY96',
 'AIFM1',
 'GRAP2',
 'SORT1',
 'PHOSPHO1',
 'MANSC1',
 'NDUFS6',
 'EPHB6',
 'PLXNB3',
 'PRDX3',
 'JCHAIN',
 'CDNF',
 'CCL15',
 'IFNG',
 'DNMBP',
 'ADAMTS15',
 'CNTN1',
 'CD79B',
 'COL4A1',
 'PGLYRP1',
 'IL19',
 'GOPC',
 'ICOSLG',
 'DSG3',
 'GGT1',
 'COL18A1',
 'DBI',
 'ENTPD2',
 'ADAMTS16',
 'DCN',
 'IL6ST',
 'NCS1',
 'FAM3C',
 'AGXT',
 'P4HB',
 'TXLNA',
 'CCL25',
 'PEAR1',
 'PPIB',
 'NME3',
 'CLPP',
 'IQGAP2',
 'DECR1',
 'MCAM',
 'CD28',
 'CNPY4',
 'DAPP1',
 'MAP3K5',
 'TIMP3',
 'C4BPB',
 'ACP5',
 'CDHR2',
 'ATP5IF1',
 'DOK2',
 'ENAH',
 'INPP1',
 'MESD',
 'CA13',
 'PPP1R12A',
 'TNFRSF6B',
 'INPPL1',
 'DDC',
 'IL2RA',
 'ITGB1BP2',
 'CNST',
 'PTS',
 'PMVK',
 'STXBP3',
 'PCDH1',
 'TARBP2',
 'NCK2',
 'HCLS1',
 'STX4',
 'SRC',
 'RGMA',
 'BANK1',
 'CLEC1A',
 'MGLL',
 'MSRA',
 'HS3ST3B1',
 'MSTN',
 'CALCOCO1',
 'PLAU',
 'SULT1A1',
 'GFRA3',
 'STX8',
 'TNFRSF1B',
 'ARHGEF12',
 'CNTN5',
 'BCR',
 'AKT3',
 'CCL22',
 'CD177',
 'PRL',
 'AGRP',
 'LY6D',
 'HMOX2',
 'PTPRS',
 'AXIN1',
 'MEPE',
 'STX16',
 'DIABLO',
 'IKBKG',
 'AMBP',
 'CEP20',
 'PADI4',
 'SNAP29',
 'SUMF2',
 'CD59',
 'KLK11',
 'NTRK2',
 'SDC4',
 'DNAJA2',
 'NID2',
 'TJAP1',
 'CRACR2A',
 'PVALB',
 'CLEC11A',
 'DPP4',
 'ERBB2',
 'KRT19',
 'LYN',
 'CHGB',
 'COMP',
 'STX6',
 'ARSB',
 'PLA2G4A',
 'CA14',
 'ENG',
 'EREG',
 'EIF4G1',
 'ANGPTL3',
 'TMSB10',
 'FXN',
 'MAGED1',
 'DEFA1_DEFA1B',
 'C19orf12',
 'PILRA',
 'IL32',
 'NFATC1',
 'PPP1R9B',
 'CPB1',
 'ANGPTL7',
 'DBNL',
 'GFRA2',
 'RNF41',
 'DAB2',
 'IL15RA',
 'KRT18',
 'SPOCK1',
 'AFP',
 'ASGR1',
 'HTRA2',
 'LGALS8',
 'SIT1',
 'DNER',
 'HARS1',
 'MZT1',
 'PLXNA4',
 'GZMB',
 'ERBIN',
 'TBL1X',
 'PSG1',
 'TACC3',
 'AMIGO2',
 'APEX1',
 'TNFRSF10A',
 'ANGPT2',
 'PON3',
 'PADI2',
 'DPP10',
 'TNFRSF9',
 'VAMP5',
 'NEFL',
 'PCOLCE',
 'PIK3IP1',
 'CCL4',
 'IFNL1',
 'ITGA11',
 'RBP5',
 'SPINT2',
 'TNFRSF11A',
 'TNFRSF4',
 'SDC1',
 'APOH',
 'CLSTN2',
 'TNFRSF10C',
 'ANGPTL1',
 'ACE2',
 'NTproBNP',
 'PDCD1',
 'PTN',
 'TGFA',
 'PTGDS',
 'CD83',
 'CD99',
 'EDA2R',
 'EFNA4',
 'TNFRSF14',
 'TNFRSF19',
 'CA5A',
 'EREG',
 'HAVCR1',
 'CD160',
 'SCGB1A1',
 'FAS',
 'CDNF',
 'SLIT2',
 'CLEC7A',
 'BCL2L11',
 'CD300LG',
 'CD59',
 'SCARF1',
 'MIA',
 'FCRL5',
 'MDK',
 'SMOC1',
 'TREM2',
 'CCL17',
 'SFRP1',
 'TNFSF13B',
 'CLC',
 'COL6A3',
 'DRAXIN',
 'COLEC12',
 'GGT1',
 'CALB1',
 'CD27',
 'COL1A1',
 'RELT',
 'GUCA2A',
 'HYAL1',
 'RSPO3',
 'CPM',
 'FABP4',
 'FEN1',
 'IGF1R',
 'SCARB2',
 'SCP2',
 'SDC4',
 'VTCN1',
 'OGN',
 'C19orf12',
 'CCN5',
 'SORCS2',
 'SULT2A1',
 'BTN2A1',
 'EPHA1',
 'GPC1',
 'CCL14',
 'CTSF',
 'ACP5',
 'AKT3',
 'CXCL10',
 'EDAR',
 'HBEGF',
 'HSPG2',
 'SLAMF8',
 'FAP',
 'TNFRSF12A',
 'C1QA',
 'CTSS',
 'AGRN',
 'APLP1',
 'HGF',
 'ITGAV',
 'ACAA1',
 'CCL3',
 'DLK1',
 'EPHA2',
 'IGSF8',
 'MYOC',
 'PLAUR',
 'CCL24',
 'TGFB1',
 'CD302',
 'CLEC10A',
 'CST6',
 'F2R',
 'DSC2',
 'IL10RB',
 'KLRB1',
 'LY6D',
 'TNFRSF1B',
 'COMP',
 'SPON1',
 'TIMP1',
 'ADAM15',
 'ISLR2',
 'PLTP',
 'RSPO1',
 'REG1B',
 'CD84',
 'TFF2',
 'SDC1',
 'PRSS8',
 'MSLN',
 'ITGA11',
 'CXCL10',
 'IL7R',
 'ITGAV',
 'CELA3A',
 'FCRL5',
 'NTRK2',
 'PDCD1',
 'REG3A',
 'TNFSF13B',
 'FOLR1',
 'AMY2A',
 'IFNL1',
 'C1QA',
 'NADK',
 'PRSS2',
 'PTN',
 'SELP',
 'MFAP3',
 'TXNDC5',
 'SCARF1',
 'IL19',
 'CD99L2',
 'BSG',
 'CD274',
 'IFNGR1',
 'NPPC',
 'NRP2',
 'CD302',
 'DPP10',
 'FLT1',
 'PADI2',
 'TSPAN1',
 'EFEMP1',
 'NECTIN4',
 'NPTN',
 'SDC1',
 'TNFRSF4',
 'ESAM',
 'TNFRSF21',
 'TNFRSF14',
 'GPC1',
 'CCL21',
 'CLMP',
 'TGFBR2',
 'VASN',
 'CNTNAP2',
 'PIK3IP1',
 'EDAR',
 'APBB1IP',
 'CD99',
 'MOG',
 'NCR1',
 'SPINT1',
 'TNFSF12',
 'NEFL',
 'NTF4',
 'SDC1',
 'PRL',
 'CCL17',
 'CD40LG',
 'NRP1',
 'GP6',
 'CXCL17',
 'ANXA3',
 'BCR',
 'APLP1',
 'GOPC',
 'ITGB1BP2',
 'MARCO',
 'PMVK',
 'SORT1',
 'ARHGAP25',
 'AXIN1',
 'CA13',
 'DOK2',
 'EDIL3',
 'FCRL5',
 'FOXO1',
 'GRAP2',
 'GYS1',
 'ICAM5',
 'IPCEF1',
 'LAT',
 'MANF',
 'MAVS',
 'MGMT',
 'MITD1',
 'MPIG6B',
 'NCK2',
 'PTPN6',
 'SCARF1',
 'SELP',
 'SH2B3',
 'SNAP23',
 'SULT1A1',
 'TFPI',
 'YES1',
 'FCN2',
 'AKT3',
 'ANGPTL1',
 'EGF',
 'MMP1',
 'NFATC1',
 'FYB1',
 'PPP1R9B',
 'TYRO3',
 'ANXA11',
 'ARHGEF12',
 'BIN2',
 'CLEC1B',
 'CNST',
 'COX5B',
 'EBAG9',
 'FUT8',
 'IKBKG',
 'METAP1D',
 'MPI',
 'PLXNA4',
 'PPIB',
 'PPP1R12A',
 'PRKRA',
 'PRSS8',
 'SKAP2',
 'SLC27A4',
 'TBC1D23',
 'TGFB1',
 'TXLNA',
 'USP8',
 'FLT3LG',
 'CD69',
 'MSLN',
 'RHOC',
 'TBCB',
 'ITGA11',
 'PTPN1',
 'PTN',
 'VPS53',
 'SFTPD',
 'TIMD4',
 'WWP2',
 'DIABLO',
 'PDLIM7',
 'ATP5PO',
 'CLPP',
 'EGLN1',
 'BANK1',
 'INPPL1',
 'MESD',
 'WASF1',
 'LGALS8',
 'CORO1A',
 'CXCL3',
 'DKK1',
 'IFNL1',
 'PLA2G4A',
 'TBL1X',
 'TDRKH',
 'TNFRSF4',
 'EPHA10',
 'KIFBP',
 'SNAP29',
 'ATP5IF1',
 'CLIP2',
 'CRACR2A',
 'CA6',
 'CALCOCO1',
 'CCL16',
 'DAPP1',
 'MAP4K5',
 'PDP1',
 'PFKFB2',
 'PRTFDC1',
 'SCAMP3',
 'TST',
 'CDKN1A',
 'SESTD1',
 'DECR1',
 'ERBIN',
 'MGLL',
 'CSF3',
 'GNLY',
 'IGFBPL1',
 'LYN',
 'STK4',
 'STX8',
 'GZMA',
 'ITGB5',
 'RAB37',
 'STX4',
 'TRIM5',
 'CCL18',
 'DAB2',
 'ENPP2',
 'LAT2',
 'USO1',
 'ITGA5',
 'TIA1',
 'TJAP1',
 'PAMR1',
 'GDNF',
 'VTCN1',
 'NEFL',
 'SDC1',
 'PTN',
 'BAIAP2',
 'CCL28',
 'ESM1',
 'TNC',
 'ACE2',
 'RSPO1',
 'TNFRSF4',
 'CCL21',
 'CXCL9',
 'FGFBP1',
 'GPC1',
 'IL18',
 'ITGA11',
 'ITGB6',
 'SFRP1',
 'TNFRSF12A',
 'DLK1',
 'PODXL2',
 'CLC',
 'PRL',
 'SLAMF8',
 'PDCD1',
 'PIGR',
 'PLAUR',
 'SMOC1',
 'SPINT1',
 'TGFA',
 'FOSB',
 'HYOU1',
 'SOST',
 'MDK',
 'MATN2',
 'CCL16',
 'FOLR1',
 'IL6R',
 'LRP1',
 'NRP2',
 'SPP1',
 'ACTA2',
 'DAG1',
 'MUC16',
 'RSPO3',
 'SPON2',
 'REG1B',
 'FCRL5',
 'SMOC2',
 'VCAN',
 'TNFRSF10B',
 'HGF',
 'LPCAT2',
 'MZB1',
 'NDRG1',
 'TFF2',
 'XCL1',
 'FGF23',
 'ICAM5',
 'NRP1',
 'AXL',
 'COL1A1',
 'SIT1',
 'ADM',
 'BGN',
 'CD163',
 'REG3A',
 'CLEC5A',
 'GPR37',
 'ITGA5',
 'PDGFRA',
 'PTPRM',
 'ADAMTS15',
 'DSC2',
 'TFPI2',
 'CCDC80',
 'REG1A',
 'WFDC2',
 'GZMH',
 'SLC39A14',
 'IL4R',
 'JCHAIN',
 'NELL2',
 'GZMA',
 'THBD',
 'IL12RB1',
 'MB',
 'CXCL17',
 'MMP10',
 'SIGLEC9',
 'NBL1',
 'SPON1',
 'CHGB',
 'ACTN4',
 'CD79B',
 'COL6A3',
 'IL6ST',
 'TIE1',
 'TNFRSF10C',
 'TNFRSF11A',
 'TNFRSF9',
 'TNFSF12',
 'TYRO3',
 'WASF3',
 'ALCAM',
 'CD99L2',
 'CDH3',
 'RELT',
 'IDI2',
 'IFNGR1',
 'MSLN',
 'NFKBIE',
 'NPPC',
 'TNFRSF1A',
 'TREM2',
 'CD302',
 'CDH6',
 'LGALS1',
 'FCER2',
 'FCRL3',
 'RBP5',
 'TNFRSF1B',
 'POLR2F',
 'S100P',
 'PHOSPHO1',
 'HAVCR2',
 'LSP1',
 'MME',
 'PILRA',
 'ADAM15',
 'CALB1',
 'CCL23',
 'CD27',
 'ENPP2',
 'FRZB',
 'IFNL1',
 'THBS2',
 'RTN4R',
 'PILRB',
 'LAIR1',
 'SEMA4D',
 'ANGPT2',
 'IL10RB',
 'FUS',
 'IGFBPL1',
 'SFTPD',
 'TNF',
 'TNFSF14',
 'VTCN1',
 'PDCD1',
 'IFNL1',
 'PADI2',
 'TNFRSF4',
 'FABP6',
 'CXCL10',
 'CLEC1A',
 'CD83',
 'SH2D1A',
 'BCL2L11',
 ...]

In [14]:
#Size with duplicated proteins
len(array_protein_names)

1129

In [15]:
#Test how to find a specific protein in list
list(array_protein_names)[0]

'PCOLCE'

In [16]:
#Compare array_protein_names size after removing duplicates
len(set(array_protein_names))

630

In [17]:
# Achar um elemento na lista - Testar se h duplicados
for i in array_protein_names:
    if (i=='SDC1'):
        print (i)

SDC1
SDC1
SDC1
SDC1
SDC1
SDC1
SDC1
SDC1
SDC1
SDC1

### Create a pandas dataframe containing unique protein names as columns from <i>set(array_protein_names)</i>

In [18]:
df = pd.DataFrame(columns = list(set(array_protein_names)))
df["Age"] = ""
df["BMI"] = ""

In [19]:
df.head()

Empty DataFrame
Columns: [RSPO3, EDIL3, IFNG, MDK, CCL25, LSP1, ICOSLG, SIT1, DAPP1, ESM1, SPON1, UXS1, RTN4R, TNFRSF4, DNMBP, CD274, CNTN1, PMVK, BIN2, APOH, GUCA2A, OGN, KLRB1, PHOSPHO1, EPHB6, LTBR, CLPP, EPHB4, CCN3, CTSF, CD59, IL4R, CA3, DLK1, SOD2, GNLY, GDNF, SOST, C4BPB, P4HB, CXCL10, CCL24, SFTPD, PPP1R12A, DSG3, MB, MIA, PTPRF, CPM, GPC1, APLP1, STX6, GZMB, FABP4, CD163, STX4, NBL1, THBD, CLEC11A, MUC16, MAGED1, FGF23, FABP6, EPHA2, STXBP3, NFKBIE, WASF3, APBB1IP, CLC, PRL, CA6, SPINT1, EDAR, ROR1, DPP10, CNTNAP2, CCL28, FLI1, SUMF2, TNFRSF11A, VAMP5, SPINT2, PLXNA4, SCARA5, TBL1X, LAIR1, ERBB2, WWP2, TNFRSF6B, ENTPD2, ANXA3, MZB1, BGN, XCL1, SNAP29, CD99L2, CD302, CD46, CLEC1A, SMOC2, ...]
Index: []

[0 rows x 632 columns]

In [20]:
#Confirming list size for unique protein names
len(list(set(array_protein_names)))

630

In [21]:
#Test - finding the column index of a certain protein name
df.columns.get_loc("SCARB2") ##localizacao da coluna no dataframe

529

In [22]:
#Test whether a protein exists in df columns
if 'SCARB2' in df.columns:
    print("exists")
    print(df.columns.get_loc("SCARB2"))
else:
    print('SCARB2 Does not Exist')

exists
529

## Build Train dataframe

In [23]:
df_validation = df

In [24]:
training_dataframe = pd.DataFrame()
for file in files_to_prepare_train:
    print(file)
    train = pd.read_csv(file)
    train = train.drop(['Unnamed: 0','Threshold','OlinkID','p.value','UniProt','Adjusted_pval','Panel','term','df','sumsq','meansq','statistic','Organ', 'Desc','Desc_Column'], axis=1)
    
    display(train.head(10))
    if (train.shape[0]==0):
        print("Vazio")
        #No adicionar Colunas Age e BMI
    else:
        print("NO VAZIO")
        print("Age: " + re.findall(r'\d+', file)[2])
        print("BMI: " + re.findall(r'\d+', file)[3])
        train['AgeCat'] = re.findall(r'\d+', file)[2]
        train['BMI'] = re.findall(r'\d+', file)[3]
        display(train.head(10))
        
        
        train_label_encoded = pd.get_dummies(train[['Assay']], prefix=None)
        train_label_encoded.columns = [col.replace('Assay_', '') for col in train_label_encoded.columns]
        display(train_label_encoded)
        
        train_label_encoded['Age']=re.findall(r'\d+', file)[2]
        train_label_encoded['BMI']=re.findall(r'\d+', file)[3]
        
        
        #Test whether a protein exists in df columns
        if 'BMI' in train_label_encoded.columns:
            print("exists --->" + str(train_label_encoded.columns.get_loc("BMI")))
        else:
            print('Does not Exist')
            
        #partial save CSV
        train_label_encoded.to_csv('/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/Prepared_Data_for_ML_Input/PreparedData_train_' + split_factor_file_train + '_BMI_'+re.findall(r'\d+', file)[2]+'_Age_'+re.findall(r'\d+', file)[3] + '.csv')
        
        display(train_label_encoded)
        display(df)
        
        df = df.merge(train_label_encoded, how='outer')
        df.fillna(0, inplace=True)
        
        #df  a hot-encoded
        #atualizar cada linha com 1 onde a coluna  igual a row["Assay"'
        
            
        
        
        #df['rating'] = np.where(df['line_race']==0, 0, df['rating'])
        #for i, j in train.iterrows():
        #    print(i, j)
df = df.astype(int)
display(df)

/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_train_BMI_0_Age_5.csv

Empty DataFrame
Columns: [Assay]
Index: []

Vazio
/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_train_BMI_1_Age_2.csv

Empty DataFrame
Columns: [Assay]
Index: []

Vazio
/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_train_BMI_1_Age_3.csv

    Assay
0  PCOLCE
1   CCL28
2  FGFBP1
3     MDK
4   CCL21

NO VAZIO
Age: 1
BMI: 3

    Assay AgeCat BMI
0  PCOLCE      1   3
1   CCL28      1   3
2  FGFBP1      1   3
3     MDK      1   3
4   CCL21      1   3

   CCL21  CCL28  FGFBP1    MDK  PCOLCE
0  False  False   False  False    True
1  False   True   False  False   False
2  False  False    True  False   False
3  False  False   False   True   False
4   True  False   False  False   False

exists --->6

   CCL21  CCL28  FGFBP1    MDK  PCOLCE Age BMI
0  False  False   False  False    True   1   3
1  False   True   False  False   False   1   3
2  False  False    True  False   False   1   3
3  False  False   False   True   False   1   3
4   True  False   False  False   False   1   3

Empty DataFrame
Columns: [RSPO3, EDIL3, IFNG, MDK, CCL25, LSP1, ICOSLG, SIT1, DAPP1, ESM1, SPON1, UXS1, RTN4R, TNFRSF4, DNMBP, CD274, CNTN1, PMVK, BIN2, APOH, GUCA2A, OGN, KLRB1, PHOSPHO1, EPHB6, LTBR, CLPP, EPHB4, CCN3, CTSF, CD59, IL4R, CA3, DLK1, SOD2, GNLY, GDNF, SOST, C4BPB, P4HB, CXCL10, CCL24, SFTPD, PPP1R12A, DSG3, MB, MIA, PTPRF, CPM, GPC1, APLP1, STX6, GZMB, FABP4, CD163, STX4, NBL1, THBD, CLEC11A, MUC16, MAGED1, FGF23, FABP6, EPHA2, STXBP3, NFKBIE, WASF3, APBB1IP, CLC, PRL, CA6, SPINT1, EDAR, ROR1, DPP10, CNTNAP2, CCL28, FLI1, SUMF2, TNFRSF11A, VAMP5, SPINT2, PLXNA4, SCARA5, TBL1X, LAIR1, ERBB2, WWP2, TNFRSF6B, ENTPD2, ANXA3, MZB1, BGN, XCL1, SNAP29, CD99L2, CD302, CD46, CLEC1A, SMOC2, ...]
Index: []

[0 rows x 632 columns]

/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_train_BMI_1_Age_4.csv

Empty DataFrame
Columns: [Assay]
Index: []

Vazio
/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_train_BMI_1_Age_5.csv

  Assay
0   PTN

NO VAZIO
Age: 1
BMI: 5

  Assay AgeCat BMI
0   PTN      1   5

    PTN
0  True

exists --->2

    PTN Age BMI
0  True   1   5

,RSPO3,EDIL3,IFNG,CCL25,LSP1,ICOSLG,SIT1,DAPP1,ESM1,SPON1,...,PRSS2,IDI2,FOLR1,CCL21,CCL28,FGFBP1,MDK,PCOLCE,Age,BMI
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,False,False,False,False,True,1,3
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,False,True,False,False,False,1,3
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,False,False,True,False,False,1,3
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,False,False,False,True,False,1,3
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,True,False,False,False,False,1,3

/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_train_BMI_2_Age_1.csv

Empty DataFrame
Columns: [Assay]
Index: []

Vazio
/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_train_BMI_2_Age_2.csv

   Assay
0    PTN
1   SDC1
2  SFRP1
3  SMOC1
4    HGF
5  CCL24
6    PRL
7  SPON1
8    CLC

NO VAZIO
Age: 2
BMI: 2

   Assay AgeCat BMI
0    PTN      2   2
1   SDC1      2   2
2  SFRP1      2   2
3  SMOC1      2   2
4    HGF      2   2
5  CCL24      2   2
6    PRL      2   2
7  SPON1      2   2
8    CLC      2   2

   CCL24    CLC    HGF    PRL    PTN   SDC1  SFRP1  SMOC1  SPON1
0  False  False  False  False   True  False  False  False  False
1  False  False  False  False  False   True  False  False  False
2  False  False  False  False  False  False   True  False  False
3  False  False  False  False  False  False  False   True  False
4  False  False   True  False  False  False  False  False  False
5   True  False  False  False  False  False  False  False  False
6  False  False  False   True  False  False  False  False  False
7  False  False  False  False  False  False  False  False   True
8  False   True  False  False  False  False  False  False  False

exists --->10

   CCL24    CLC    HGF    PRL    PTN   SDC1  SFRP1  SMOC1  SPON1 Age BMI
0  False  False  False  False   True  False  False  False  False   2   2
1  False  False  False  False  False   True  False  False  False   2   2
2  False  False  False  False  False  False   True  False  False   2   2
3  False  False  False  False  False  False  False   True  False   2   2
4  False  False   True  False  False  False  False  False  False   2   2
5   True  False  False  False  False  False  False  False  False   2   2
6  False  False  False   True  False  False  False  False  False   2   2
7  False  False  False  False  False  False  False  False   True   2   2
8  False   True  False  False  False  False  False  False  False   2   2

,RSPO3,EDIL3,IFNG,CCL25,LSP1,ICOSLG,SIT1,DAPP1,ESM1,SPON1,...,PRSS2,IDI2,FOLR1,CCL21,CCL28,FGFBP1,MDK,PCOLCE,Age,BMI
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,False,False,False,False,True,1,3
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,False,True,False,False,False,1,3
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,False,False,True,False,False,1,3
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,False,False,False,True,False,1,3
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,True,False,False,False,False,1,3
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0,0,0,0,0,1,5

/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_train_BMI_2_Age_3.csv

Empty DataFrame
Columns: [Assay]
Index: []

Vazio
/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_train_BMI_2_Age_4.csv

    Assay
0    DLK1
1     PTN
2   REG3A
3    SDC1
4   SMOC1
5   SFRP1
6  COL6A3
7  SCARF2
8   SPON1
9    GPC1

NO VAZIO
Age: 2
BMI: 4

    Assay AgeCat BMI
0    DLK1      2   4
1     PTN      2   4
2   REG3A      2   4
3    SDC1      2   4
4   SMOC1      2   4
5   SFRP1      2   4
6  COL6A3      2   4
7  SCARF2      2   4
8   SPON1      2   4
9    GPC1      2   4

,ACAA1,ACE2,ACP5,ACVRL1,ADAM15,ADAM22,ADAM23,ADAMTS15,ADAMTS16,ADGRB3,...,VASN,VCAN,VEGFC,VSIG4,VSIR,VTCN1,WASF1,WFDC2,XCL1,YES1
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
491,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
492,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
493,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
494,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
495,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

exists --->495

,ACAA1,ACE2,ACP5,ACVRL1,ADAM15,ADAM22,ADAM23,ADAMTS15,ADAMTS16,ADGRB3,...,VEGFC,VSIG4,VSIR,VTCN1,WASF1,WFDC2,XCL1,YES1,Age,BMI
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,2,4
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,2,4
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,2,4
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,2,4
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,2,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
491,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,2,4
492,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,2,4
493,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,2,4
494,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,2,4
495,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,2,4

,RSPO3,EDIL3,IFNG,CCL25,LSP1,ICOSLG,SIT1,DAPP1,ESM1,SPON1,...,PRSS2,IDI2,FOLR1,CCL21,CCL28,FGFBP1,MDK,PCOLCE,Age,BMI
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,False,False,False,False,True,1,3
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,False,True,False,False,False,1,3
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,False,False,True,False,False,1,3
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,False,False,False,True,False,1,3
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,True,False,False,False,False,1,3
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0,0,0,0,0,1,5
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,False,...,0.0,0.0,0.0,0,0,0,0,0,2,2
7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,False,...,0.0,0.0,0.0,0,0,0,0,0,2,2
8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,False,...,0.0,0.0,0.0,0,0,0,0,0,2,2
9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,False,...,0.0,0.0,0.0,0,0,0,0,0,2,2
10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,False,...,0.0,0.0,0.0,0,0,0,0,0,2,2
11,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,False,...,0.0,0.0,0.0,0,0,0,0,0,2,2
12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,False,...,0.0,0.0,0.0,0,0,0,0,0,2,2
13,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,True,...,0.0,0.0,0.0,0,0,0,0,0,2,2
14,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,False,...,0.0,0.0,0.0,0,0,0,0,0,2,2

/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_train_BMI_2_Age_5.csv

Empty DataFrame
Columns: [Assay]
Index: []

Vazio
/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_train_BMI_3_Age_1.csv

Empty DataFrame
Columns: [Assay]
Index: []

Vazio
/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_train_BMI_3_Age_2.csv

     Assay
0    PADI2
1    DPP10
2  TNFRSF9
3    VAMP5
4     NEFL
5   PCOLCE
6  PIK3IP1
7     CCL4
8    IFNL1
9   ITGA11

NO VAZIO
Age: 3
BMI: 2

     Assay AgeCat BMI
0    PADI2      3   2
1    DPP10      3   2
2  TNFRSF9      3   2
3    VAMP5      3   2
4     NEFL      3   2
5   PCOLCE      3   2
6  PIK3IP1      3   2
7     CCL4      3   2
8    IFNL1      3   2
9   ITGA11      3   2

,ACAA1,ACE2,ACP5,ADAM15,AGRN,AKT3,ANGPTL1,APLP1,APOH,BCL2L11,...,TNFRSF12A,TNFRSF14,TNFRSF19,TNFRSF1B,TNFRSF4,TNFRSF9,TNFSF13B,TREM2,VAMP5,VTCN1
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
121,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
122,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
123,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
124,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

exists --->126

,ACAA1,ACE2,ACP5,ADAM15,AGRN,AKT3,ANGPTL1,APLP1,APOH,BCL2L11,...,TNFRSF19,TNFRSF1B,TNFRSF4,TNFRSF9,TNFSF13B,TREM2,VAMP5,VTCN1,Age,BMI
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,3,2
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,3,2
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,3,2
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,3,2
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,3,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,3,2
121,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,3,2
122,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,3,2
123,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,3,2
124,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,3,2

,RSPO3,EDIL3,IFNG,CCL25,LSP1,ICOSLG,SIT1,DAPP1,ESM1,SPON1,...,PRSS2,IDI2,FOLR1,CCL21,CCL28,FGFBP1,MDK,PCOLCE,Age,BMI
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,False,False,False,False,True,1,3
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,False,True,False,False,False,1,3
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,False,False,True,False,False,1,3
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,False,False,False,True,False,1,3
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,True,False,False,False,False,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
506,False,False,False,False,0.0,False,False,False,0.0,False,...,False,0.0,False,False,0,False,False,False,2,4
507,False,False,False,False,0.0,False,False,False,0.0,False,...,False,0.0,False,False,0,False,False,False,2,4
508,False,False,False,False,0.0,False,False,False,0.0,False,...,False,0.0,False,False,0,False,False,False,2,4
509,False,False,False,False,0.0,False,False,False,0.0,False,...,False,0.0,False,False,0,False,False,False,2,4
510,False,False,False,False,0.0,False,False,False,0.0,False,...,False,0.0,False,False,0,False,False,False,2,4

/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_train_BMI_3_Age_3.csv

    Assay
0    SDC1
1   PRSS8
2    MSLN
3  ITGA11
4  CXCL10
5    IL7R
6   ITGAV
7  CELA3A
8   FCRL5
9   NTRK2

NO VAZIO
Age: 3
BMI: 3

    Assay AgeCat BMI
0    SDC1      3   3
1   PRSS8      3   3
2    MSLN      3   3
3  ITGA11      3   3
4  CXCL10      3   3
5    IL7R      3   3
6   ITGAV      3   3
7  CELA3A      3   3
8   FCRL5      3   3
9   NTRK2      3   3

,AMY2A,C1QA,CELA3A,CXCL10,FCRL5,FOLR1,IFNL1,IL7R,ITGA11,ITGAV,...,NADK,NTRK2,PDCD1,PRSS2,PRSS8,PTN,REG3A,SDC1,SELP,TNFSF13B
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
7,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
12,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
13,False,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
14,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
16,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
20,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False

exists --->22

,AMY2A,C1QA,CELA3A,CXCL10,FCRL5,FOLR1,IFNL1,IL7R,ITGA11,ITGAV,...,PDCD1,PRSS2,PRSS8,PTN,REG3A,SDC1,SELP,TNFSF13B,Age,BMI
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,3,3
1,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,3,3
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,3,3
3,False,False,False,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,3,3
4,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,3,3
5,False,False,False,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,3,3
6,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,3,3
7,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,3,3
8,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,3,3
9,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,3,3
10,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,3,3
11,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,3,3
12,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,3,3
13,False,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,3,3
14,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,3,3
15,False,False,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,3,3
16,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,3,3
17,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,3,3
18,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,3,3
19,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,3,3
20,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,3,3

,RSPO3,EDIL3,IFNG,CCL25,LSP1,ICOSLG,SIT1,DAPP1,ESM1,SPON1,...,PRSS2,IDI2,FOLR1,CCL21,CCL28,FGFBP1,MDK,PCOLCE,Age,BMI
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,False,False,False,False,True,1,3
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,False,True,False,False,False,1,3
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,False,False,True,False,False,1,3
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,True,False,False,False,False,1,3
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,False,False,False,True,False,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
631,False,0,0,0,0.0,0,0,0,0.0,False,...,0,0.0,0,0,0,0,False,False,3,2
632,False,0,0,0,0.0,0,0,0,0.0,False,...,0,0.0,0,0,0,0,False,False,3,2
633,False,0,0,0,0.0,0,0,0,0.0,False,...,0,0.0,0,0,0,0,False,False,3,2
634,False,0,0,0,0.0,0,0,0,0.0,False,...,0,0.0,0,0,0,0,False,False,3,2
635,False,0,0,0,0.0,0,0,0,0.0,False,...,0,0.0,0,0,0,0,False,False,3,2

/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_train_BMI_3_Age_4.csv

Empty DataFrame
Columns: [Assay]
Index: []

Vazio
/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_train_BMI_3_Age_5.csv

Empty DataFrame
Columns: [Assay]
Index: []

Vazio
/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_train_BMI_4_Age_1.csv

Empty DataFrame
Columns: [Assay]
Index: []

Vazio
/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_train_BMI_4_Age_2.csv

Empty DataFrame
Columns: [Assay]
Index: []

Vazio
/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_train_BMI_4_Age_3.csv

   Assay
0  MFAP3

NO VAZIO
Age: 4
BMI: 3

   Assay AgeCat BMI
0  MFAP3      4   3

   MFAP3
0   True

exists --->2

   MFAP3 Age BMI
0   True   4   3

,RSPO3,EDIL3,IFNG,CCL25,LSP1,ICOSLG,SIT1,DAPP1,ESM1,SPON1,...,PRSS2,IDI2,FOLR1,CCL21,CCL28,FGFBP1,MDK,PCOLCE,Age,BMI
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,False,False,False,False,True,1,3
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,False,True,False,False,False,1,3
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,False,False,True,False,False,1,3
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,True,False,False,False,False,1,3
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,False,False,False,True,False,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
652,0,0,0,0,0.0,0,0,0,0.0,0,...,False,0.0,False,0,0,0,0,0,3,3
653,0,0,0,0,0.0,0,0,0,0.0,0,...,False,0.0,False,0,0,0,0,0,3,3
654,0,0,0,0,0.0,0,0,0,0.0,0,...,True,0.0,False,0,0,0,0,0,3,3
655,0,0,0,0,0.0,0,0,0,0.0,0,...,False,0.0,False,0,0,0,0,0,3,3
656,0,0,0,0,0.0,0,0,0,0.0,0,...,False,0.0,False,0,0,0,0,0,3,3

/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_train_BMI_4_Age_4.csv

Empty DataFrame
Columns: [Assay]
Index: []

Vazio

,RSPO3,EDIL3,IFNG,CCL25,LSP1,ICOSLG,SIT1,DAPP1,ESM1,SPON1,...,PRSS2,IDI2,FOLR1,CCL21,CCL28,FGFBP1,MDK,PCOLCE,Age,BMI
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,3
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,3
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,3
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,3
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
653,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,3,3
654,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,3,3
655,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,3,3
656,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,3,3
657,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,4,3

In [25]:
df.head()

,RSPO3,EDIL3,IFNG,CCL25,LSP1,ICOSLG,SIT1,DAPP1,ESM1,SPON1,...,PRSS2,IDI2,FOLR1,CCL21,CCL28,FGFBP1,MDK,PCOLCE,Age,BMI
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,3
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,3
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,3
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,3
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,3

### Replace NaN with Zeroes
This will serve as one hot encoding

In [26]:
#df = df.replace(np.nan,0)

### Walk through df columns and fulfill 1 for existent proteins in each age_train file
This routine will go through Age train files 1 to 5

In [27]:
columns = list(df.columns)

In [28]:
type(columns)

list

In [29]:
columns[0]

'RSPO3'

In [30]:
len(df)

658

In [31]:
df.to_csv('/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/Prepared_Data_for_ML_Input/PreparedData_train_BMI_Age_' + split_factor_file_train + '.csv')

## Build validation dataframe

In [32]:
training_dataframe = pd.DataFrame()
for file in files_to_prepare_validation:
    print(file)
    validation = pd.read_csv(file)
    validation = validation.drop(['Unnamed: 0','Threshold','OlinkID','p.value','UniProt','Adjusted_pval','Panel','term','df','sumsq','meansq','statistic','Organ', 'Desc','Desc_Column'], axis=1)
    
    display(validation.head(10))
    if (validation.shape[0]==0):
        print("Vazio")
        #No adicionar Colunas Age e BMI
    else:
        print("NO VAZIO")
        print("Age: " + re.findall(r'\d+', file)[2])
        print("BMI: " + re.findall(r'\d+', file)[3])
        validation['AgeCat'] = re.findall(r'\d+', file)[2]
        validation['BMI'] = re.findall(r'\d+', file)[3]
        display(validation.head(10))
        
        
        validation_label_encoded = pd.get_dummies(validation[['Assay']], prefix=None)
        validation_label_encoded.columns = [col.replace('Assay_', '') for col in validation_label_encoded.columns]
        display(validation_label_encoded)
        
        validation_label_encoded['Age']=re.findall(r'\d+', file)[2]
        validation_label_encoded['BMI']=re.findall(r'\d+', file)[3]
        
        
        #Test whether a protein exists in df columns
        if 'Age' in validation_label_encoded.columns:
            print("exists --->" + str(validation_label_encoded.columns.get_loc("BMI")))
        else:
            print('Does not Exist')
            
        #partial save CSV
        validation_label_encoded.to_csv('/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/Prepared_Data_for_ML_Input/PreparedData_validation_' + split_factor_file_validation + '_BMI_'+re.findall(r'\d+', file)[2]+'_Age_'+re.findall(r'\d+', file)[3] + '.csv')
        
        display(validation_label_encoded)
        display(df_validation)
        
        df_validation = df_validation.merge(validation_label_encoded, how='outer')
        df_validation.fillna(0, inplace=True)
        
        #df  a hot-encoded
        #atualizar cada linha com 1 onde a coluna  igual a row["Assay"'
        
            
        
        
        #df['rating'] = np.where(df['line_race']==0, 0, df['rating'])
        #for i, j in train.iterrows():
        #    print(i, j)
df_validation = df_validation.astype(int)
display(df_validation)

/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_validation_BMI_1_Age_2.csv

Empty DataFrame
Columns: [Assay]
Index: []

Vazio
/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_validation_BMI_1_Age_3.csv

    Assay
0  TXNDC5
1  SCARF1
2    IL19
3  CD99L2
4     BSG
5   CD274
6  IFNGR1
7    NPPC
8    NRP2
9   CD302

NO VAZIO
Age: 1
BMI: 3

    Assay AgeCat BMI
0  TXNDC5      1   3
1  SCARF1      1   3
2    IL19      1   3
3  CD99L2      1   3
4     BSG      1   3
5   CD274      1   3
6  IFNGR1      1   3
7    NPPC      1   3
8    NRP2      1   3
9   CD302      1   3

,APBB1IP,BSG,CCL21,CD274,CD302,CD99,CD99L2,CLMP,CNTNAP2,DPP10,...,SDC1,SPINT1,TGFBR2,TNFRSF14,TNFRSF21,TNFRSF4,TNFSF12,TSPAN1,TXNDC5,VASN
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
14,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
19,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
23,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
27,False,False,False,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
30,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
31,False,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
32,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
33,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
34,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
35,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
36,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
37,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

exists --->39

,APBB1IP,BSG,CCL21,CD274,CD302,CD99,CD99L2,CLMP,CNTNAP2,DPP10,...,TGFBR2,TNFRSF14,TNFRSF21,TNFRSF4,TNFSF12,TSPAN1,TXNDC5,VASN,Age,BMI
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,1,3
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,1,3
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,1,3
3,False,False,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,1,3
4,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,1,3
5,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,1,3
6,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,1,3
7,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,1,3
8,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,1,3
9,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,1,3
10,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,1,3
11,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,1,3
12,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,1,3
13,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,1,3
14,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,1,3
15,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,1,3
16,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,1,3
17,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,1,3
18,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,1,3
19,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,1,3
20,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,1,3
21,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,1,3
22,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,1,3
23,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,1,3
24,False,False,False,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,1,3
25,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,1,3
26,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,1,3
27,False,False,False,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,1,3
28,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,1,3
29,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,1,3
30,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,1,3
31,False,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,1,3
32,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,1,3
33,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,1,3
34,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,1,3
35,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,1,3
36,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,1,3
37,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,1,3

Empty DataFrame
Columns: [RSPO3, EDIL3, IFNG, MDK, CCL25, LSP1, ICOSLG, SIT1, DAPP1, ESM1, SPON1, UXS1, RTN4R, TNFRSF4, DNMBP, CD274, CNTN1, PMVK, BIN2, APOH, GUCA2A, OGN, KLRB1, PHOSPHO1, EPHB6, LTBR, CLPP, EPHB4, CCN3, CTSF, CD59, IL4R, CA3, DLK1, SOD2, GNLY, GDNF, SOST, C4BPB, P4HB, CXCL10, CCL24, SFTPD, PPP1R12A, DSG3, MB, MIA, PTPRF, CPM, GPC1, APLP1, STX6, GZMB, FABP4, CD163, STX4, NBL1, THBD, CLEC11A, MUC16, MAGED1, FGF23, FABP6, EPHA2, STXBP3, NFKBIE, WASF3, APBB1IP, CLC, PRL, CA6, SPINT1, EDAR, ROR1, DPP10, CNTNAP2, CCL28, FLI1, SUMF2, TNFRSF11A, VAMP5, SPINT2, PLXNA4, SCARA5, TBL1X, LAIR1, ERBB2, WWP2, TNFRSF6B, ENTPD2, ANXA3, MZB1, BGN, XCL1, SNAP29, CD99L2, CD302, CD46, CLEC1A, SMOC2, ...]
Index: []

[0 rows x 632 columns]

/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_validation_BMI_1_Age_4.csv

Empty DataFrame
Columns: [Assay]
Index: []

Vazio
/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_validation_BMI_1_Age_5.csv

Empty DataFrame
Columns: [Assay]
Index: []

Vazio
/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_validation_BMI_2_Age_1.csv

Empty DataFrame
Columns: [Assay]
Index: []

Vazio
/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_validation_BMI_2_Age_2.csv

Empty DataFrame
Columns: [Assay]
Index: []

Vazio
/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_validation_BMI_2_Age_3.csv

    Assay
0    SDC1
1     PRL
2   CCL17
3  CD40LG
4    NRP1
5     GP6
6  CXCL17
7   ANXA3
8     BCR
9   APLP1

NO VAZIO
Age: 2
BMI: 3

    Assay AgeCat BMI
0    SDC1      2   3
1     PRL      2   3
2   CCL17      2   3
3  CD40LG      2   3
4    NRP1      2   3
5     GP6      2   3
6  CXCL17      2   3
7   ANXA3      2   3
8     BCR      2   3
9   APLP1      2   3

,AKT3,ANGPTL1,ANXA11,ANXA3,APLP1,ARHGAP25,ARHGEF12,ATP5IF1,ATP5PO,AXIN1,...,TRIM5,TST,TXLNA,TYRO3,USO1,USP8,VPS53,WASF1,WWP2,YES1
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
139,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
140,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
141,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
142,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

exists --->144

,AKT3,ANGPTL1,ANXA11,ANXA3,APLP1,ARHGAP25,ARHGEF12,ATP5IF1,ATP5PO,AXIN1,...,TXLNA,TYRO3,USO1,USP8,VPS53,WASF1,WWP2,YES1,Age,BMI
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,2,3
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,2,3
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,2,3
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,2,3
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,2,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,2,3
139,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,2,3
140,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,2,3
141,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,2,3
142,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,2,3

,RSPO3,EDIL3,IFNG,MDK,CCL25,LSP1,ICOSLG,SIT1,DAPP1,ESM1,...,TGFBR2,TNFRSF14,TNFRSF21,TNFRSF4,TNFSF12,TSPAN1,TXNDC5,VASN,Age,BMI
0,0,0,0,0,0,0,0,0,0,0,...,False,False,False,False,False,False,True,False,1,3
1,0,0,0,0,0,0,0,0,0,0,...,False,False,False,False,False,False,False,False,1,3
2,0,0,0,0,0,0,0,0,0,0,...,False,False,False,False,False,False,False,False,1,3
3,0,0,0,0,0,0,0,0,0,0,...,False,False,False,False,False,False,False,False,1,3
4,0,0,0,0,0,0,0,0,0,0,...,False,False,False,False,False,False,False,False,1,3
5,0,0,0,0,0,0,0,0,0,0,...,False,False,False,False,False,False,False,False,1,3
6,0,0,0,0,0,0,0,0,0,0,...,False,False,False,False,False,False,False,False,1,3
7,0,0,0,0,0,0,0,0,0,0,...,False,False,False,False,False,False,False,False,1,3
8,0,0,0,0,0,0,0,0,0,0,...,False,False,False,False,False,False,False,False,1,3
9,0,0,0,0,0,0,0,0,0,0,...,False,False,False,False,False,False,False,False,1,3
10,0,0,0,0,0,0,0,0,0,0,...,False,False,False,False,False,False,False,False,1,3
11,0,0,0,0,0,0,0,0,0,0,...,False,False,False,False,False,False,False,False,1,3
12,0,0,0,0,0,0,0,0,0,0,...,False,False,False,False,False,False,False,False,1,3
13,0,0,0,0,0,0,0,0,0,0,...,False,False,False,False,False,True,False,False,1,3
14,0,0,0,0,0,0,0,0,0,0,...,False,False,False,False,False,False,False,False,1,3
15,0,0,0,0,0,0,0,0,0,0,...,False,False,False,False,False,False,False,False,1,3
16,0,0,0,0,0,0,0,0,0,0,...,False,False,False,False,False,False,False,False,1,3
17,0,0,0,0,0,0,0,0,0,0,...,False,False,False,False,False,False,False,False,1,3
18,0,0,0,0,0,0,0,0,0,0,...,False,False,False,True,False,False,False,False,1,3
19,0,0,0,0,0,0,0,0,0,0,...,False,False,False,False,False,False,False,False,1,3
20,0,0,0,0,0,0,0,0,0,0,...,False,False,True,False,False,False,False,False,1,3
21,0,0,0,0,0,0,0,0,0,0,...,False,True,False,False,False,False,False,False,1,3
22,0,0,0,0,0,0,0,0,0,0,...,False,False,False,False,False,False,False,False,1,3
23,0,0,0,0,0,0,0,0,0,0,...,False,False,False,False,False,False,False,False,1,3
24,0,0,0,0,0,0,0,0,0,0,...,False,False,False,False,False,False,False,False,1,3
25,0,0,0,0,0,0,0,0,0,0,...,True,False,False,False,False,False,False,False,1,3
26,0,0,0,0,0,0,0,0,0,0,...,False,False,False,False,False,False,False,True,1,3
27,0,0,0,0,0,0,0,0,0,0,...,False,False,False,False,False,False,False,False,1,3
28,0,0,0,0,0,0,0,0,0,0,...,False,False,False,False,False,False,False,False,1,3
29,0,0,0,0,0,0,0,0,0,0,...,False,False,False,False,False,False,False,False,1,3
30,0,0,0,0,0,0,0,0,0,0,...,False,False,False,False,False,False,False,False,1,3
31,0,0,0,0,0,0,0,0,0,0,...,False,False,False,False,False,False,False,False,1,3
32,0,0,0,0,0,0,0,0,0,0,...,False,False,False,False,False,False,False,False,1,3
33,0,0,0,0,0,0,0,0,0,0,...,False,False,False,False,False,False,False,False,1,3
34,0,0,0,0,0,0,0,0,0,0,...,False,False,False,False,False,False,False,False,1,3
35,0,0,0,0,0,0,0,0,0,0,...,False,False,False,False,True,False,False,False,1,3
36,0,0,0,0,0,0,0,0,0,0,...,False,False,False,False,False,False,False,False,1,3
37,0,0,0,0,0,0,0,0,0,0,...,False,False,False,False,False,False,False,False,1,3

/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_validation_BMI_2_Age_4.csv

    Assay
0    GDNF
1   VTCN1
2    NEFL
3    SDC1
4     PTN
5  BAIAP2
6   CCL28
7    ESM1
8     TNC
9    ACE2

NO VAZIO
Age: 2
BMI: 4

    Assay AgeCat BMI
0    GDNF      2   4
1   VTCN1      2   4
2    NEFL      2   4
3    SDC1      2   4
4     PTN      2   4
5  BAIAP2      2   4
6   CCL28      2   4
7    ESM1      2   4
8     TNC      2   4
9    ACE2      2   4

,ACE2,ACTA2,ACTN4,ADAM15,ADAMTS15,ADM,ALCAM,ANGPT2,AXL,BAIAP2,...,TNFRSF9,TNFSF12,TNFSF14,TREM2,TYRO3,VCAN,VTCN1,WASF3,WFDC2,XCL1
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
146,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
147,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
148,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
149,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False

exists --->151

,ACE2,ACTA2,ACTN4,ADAM15,ADAMTS15,ADM,ALCAM,ANGPT2,AXL,BAIAP2,...,TNFSF14,TREM2,TYRO3,VCAN,VTCN1,WASF3,WFDC2,XCL1,Age,BMI
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,2,4
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,2,4
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,2,4
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,2,4
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,2,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,2,4
146,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,2,4
147,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,2,4
148,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,2,4
149,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,2,4

,RSPO3,EDIL3,IFNG,MDK,CCL25,LSP1,ICOSLG,SIT1,DAPP1,ESM1,...,TGFBR2,TNFRSF14,TNFRSF21,TNFRSF4,TNFSF12,TSPAN1,TXNDC5,VASN,Age,BMI
0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,...,False,False,False,False,False,False,True,False,1,3
1,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,...,False,False,False,False,False,False,False,False,1,3
2,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,...,False,False,False,False,False,False,False,False,1,3
3,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,...,False,False,False,False,False,False,False,False,1,3
4,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,...,False,False,False,False,False,False,False,False,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
176,0.0,False,0.0,0.0,0.0,0.0,0.0,0.0,False,0.0,...,0,0,0,False,0,0,0,0,2,3
177,0.0,False,0.0,0.0,0.0,0.0,0.0,0.0,False,0.0,...,0,0,0,False,0,0,0,0,2,3
178,0.0,False,0.0,0.0,0.0,0.0,0.0,0.0,False,0.0,...,0,0,0,False,0,0,0,0,2,3
179,0.0,False,0.0,0.0,0.0,0.0,0.0,0.0,False,0.0,...,0,0,0,False,0,0,0,0,2,3
180,0.0,False,0.0,0.0,0.0,0.0,0.0,0.0,False,0.0,...,0,0,0,False,0,0,0,0,2,3

/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_validation_BMI_2_Age_5.csv

Empty DataFrame
Columns: [Assay]
Index: []

Vazio
/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_validation_BMI_3_Age_2.csv

     Assay
0    VTCN1
1    PDCD1
2    IFNL1
3    PADI2
4  TNFRSF4
5    FABP6
6   CXCL10
7   CLEC1A
8     CD83
9   SH2D1A

NO VAZIO
Age: 3
BMI: 2

     Assay AgeCat BMI
0    VTCN1      3   2
1    PDCD1      3   2
2    IFNL1      3   2
3    PADI2      3   2
4  TNFRSF4      3   2
5    FABP6      3   2
6   CXCL10      3   2
7   CLEC1A      3   2
8     CD83      3   2
9   SH2D1A      3   2

,ADAM23,ADGRB3,ANGPTL1,APLP1,ART3,BCL2L11,CA3,CD164,CD276,CD5,...,TNFRSF12A,TNFRSF14,TNFRSF4,TNFRSF9,TNFSF13B,TNNI3,TSHB,TSPAN1,VTCN1,WFDC2
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
80,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
81,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
82,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
83,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

exists --->85

,ADAM23,ADGRB3,ANGPTL1,APLP1,ART3,BCL2L11,CA3,CD164,CD276,CD5,...,TNFRSF4,TNFRSF9,TNFSF13B,TNNI3,TSHB,TSPAN1,VTCN1,WFDC2,Age,BMI
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,3,2
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,3,2
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,3,2
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,3,2
4,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,3,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,3,2
80,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,3,2
81,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,3,2
82,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,3,2
83,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,3,2

,RSPO3,EDIL3,IFNG,MDK,CCL25,LSP1,ICOSLG,SIT1,DAPP1,ESM1,...,TGFBR2,TNFRSF14,TNFRSF21,TNFRSF4,TNFSF12,TSPAN1,TXNDC5,VASN,Age,BMI
0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,...,False,False,False,False,False,False,True,False,1,3
1,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,...,False,False,False,False,False,False,False,False,1,3
2,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,...,False,False,False,False,False,False,False,False,1,3
3,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,...,False,False,False,False,False,False,False,False,1,3
4,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,...,False,False,False,False,False,False,False,False,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
326,False,0,0.0,False,0.0,False,0.0,False,0,False,...,0,0,0,False,False,0,0,0,2,4
327,False,0,0.0,False,0.0,False,0.0,False,0,False,...,0,0,0,False,False,0,0,0,2,4
328,False,0,0.0,False,0.0,False,0.0,False,0,False,...,0,0,0,False,False,0,0,0,2,4
329,False,0,0.0,False,0.0,False,0.0,False,0,False,...,0,0,0,False,False,0,0,0,2,4
330,False,0,0.0,False,0.0,False,0.0,False,0,False,...,0,0,0,False,False,0,0,0,2,4

/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_validation_BMI_3_Age_3.csv

    Assay
0    NEFL
1   DPP10
2    ACE2
3    SDC1
4   SPON1
5  COL6A3
6   VTCN1
7   ANPEP
8   EDA2R
9    GGT1

NO VAZIO
Age: 3
BMI: 3

    Assay AgeCat BMI
0    NEFL      3   3
1   DPP10      3   3
2    ACE2      3   3
3    SDC1      3   3
4   SPON1      3   3
5  COL6A3      3   3
6   VTCN1      3   3
7   ANPEP      3   3
8   EDA2R      3   3
9    GGT1      3   3

,ACE2,ANPEP,AXL,CCN5,CD163,CLSTN2,COL6A3,CPM,CXCL17,DPP10,...,SOST,SPON1,STX8,TFPI,TIMD4,TNFRSF11A,TNFSF12,TST,VEGFD,VTCN1
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
2,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
7,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
17,False,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
22,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
28,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
29,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
30,False,False,False,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
31,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
32,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
33,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
34,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
35,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
36,False,False,False,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
37,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
38,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
39,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
40,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
41,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
42,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

exists --->44

,ACE2,ANPEP,AXL,CCN5,CD163,CLSTN2,COL6A3,CPM,CXCL17,DPP10,...,STX8,TFPI,TIMD4,TNFRSF11A,TNFSF12,TST,VEGFD,VTCN1,Age,BMI
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,3,3
1,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,3,3
2,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,3,3
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,3,3
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,3,3
5,False,False,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,3,3
6,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,3,3
7,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,3,3
8,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,3,3
9,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,3,3
10,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,3,3
11,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,3,3
12,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,3,3
13,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,3,3
14,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,3,3
15,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,3,3
16,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,3,3
17,False,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,3,3
18,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,3,3
19,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,3,3
20,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,3,3
21,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,3,3
22,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,3,3
23,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,3,3
24,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,3,3
25,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,3,3
26,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,3,3
27,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,3,3
28,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,3,3
29,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,3,3
30,False,False,False,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,3,3
31,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,3,3
32,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,3,3
33,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,3,3
34,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,3,3
35,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,3,3
36,False,False,False,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,3,3
37,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,3,3
38,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,3,3
39,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,3,3
40,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,3,3
41,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,3,3
42,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,3,3

,RSPO3,EDIL3,IFNG,MDK,CCL25,LSP1,ICOSLG,SIT1,DAPP1,ESM1,...,TGFBR2,TNFRSF14,TNFRSF21,TNFRSF4,TNFSF12,TSPAN1,TXNDC5,VASN,Age,BMI
0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,...,False,False,False,False,False,False,True,False,1,3
1,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,...,False,False,False,False,False,False,False,False,1,3
2,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,...,False,False,False,False,False,False,False,False,1,3
3,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,...,False,False,False,False,False,False,False,False,1,3
4,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,...,False,False,False,False,False,False,False,False,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
410,0,False,False,0,0.0,0,0.0,0,0,0,...,False,False,0,False,0,False,0,0,3,2
411,0,False,False,0,0.0,0,0.0,0,0,0,...,True,False,0,False,0,False,0,0,3,2
412,0,False,False,0,0.0,0,0.0,0,0,0,...,False,False,0,False,0,False,0,0,3,2
413,0,False,False,0,0.0,0,0.0,0,0,0,...,False,False,0,False,0,False,0,0,3,2
414,0,False,False,0,0.0,0,0.0,0,0,0,...,False,False,0,False,0,False,0,0,3,2

/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_validation_BMI_3_Age_4.csv

Empty DataFrame
Columns: [Assay]
Index: []

Vazio
/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_validation_BMI_3_Age_5.csv

Empty DataFrame
Columns: [Assay]
Index: []

Vazio
/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_validation_BMI_4_Age_1.csv

      Assay
0     CALB1
1     CD79B
2    HAVCR1
3    IGFBP4
4   RARRES2
5      SDC1
6     THBS2
7  TNFRSF14
8   TNFRSF4
9       MDK

NO VAZIO
Age: 4
BMI: 1

      Assay AgeCat BMI
0     CALB1      4   1
1     CD79B      4   1
2    HAVCR1      4   1
3    IGFBP4      4   1
4   RARRES2      4   1
5      SDC1      4   1
6     THBS2      4   1
7  TNFRSF14      4   1
8   TNFRSF4      4   1
9       MDK      4   1

,CALB1,CD79B,HAVCR1,IGFBP4,LTBR,MDK,RARRES2,RSPO1,SDC1,THBS2,TNFRSF14,TNFRSF4,ULBP2
0,True,False,False,False,False,False,False,False,False,False,False,False,False
1,False,True,False,False,False,False,False,False,False,False,False,False,False
2,False,False,True,False,False,False,False,False,False,False,False,False,False
3,False,False,False,True,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,True,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,True,False,False,False,False
6,False,False,False,False,False,False,False,False,False,True,False,False,False
7,False,False,False,False,False,False,False,False,False,False,True,False,False
8,False,False,False,False,False,False,False,False,False,False,False,True,False
9,False,False,False,False,False,True,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False,False,False,True
11,False,False,False,False,True,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,True,False,False,False,False,False

exists --->14

,CALB1,CD79B,HAVCR1,IGFBP4,LTBR,MDK,RARRES2,RSPO1,SDC1,THBS2,TNFRSF14,TNFRSF4,ULBP2,Age,BMI
0,True,False,False,False,False,False,False,False,False,False,False,False,False,4,1
1,False,True,False,False,False,False,False,False,False,False,False,False,False,4,1
2,False,False,True,False,False,False,False,False,False,False,False,False,False,4,1
3,False,False,False,True,False,False,False,False,False,False,False,False,False,4,1
4,False,False,False,False,False,False,True,False,False,False,False,False,False,4,1
5,False,False,False,False,False,False,False,False,True,False,False,False,False,4,1
6,False,False,False,False,False,False,False,False,False,True,False,False,False,4,1
7,False,False,False,False,False,False,False,False,False,False,True,False,False,4,1
8,False,False,False,False,False,False,False,False,False,False,False,True,False,4,1
9,False,False,False,False,False,True,False,False,False,False,False,False,False,4,1
10,False,False,False,False,False,False,False,False,False,False,False,False,True,4,1
11,False,False,False,False,True,False,False,False,False,False,False,False,False,4,1
12,False,False,False,False,False,False,False,True,False,False,False,False,False,4,1

,RSPO3,EDIL3,IFNG,MDK,CCL25,LSP1,ICOSLG,SIT1,DAPP1,ESM1,...,TGFBR2,TNFRSF14,TNFRSF21,TNFRSF4,TNFSF12,TSPAN1,TXNDC5,VASN,Age,BMI
0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,...,False,False,False,False,False,False,True,False,1,3
1,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,...,False,False,False,False,False,False,False,False,1,3
2,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,...,False,False,False,False,False,False,False,False,1,3
3,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,...,False,False,False,False,False,False,False,False,1,3
4,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,...,False,False,False,False,False,False,False,False,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
453,0,0,False,0,0.0,0,0.0,0,0,0,...,0,0,0,0,False,0,0,0,3,3
454,0,0,False,0,0.0,0,0.0,0,0,0,...,0,0,0,0,False,0,0,0,3,3
455,0,0,False,0,0.0,0,0.0,0,0,0,...,0,0,0,0,False,0,0,0,3,3
456,0,0,False,0,0.0,0,0.0,0,0,0,...,0,0,0,0,False,0,0,0,3,3
457,0,0,False,0,0.0,0,0.0,0,0,0,...,0,0,0,0,False,0,0,0,3,3

/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_validation_BMI_4_Age_2.csv

Empty DataFrame
Columns: [Assay]
Index: []

Vazio
/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_validation_BMI_4_Age_3.csv

Empty DataFrame
Columns: [Assay]
Index: []

Vazio
/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/60_40/MGH_ANOVA_BMI_categories_validation_BMI_4_Age_4.csv

Empty DataFrame
Columns: [Assay]
Index: []

Vazio

,RSPO3,EDIL3,IFNG,MDK,CCL25,LSP1,ICOSLG,SIT1,DAPP1,ESM1,...,TGFBR2,TNFRSF14,TNFRSF21,TNFRSF4,TNFSF12,TSPAN1,TXNDC5,VASN,Age,BMI
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,3
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,3
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,3
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,3
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
466,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,4,1
467,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,4,1
468,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,4,1
469,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,4,1
470,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,4,1

In [33]:
df_validation.head()

,RSPO3,EDIL3,IFNG,MDK,CCL25,LSP1,ICOSLG,SIT1,DAPP1,ESM1,...,TGFBR2,TNFRSF14,TNFRSF21,TNFRSF4,TNFSF12,TSPAN1,TXNDC5,VASN,Age,BMI
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,3
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,3
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,3
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,3
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,3

In [34]:
columns_validation = list(df_validation.columns)

In [35]:
type(columns_validation)

list

In [36]:
columns_validation[0]

'RSPO3'

In [37]:
len(df_validation), df_validation.shape

(471, (471, 632))

In [38]:
df_validation.to_csv('/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/Prepared_Data_for_ML_Input/PreparedData_validation_BMI_Age_' + split_factor_file_validation + '.csv')

In [39]:
exit()