In [1]:
from IPython.display import display
!conda info

     active environment : base
    active env location : /Users/marcelo_palermo/anaconda3
            shell level : 1
       user config file : /Users/marcelo_palermo/.condarc
 populated config files : /Users/marcelo_palermo/.condarc
          conda version : 23.3.1
    conda-build version : 3.24.0
         python version : 3.10.11.final.0
       virtual packages : __archspec=1=x86_64
                          __osx=13.3.1=0
                          __unix=0=0
       base environment : /Users/marcelo_palermo/anaconda3  (writable)
      conda av data dir : /Users/marcelo_palermo/anaconda3/etc/conda
  conda av metadata url : None
           channel URLs : https://conda.anaconda.org/conda-forge/osx-64
                          https://conda.anaconda.org/conda-forge/noarch
                          https://repo.anaconda.com/pkgs/main/osx-64
                          https://repo.anaconda.com/pkgs/main/noarch
                          https://repo.anaconda.com/pkgs/r/osx-64
                          https://repo.anaconda.com/pkgs/r/noarch
          package cache : /Users/marcelo_palermo/anaconda3/pkgs
                          /Users/marcelo_palermo/.conda/pkgs
       envs directories : /Users/marcelo_palermo/anaconda3/envs
                          /Users/marcelo_palermo/.conda/envs
               platform : osx-64
             user-agent : conda/23.3.1 requests/2.29.0 CPython/3.10.11 Darwin/22.4.0 OSX/13.3.1
                UID:GID : 501:20
             netrc file : None
           offline mode : False

In [2]:
def separate_proteins(filename):
    
    
    training_dataset = pd.read_csv(filename)
    print("Original Data for " + filename)
    display(training_dataset.head(10))
    display(training_dataset.shape)
    #Drop unnecessary columns
    training_dataset = training_dataset.drop(['Unnamed: 0','Threshold','Desc','OlinkID','UniProt','Panel','Organ','Desc_Column','term','df','sumsq','meansq','statistic'], axis=1)
    #training_dataset = training_dataset.drop(['Unnamed: 0','Threshold','OlinkID','UniProt','Panel','term','df','sumsq','meansq','statistic'], axis=1)
    display(training_dataset.head(10))
    display(training_dataset.shape)
    
    
    training_dataframe = pd.DataFrame()
    validation_dataframe = pd.DataFrame()
    
    if(filename.find('train')>0):
        print('This is training file')
        if training_dataframe.empty:
            training_dataframe = training_dataset
            print('creating empty dataframe and placing training_dataset into it')
            
        
        
    else: 
        print('This is validation file')
    
    
    display(training_dataframe.head(10))
    
    return list(training_dataset['Assay'].values)

In [3]:
def build_ML_data_prep (filename,df,age):
    print("Processing file " + filename)
    training_dataset1 = pd.read_csv(filename)
    for protein in training_dataset1['Assay']:
        #print(protein)
        if protein in df.columns:
            df.loc[df['AgeCat']==age, [protein]] = 1
        else:
            df.loc[df['AgeCat']==age, [protein]] = 0
    display(df.head())
    return(df)

In [4]:
import pandas as pd
import numpy as np
import re

In [5]:
from skmultilearn.adapt import MLkNN, MLARAM
# para transformação de problemas usaremos Binary Relevance, Classifier Chain e Label Powerset
from skmultilearn.problem_transform import BinaryRelevance, ClassifierChain, LabelPowerset
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
from sklearn.metrics import hamming_loss
import pandas as pd
import numpy as np
import sys
#np.set_printoptions(threshold=sys.maxsize)
from sklearn.naive_bayes import GaussianNB,MultinomialNB

### Read MGH Olink ANOVA dataset for the referred category

In [6]:
category = ['age','BMI']
category_range_age = range(1,6)
category_range_BMI = range(0,5)

In [7]:
for i in category_range_age:
    print("Age category:", category_range_age[i-1])
print("\r")
for i in category_range_BMI:
    print("BMI category:", category_range_BMI[i])

Age category: 1
Age category: 2
Age category: 3
Age category: 4
Age category: 5

BMI category: 0
BMI category: 1
BMI category: 2
BMI category: 3
BMI category: 4

In [8]:
import glob, os
files_to_prepare = []
files_to_prepare_train = []

split_factor_file_train = "75_25"
split_factor_file_validation = "75_25"

listing = glob.glob('/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/' + split_factor_file_train + '/MGH_ANOVA_BMI_categories_train_Age_*.csv')

for filename in listing:
    if "cut" in filename:
        print("NOT INCLUDED - Found cut in ", filename)
    else:
        print(filename)
        files_to_prepare.append(filename)
        
## BMI Category 5 training & validation is Unknown --> Discarded
## BMI Category 1 training is empty --> discarded

files_to_prepare.sort()

/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_train_Age_2_BMI_3.csv
/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_train_Age_4_BMI_4.csv
/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_train_Age_2_BMI_2.csv
NOT INCLUDED - Found cut in  /Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_train_Age_3_BMI_2_cut.csv
/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_train_Age_2_BMI_1.csv
/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_train_Age_4_BMI_2.csv
NOT INCLUDED - Found cut in  /Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_train_Age_4_BMI_2_cut.csv
/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_train_Age_4_BMI_3.csv
/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_train_Age_2_BMI_4.csv
NOT INCLUDED - Found cut in  /Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_train_Age_3_BMI_3_cut.csv
/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_train_Age_4_BMI_1.csv
/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_train_Age_3_BMI_3.csv
/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_train_Age_3_BMI_2.csv
/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_train_Age_3_BMI_1.csv
/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_train_Age_5_BMI_2.csv
/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_train_Age_3_BMI_4.csv
NOT INCLUDED - Found cut in  /Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_train_Age_1_BMI_4_cut.csv
/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_train_Age_5_BMI_3.csv
/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_train_Age_5_BMI_1.csv
/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_train_Age_5_BMI_0.csv
NOT INCLUDED - Found cut in  /Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_train_Age_2_BMI_3_cut.csv
/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_train_Age_1_BMI_2.csv
/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_train_Age_1_BMI_3.csv
/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_train_Age_1_BMI_1.csv
/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_train_Age_1_BMI_4.csv

In [9]:
len(files_to_prepare)

20

In [10]:
files_to_prepare

['/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_train_Age_1_BMI_1.csv',
 '/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_train_Age_1_BMI_2.csv',
 '/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_train_Age_1_BMI_3.csv',
 '/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_train_Age_1_BMI_4.csv',
 '/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_train_Age_2_BMI_1.csv',
 '/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_train_Age_2_BMI_2.csv',
 '/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_train_Age_2_BMI_3.csv',
 '/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_train_Age_2_BMI_4.csv',
 '/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_train_Age_3_BMI_1.csv',
 '/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_train_Age_3_BMI_2.csv',
 '/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_train_Age_3_BMI_3.csv',
 '/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_train_Age_3_BMI_4.csv',
 '/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_train_Age_4_BMI_1.csv',
 '/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_train_Age_4_BMI_2.csv',
 '/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_train_Age_4_BMI_3.csv',
 '/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_train_Age_4_BMI_4.csv',
 '/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_train_Age_5_BMI_0.csv',
 '/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_train_Age_5_BMI_1.csv',
 '/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_train_Age_5_BMI_2.csv',
 '/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_train_Age_5_BMI_3.csv']

### We load validation files just to capture ALL proteins
- Some proteins will appear only in validation
- Some proteins will appear only in train
- We need to ensure ALL columns for Age will be the same in validation and train sets

In [11]:
files_to_prepare_train = files_to_prepare
files_to_prepare_validation = []

listing = glob.glob('/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/' + split_factor_file_validation + '/MGH_ANOVA_BMI_categories_validation_Age_*.csv')
for filename in listing:
    if "cut" in filename:
        print("NOT INCLUDED - Found cut in ", filename)
    else:
        print(filename)
        files_to_prepare_validation.append(filename)
        
        
## BMI Category 5 training & validation is Unknown --> Discarded
## BMI Category 1 training is empty --> discarded

files_to_prepare_validation.sort()

/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_validation_Age_3_BMI_3.csv
/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_validation_Age_3_BMI_2.csv
/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_validation_Age_3_BMI_1.csv
/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_validation_Age_5_BMI_2.csv
/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_validation_Age_3_BMI_4.csv
/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_validation_Age_5_BMI_3.csv
/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_validation_Age_5_BMI_1.csv
/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_validation_Age_5_BMI_0.csv
/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_validation_Age_2_BMI_3.csv
/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_validation_Age_2_BMI_2.csv
/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_validation_Age_4_BMI_2.csv
/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_validation_Age_4_BMI_3.csv
/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_validation_Age_2_BMI_4.csv
/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_validation_Age_4_BMI_1.csv
/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_validation_Age_1_BMI_4.csv

In [12]:
files_to_prepare + files_to_prepare_validation

['/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_train_Age_1_BMI_1.csv',
 '/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_train_Age_1_BMI_2.csv',
 '/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_train_Age_1_BMI_3.csv',
 '/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_train_Age_1_BMI_4.csv',
 '/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_train_Age_2_BMI_1.csv',
 '/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_train_Age_2_BMI_2.csv',
 '/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_train_Age_2_BMI_3.csv',
 '/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_train_Age_2_BMI_4.csv',
 '/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_train_Age_3_BMI_1.csv',
 '/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_train_Age_3_BMI_2.csv',
 '/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_train_Age_3_BMI_3.csv',
 '/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_train_Age_3_BMI_4.csv',
 '/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_train_Age_4_BMI_1.csv',
 '/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_train_Age_4_BMI_2.csv',
 '/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_train_Age_4_BMI_3.csv',
 '/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_train_Age_4_BMI_4.csv',
 '/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_train_Age_5_BMI_0.csv',
 '/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_train_Age_5_BMI_1.csv',
 '/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_train_Age_5_BMI_2.csv',
 '/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_train_Age_5_BMI_3.csv',
 '/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_validation_Age_1_BMI_4.csv',
 '/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_validation_Age_2_BMI_2.csv',
 '/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_validation_Age_2_BMI_3.csv',
 '/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_validation_Age_2_BMI_4.csv',
 '/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_validation_Age_3_BMI_1.csv',
 '/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_validation_Age_3_BMI_2.csv',
 '/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_validation_Age_3_BMI_3.csv',
 '/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_validation_Age_3_BMI_4.csv',
 '/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_validation_Age_4_BMI_1.csv',
 '/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_validation_Age_4_BMI_2.csv',
 '/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_validation_Age_4_BMI_3.csv',
 '/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_validation_Age_5_BMI_0.csv',
 '/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_validation_Age_5_BMI_1.csv',
 '/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_validation_Age_5_BMI_2.csv',
 '/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_validation_Age_5_BMI_3.csv']

In [13]:
len(files_to_prepare)

20

In [14]:
files_to_prepare_validation

['/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_validation_Age_1_BMI_4.csv',
 '/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_validation_Age_2_BMI_2.csv',
 '/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_validation_Age_2_BMI_3.csv',
 '/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_validation_Age_2_BMI_4.csv',
 '/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_validation_Age_3_BMI_1.csv',
 '/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_validation_Age_3_BMI_2.csv',
 '/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_validation_Age_3_BMI_3.csv',
 '/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_validation_Age_3_BMI_4.csv',
 '/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_validation_Age_4_BMI_1.csv',
 '/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_validation_Age_4_BMI_2.csv',
 '/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_validation_Age_4_BMI_3.csv',
 '/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_validation_Age_5_BMI_0.csv',
 '/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_validation_Age_5_BMI_1.csv',
 '/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_validation_Age_5_BMI_2.csv',
 '/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_validation_Age_5_BMI_3.csv']

In [15]:
array_protein_names = []
array_each_file = []
for file in (files_to_prepare + files_to_prepare_validation):
    array_each_file = separate_proteins(file)
    array_protein_names = array_protein_names + array_each_file

Original Data for /Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_train_Age_1_BMI_1.csv

Empty DataFrame
Columns: [Unnamed: 0, Assay, OlinkID, UniProt, Panel, term, df, sumsq, meansq, statistic, p.value, Adjusted_pval, Threshold, Organ, Desc, Desc_Column]
Index: []

(0, 16)

Empty DataFrame
Columns: [Assay, p.value, Adjusted_pval]
Index: []

(0, 3)

This is training file
creating empty dataframe and placing training_dataset into it

Empty DataFrame
Columns: [Assay, p.value, Adjusted_pval]
Index: []

Original Data for /Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_train_Age_1_BMI_2.csv

Empty DataFrame
Columns: [Unnamed: 0, Assay, OlinkID, UniProt, Panel, term, df, sumsq, meansq, statistic, p.value, Adjusted_pval, Threshold, Organ, Desc, Desc_Column]
Index: []

(0, 16)

Empty DataFrame
Columns: [Assay, p.value, Adjusted_pval]
Index: []

(0, 3)

This is training file
creating empty dataframe and placing training_dataset into it

Empty DataFrame
Columns: [Assay, p.value, Adjusted_pval]
Index: []

Original Data for /Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_train_Age_1_BMI_3.csv

,Unnamed: 0,Assay,OlinkID,UniProt,Panel,term,df,sumsq,meansq,statistic,p.value,Adjusted_pval,Threshold,Organ,Desc,Desc_Column
0,1,REG3A,OID20258,Q06141,Cardiometabolic,Timepoint,2,21.343895,10.671948,65.733635,0.000029,0.04276,Significant,"Group enriched: intestine, pancreas",Regenerating islet-derived protein 3-alpha,Group_enriched_intestine_pancreas

(1, 16)

   Assay   p.value  Adjusted_pval
0  REG3A  0.000029        0.04276

(1, 3)

This is training file
creating empty dataframe and placing training_dataset into it

   Assay   p.value  Adjusted_pval
0  REG3A  0.000029        0.04276

Original Data for /Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_train_Age_1_BMI_4.csv

,Unnamed: 0,Assay,OlinkID,UniProt,Panel,term,df,sumsq,meansq,statistic,p.value,Adjusted_pval,Threshold,Organ,Desc,Desc_Column
0,1,EREG,OID20905,O14944,Neurology,Timepoint,3,10.913759,3.637920,35.319887,0.000006,0.004203,Significant,Tissue enriched: bone marrow,Proepiregulin,Tissue_enriched_bone_marrow
1,2,HAVCR1,OID21422,Q96D42,Oncology,Timepoint,3,46.125306,15.375102,29.700012,0.000014,0.004203,Significant,"Group enriched: intestine, kidney",Hepatitis A virus cellular receptor 1,Group_enriched_intestine_kidney
2,3,NEFL,OID20871,P07196,Neurology,Timepoint,3,18.450192,6.150064,36.083208,0.000005,0.004203,Significant,Tissue enriched: brain,Neurofilament light polypeptide,Tissue_enriched_brain
3,4,TGFBR2,OID21493,P37173,Oncology,Timepoint,3,2.517191,0.839064,31.108806,0.000011,0.004203,Significant,Low tissue specificity,TGF-beta receptor type-2,Low_tissue_specificity
4,5,TNFRSF4,OID20653,P43489,Inflammation,Timepoint,3,6.160978,2.053659,30.053201,0.000013,0.004203,Significant,Tissue enhanced: lymphoid tissue,Tumor necrosis factor receptor superfamily mem...,Tissue_enhanced_lymphoid_tissue
5,6,EFNA4,OID20935,P52798,Neurology,Timepoint,3,4.098198,1.366066,23.195541,0.000046,0.006490,Significant,Tissue enhanced: skin 1,Ephrin-A4,Tissue_enhanced_skin_1
6,7,FAS,OID20316,P25445,Cardiometabolic,Timepoint,3,5.025784,1.675261,25.347293,0.000031,0.006490,Significant,Low tissue specificity,Tumor necrosis factor receptor superfamily mem...,Low_tissue_specificity
7,8,GFOD2,OID21216,Q3B7J2,Oncology,Timepoint,3,2.732470,0.910823,22.956564,0.000049,0.006490,Significant,Low tissue specificity,Glucose-fructose oxidoreductase domain-contain...,Low_tissue_specificity
8,9,IGFBP4,OID21158,P22692,Neurology,Timepoint,3,7.387477,2.462492,23.504272,0.000044,0.006490,Significant,Low tissue specificity,Insulin-like growth factor-binding protein 4,Low_tissue_specificity
9,10,MMP7,OID20087,P09237,Cardiometabolic,Timepoint,3,7.595979,2.531993,22.988354,0.000048,0.006490,Significant,"Tissue enhanced: gallbladder, salivary gland, ...",Matrilysin,Tissue_enhanced_gallbladder_salivary_gland_uri...

(111, 16)

     Assay   p.value  Adjusted_pval
0     EREG  0.000006       0.004203
1   HAVCR1  0.000014       0.004203
2     NEFL  0.000005       0.004203
3   TGFBR2  0.000011       0.004203
4  TNFRSF4  0.000013       0.004203
5    EFNA4  0.000046       0.006490
6      FAS  0.000031       0.006490
7    GFOD2  0.000049       0.006490
8   IGFBP4  0.000044       0.006490
9     MMP7  0.000048       0.006490

(111, 3)

This is training file
creating empty dataframe and placing training_dataset into it

     Assay   p.value  Adjusted_pval
0     EREG  0.000006       0.004203
1   HAVCR1  0.000014       0.004203
2     NEFL  0.000005       0.004203
3   TGFBR2  0.000011       0.004203
4  TNFRSF4  0.000013       0.004203
5    EFNA4  0.000046       0.006490
6      FAS  0.000031       0.006490
7    GFOD2  0.000049       0.006490
8   IGFBP4  0.000044       0.006490
9     MMP7  0.000048       0.006490

Original Data for /Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_train_Age_2_BMI_1.csv

Empty DataFrame
Columns: [Unnamed: 0, Assay, OlinkID, UniProt, Panel, term, df, sumsq, meansq, statistic, p.value, Adjusted_pval, Threshold, Organ, Desc, Desc_Column]
Index: []

(0, 16)

Empty DataFrame
Columns: [Assay, p.value, Adjusted_pval]
Index: []

(0, 3)

This is training file
creating empty dataframe and placing training_dataset into it

Empty DataFrame
Columns: [Assay, p.value, Adjusted_pval]
Index: []

Original Data for /Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_train_Age_2_BMI_2.csv

,Unnamed: 0,Assay,OlinkID,UniProt,Panel,term,df,sumsq,meansq,statistic,p.value,Adjusted_pval,Threshold,Organ,Desc,Desc_Column
0,1,MMP7,OID20087,P09237,Cardiometabolic,Timepoint,3,15.502805,5.167602,11.915958,0.000029,0.021626,Significant,"Tissue enhanced: gallbladder, salivary gland, ...",Matrilysin,Tissue_enhanced_gallbladder_salivary_gland_uri...
1,2,PRL,OID21033,P01236,Neurology,Timepoint,3,20.201434,6.733811,12.367531,0.000022,0.021626,Significant,Tissue enriched: pituitary gland,Prolactin,Tissue_enriched_pituitary_gland
2,3,CCL13,OID20655,Q99616,Inflammation,Timepoint,3,8.303550,2.767850,10.077801,0.000103,0.021693,Significant,"Tissue enhanced: intestine, urinary bladder",C-C motif chemokine 13,Tissue_enhanced_intestine_urinary_bladder
3,4,CCL24,OID20772,O00175,Inflammation,Timepoint,3,24.295847,8.098616,10.269595,0.000090,0.021693,Significant,"Group enriched: intestine, lymphoid tissue",C-C motif chemokine 24,Group_enriched_intestine_lymphoid_tissue
4,5,PTN,OID20083,P21246,Cardiometabolic,Timepoint,3,113.394702,37.798234,10.823162,0.000061,0.021693,Significant,"Tissue enhanced: brain, parathyroid gland",Pleiotrophin,Tissue_enhanced_brain_parathyroid_gland
5,6,SDC1,OID20169,P18827,Cardiometabolic,Timepoint,3,59.947196,19.982399,10.848279,0.000060,0.021693,Significant,"Tissue enhanced: esophagus, liver, skin 1",Syndecan-1,Tissue_enhanced_esophagus_liver_skin_1
6,7,SIT1,OID20462,Q9Y3P8,Inflammation,Timepoint,3,4.951050,1.650350,10.162819,0.000097,0.021693,Significant,Tissue enriched: lymphoid tissue,Signaling threshold-regulating transmembrane a...,Tissue_enriched_lymphoid_tissue
7,8,CA6,OID21096,P23280,Neurology,Timepoint,3,4.710089,1.570030,9.405616,0.000168,0.028815,Significant,Tissue enriched: salivary gland,Carbonic anhydrase 6,Tissue_enriched_salivary_gland
8,9,TIMD4,OID20375,Q96H15,Cardiometabolic,Timepoint,3,13.751475,4.583825,9.340389,0.000176,0.028815,Significant,"Group enriched: lymphoid tissue, testis",T-cell immunoglobulin and mucin domain-contain...,Group_enriched_lymphoid_tissue_testis
9,10,NRP1,OID20390,O14786,Cardiometabolic,Timepoint,3,3.750843,1.250281,9.182970,0.000198,0.029145,Significant,Low tissue specificity,Neuropilin-1,Low_tissue_specificity

(10, 16)

   Assay   p.value  Adjusted_pval
0   MMP7  0.000029       0.021626
1    PRL  0.000022       0.021626
2  CCL13  0.000103       0.021693
3  CCL24  0.000090       0.021693
4    PTN  0.000061       0.021693
5   SDC1  0.000060       0.021693
6   SIT1  0.000097       0.021693
7    CA6  0.000168       0.028815
8  TIMD4  0.000176       0.028815
9   NRP1  0.000198       0.029145

(10, 3)

This is training file
creating empty dataframe and placing training_dataset into it

   Assay   p.value  Adjusted_pval
0   MMP7  0.000029       0.021626
1    PRL  0.000022       0.021626
2  CCL13  0.000103       0.021693
3  CCL24  0.000090       0.021693
4    PTN  0.000061       0.021693
5   SDC1  0.000060       0.021693
6   SIT1  0.000097       0.021693
7    CA6  0.000168       0.028815
8  TIMD4  0.000176       0.028815
9   NRP1  0.000198       0.029145

Original Data for /Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_train_Age_2_BMI_3.csv

,Unnamed: 0,Assay,OlinkID,UniProt,Panel,term,df,sumsq,meansq,statistic,p.value,Adjusted_pval,Threshold,Organ,Desc,Desc_Column
0,1,APOH,OID21072,P02749,Neurology,Timepoint,3,5.382426,1.794142,43.806314,2.933761e-12,4.318496e-09,Significant,Tissue enriched: liver,Beta-2-glycoprotein 1,Tissue_enriched_liver
1,2,PADI2,OID20467,Q9Y2J8,Inflammation,Timepoint,3,21.139403,7.046468,24.310065,7.281112e-09,5.358899e-06,Significant,"Tissue enhanced: brain, skeletal muscle, tongue",Protein-arginine deiminase type-2,Tissue_enhanced_brain_skeletal_muscle_tongue
2,3,TNFRSF9,OID20985,Q07011,Neurology,Timepoint,3,17.269769,5.756590,18.788362,1.430734e-07,7.020136e-05,Significant,Tissue enriched: lymphoid tissue,Tumor necrosis factor receptor superfamily mem...,Tissue_enriched_lymphoid_tissue
3,4,IFNL1,OID20795,Q8IU54,Neurology,Timepoint,3,30.717481,10.239160,16.501007,5.731192e-07,2.109079e-04,Significant,Not detected,Interferon lambda-1,Not_detected
4,5,VAMP5,OID20071,O95183,Cardiometabolic,Timepoint,3,14.845809,4.948603,15.274138,1.261494e-06,3.713839e-04,Significant,Low tissue specificity,Vesicle-associated membrane protein 5,Low_tissue_specificity
5,6,TNFRSF4,OID20653,P43489,Inflammation,Timepoint,3,12.196139,4.065380,14.734484,1.804179e-06,3.793930e-04,Significant,Tissue enhanced: lymphoid tissue,Tumor necrosis factor receptor superfamily mem...,Tissue_enhanced_lymphoid_tissue
6,7,TNFSF13B,OID20272,Q9Y275,Cardiometabolic,Timepoint,3,12.653971,4.217990,14.804386,1.721804e-06,3.793930e-04,Significant,Tissue enhanced: lymphoid tissue,Tumor necrosis factor ligand superfamily membe...,Tissue_enhanced_lymphoid_tissue
7,8,NTproBNP,OID20125,NTproBNP,Cardiometabolic,Timepoint,3,45.316973,15.105658,14.372159,2.303004e-06,4.237528e-04,Significant,Tissue enhanced: brain,N-terminal prohormone of brain natriuretic pep...,Tissue_enhanced_brain
8,9,DPP10,OID20527,Q8N608,Inflammation,Timepoint,3,9.638466,3.212822,14.029845,2.908928e-06,4.757714e-04,Significant,"Tissue enhanced: adrenal gland, brain, pancreas",Inactive dipeptidyl peptidase 10,Tissue_enhanced_adrenal_gland_brain_pancreas
9,10,CD160,OID20647,O95971,Inflammation,Timepoint,3,6.554030,2.184677,13.778222,3.460242e-06,5.093476e-04,Significant,Tissue enhanced: lymphoid tissue,CD160 antigen,Tissue_enhanced_lymphoid_tissue

(127, 16)

      Assay       p.value  Adjusted_pval
0      APOH  2.933761e-12   4.318496e-09
1     PADI2  7.281112e-09   5.358899e-06
2   TNFRSF9  1.430734e-07   7.020136e-05
3     IFNL1  5.731192e-07   2.109079e-04
4     VAMP5  1.261494e-06   3.713839e-04
5   TNFRSF4  1.804179e-06   3.793930e-04
6  TNFSF13B  1.721804e-06   3.793930e-04
7  NTproBNP  2.303004e-06   4.237528e-04
8     DPP10  2.908928e-06   4.757714e-04
9     CD160  3.460242e-06   5.093476e-04

(127, 3)

This is training file
creating empty dataframe and placing training_dataset into it

      Assay       p.value  Adjusted_pval
0      APOH  2.933761e-12   4.318496e-09
1     PADI2  7.281112e-09   5.358899e-06
2   TNFRSF9  1.430734e-07   7.020136e-05
3     IFNL1  5.731192e-07   2.109079e-04
4     VAMP5  1.261494e-06   3.713839e-04
5   TNFRSF4  1.804179e-06   3.793930e-04
6  TNFSF13B  1.721804e-06   3.793930e-04
7  NTproBNP  2.303004e-06   4.237528e-04
8     DPP10  2.908928e-06   4.757714e-04
9     CD160  3.460242e-06   5.093476e-04

Original Data for /Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_train_Age_2_BMI_4.csv

,Unnamed: 0,Assay,OlinkID,UniProt,Panel,term,df,sumsq,meansq,statistic,p.value,Adjusted_pval,Threshold,Organ,Desc,Desc_Column
0,1,PADI2,OID20467,Q9Y2J8,Inflammation,Timepoint,3,11.531322,3.843774,17.952106,0.000032,0.046602,Significant,"Tissue enhanced: brain, skeletal muscle, tongue",Protein-arginine deiminase type-2,Tissue_enhanced_brain_skeletal_muscle_tongue

(1, 16)

   Assay   p.value  Adjusted_pval
0  PADI2  0.000032       0.046602

(1, 3)

This is training file
creating empty dataframe and placing training_dataset into it

   Assay   p.value  Adjusted_pval
0  PADI2  0.000032       0.046602

Original Data for /Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_train_Age_3_BMI_1.csv

,Unnamed: 0,Assay,OlinkID,UniProt,Panel,term,df,sumsq,meansq,statistic,p.value,Adjusted_pval,Threshold,Organ,Desc,Desc_Column
0,1,NEFL,OID20871,P07196,Neurology,Timepoint,4,44.186369,11.046592,15.743249,0.000011,0.007804,Significant,Tissue enriched: brain,Neurofilament light polypeptide,Tissue_enriched_brain
1,2,PCOLCE,OID20384,Q15113,Cardiometabolic,Timepoint,4,8.205958,2.051490,17.099449,0.000006,0.007804,Significant,Low tissue specificity,Procollagen C-endopeptidase enhancer 1,Low_tissue_specificity
2,3,ACE2,OID20105,Q9BYF1,Cardiometabolic,Timepoint,4,40.039040,10.009760,13.041673,0.000037,0.013618,Significant,"Tissue enhanced: gallbladder, intestine, kidney",Angiotensin-converting enzyme 2,Tissue_enhanced_gallbladder_intestine_kidney
3,4,MDK,OID21489,P21741,Oncology,Timepoint,4,75.097512,18.774378,13.517490,0.000029,0.013618,Significant,Tissue enhanced: ovary,Midkine,Tissue_enhanced_ovary
4,5,FRZB,OID20968,Q92765,Neurology,Timepoint,4,19.880256,4.970064,12.065894,0.000061,0.014480,Significant,Tissue enhanced: retina,Secreted frizzled-related protein 3,Tissue_enhanced_retina
5,6,IL19,OID20158,Q9UHD0,Cardiometabolic,Timepoint,4,25.951840,6.487960,11.831227,0.000069,0.014480,Significant,"Group enriched: cervix, salivary gland",Interleukin-19,Group_enriched_cervix_salivary_gland
6,7,SFRP1,OID20984,Q8N474,Neurology,Timepoint,4,168.161226,42.040306,12.008641,0.000063,0.014480,Significant,"Tissue enhanced: breast, choroid plexus",Secreted frizzled-related protein 1,Tissue_enhanced_breast_choroid_plexus
7,8,PTN,OID20083,P21246,Cardiometabolic,Timepoint,4,131.617161,32.904290,11.330438,0.000090,0.016594,Significant,"Tissue enhanced: brain, parathyroid gland",Pleiotrophin,Tissue_enhanced_brain_parathyroid_gland
8,9,FGFBP1,OID21507,Q14512,Oncology,Timepoint,4,90.329260,22.582315,10.761963,0.000124,0.020237,Significant,"Tissue enhanced: esophagus, vagina",Fibroblast growth factor-binding protein 1,Tissue_enhanced_esophagus_vagina
9,10,SDC1,OID20169,P18827,Cardiometabolic,Timepoint,4,61.293753,15.323438,10.107938,0.000181,0.026577,Significant,"Tissue enhanced: esophagus, liver, skin 1",Syndecan-1,Tissue_enhanced_esophagus_liver_skin_1

(13, 16)

    Assay   p.value  Adjusted_pval
0    NEFL  0.000011       0.007804
1  PCOLCE  0.000006       0.007804
2    ACE2  0.000037       0.013618
3     MDK  0.000029       0.013618
4    FRZB  0.000061       0.014480
5    IL19  0.000069       0.014480
6   SFRP1  0.000063       0.014480
7     PTN  0.000090       0.016594
8  FGFBP1  0.000124       0.020237
9    SDC1  0.000181       0.026577

(13, 3)

This is training file
creating empty dataframe and placing training_dataset into it

    Assay   p.value  Adjusted_pval
0    NEFL  0.000011       0.007804
1  PCOLCE  0.000006       0.007804
2    ACE2  0.000037       0.013618
3     MDK  0.000029       0.013618
4    FRZB  0.000061       0.014480
5    IL19  0.000069       0.014480
6   SFRP1  0.000063       0.014480
7     PTN  0.000090       0.016594
8  FGFBP1  0.000124       0.020237
9    SDC1  0.000181       0.026577

Original Data for /Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_train_Age_3_BMI_2.csv

,Unnamed: 0,Assay,OlinkID,UniProt,Panel,term,df,sumsq,meansq,statistic,p.value,Adjusted_pval,Threshold,Organ,Desc,Desc_Column
0,1,SDC1,OID20169,P18827,Cardiometabolic,Timepoint,3,100.918902,33.639634,27.669976,9.205012e-11,1.354978e-07,Significant,"Tissue enhanced: esophagus, liver, skin 1",Syndecan-1,Tissue_enhanced_esophagus_liver_skin_1
1,2,TNFRSF4,OID20653,P43489,Inflammation,Timepoint,3,26.817543,8.939181,26.049067,2.336524e-10,1.719682e-07,Significant,Tissue enhanced: lymphoid tissue,Tumor necrosis factor receptor superfamily mem...,Tissue_enhanced_lymphoid_tissue
2,3,SCARF1,OID20297,Q14162,Cardiometabolic,Timepoint,3,16.303080,5.434360,19.764915,1.236059e-08,6.064930e-06,Significant,Tissue enhanced: lymphoid tissue,Scavenger receptor class F member 1,Tissue_enhanced_lymphoid_tissue
3,4,TNFRSF9,OID20985,Q07011,Neurology,Timepoint,3,20.682988,6.894329,18.845549,2.333355e-08,8.586747e-06,Significant,Tissue enriched: lymphoid tissue,Tumor necrosis factor receptor superfamily mem...,Tissue_enriched_lymphoid_tissue
4,5,IL19,OID20158,Q9UHD0,Cardiometabolic,Timepoint,3,53.826207,17.942069,15.057716,3.820216e-07,9.372263e-05,Significant,"Group enriched: cervix, salivary gland",Interleukin-19,Group_enriched_cervix_salivary_gland
5,6,RELT,OID21142,Q969Z4,Neurology,Timepoint,3,19.873305,6.624435,15.180401,3.472550e-07,9.372263e-05,Significant,Tissue enriched: bone marrow,Tumor necrosis factor receptor superfamily mem...,Tissue_enriched_bone_marrow
6,7,NRP1,OID20390,O14786,Cardiometabolic,Timepoint,3,3.957407,1.319136,14.099142,8.150510e-07,1.713936e-04,Significant,Low tissue specificity,Neuropilin-1,Low_tissue_specificity
7,8,MARCO,OID20210,Q9UEW3,Cardiometabolic,Timepoint,3,6.289124,2.096375,13.596502,1.223593e-06,2.001254e-04,Significant,"Tissue enhanced: liver, lung, lymphoid tissue",Macrophage receptor MARCO,Tissue_enhanced_liver_lung_lymphoid_tissue
8,9,PRSS8,OID20763,Q16651,Inflammation,Timepoint,3,13.960341,4.653447,13.692259,1.131905e-06,2.001254e-04,Significant,Tissue enhanced: salivary gland,Prostasin,Tissue_enhanced_salivary_gland
9,10,COL6A3,OID20292,P12111,Cardiometabolic,Timepoint,3,34.601234,11.533745,12.913383,2.147398e-06,3.160970e-04,Significant,Tissue enhanced: smooth muscle,Collagen alpha-3(VI) chain,Tissue_enhanced_smooth_muscle

(483, 16)

     Assay       p.value  Adjusted_pval
0     SDC1  9.205012e-11   1.354978e-07
1  TNFRSF4  2.336524e-10   1.719682e-07
2   SCARF1  1.236059e-08   6.064930e-06
3  TNFRSF9  2.333355e-08   8.586747e-06
4     IL19  3.820216e-07   9.372263e-05
5     RELT  3.472550e-07   9.372263e-05
6     NRP1  8.150510e-07   1.713936e-04
7    MARCO  1.223593e-06   2.001254e-04
8    PRSS8  1.131905e-06   2.001254e-04
9   COL6A3  2.147398e-06   3.160970e-04

(483, 3)

This is training file
creating empty dataframe and placing training_dataset into it

     Assay       p.value  Adjusted_pval
0     SDC1  9.205012e-11   1.354978e-07
1  TNFRSF4  2.336524e-10   1.719682e-07
2   SCARF1  1.236059e-08   6.064930e-06
3  TNFRSF9  2.333355e-08   8.586747e-06
4     IL19  3.820216e-07   9.372263e-05
5     RELT  3.472550e-07   9.372263e-05
6     NRP1  8.150510e-07   1.713936e-04
7    MARCO  1.223593e-06   2.001254e-04
8    PRSS8  1.131905e-06   2.001254e-04
9   COL6A3  2.147398e-06   3.160970e-04

Original Data for /Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_train_Age_3_BMI_3.csv

,Unnamed: 0,Assay,OlinkID,UniProt,Panel,term,df,sumsq,meansq,statistic,p.value,Adjusted_pval,Threshold,Organ,Desc,Desc_Column
0,1,SDC1,OID20169,P18827,Cardiometabolic,Timepoint,3,100.743346,33.581115,25.312460,9.245486e-11,1.360936e-07,Significant,"Tissue enhanced: esophagus, liver, skin 1",Syndecan-1,Tissue_enhanced_esophagus_liver_skin_1
1,2,FGFBP1,OID21507,Q14512,Oncology,Timepoint,3,56.089726,18.696575,21.954132,9.219293e-10,4.523600e-07,Significant,"Tissue enhanced: esophagus, vagina",Fibroblast growth factor-binding protein 1,Tissue_enhanced_esophagus_vagina
2,3,NEFL,OID20871,P07196,Neurology,Timepoint,3,73.727222,24.575741,22.350613,6.963624e-10,4.523600e-07,Significant,Tissue enriched: brain,Neurofilament light polypeptide,Tissue_enriched_brain
3,4,TNFSF12,OID20624,O43508,Inflammation,Timepoint,3,12.976775,4.325592,20.008851,3.794585e-09,1.396407e-06,Significant,Low tissue specificity,Tumor necrosis factor ligand superfamily membe...,Low_tissue_specificity
4,5,CCL28,OID20569,Q9NRJ3,Inflammation,Timepoint,3,12.434804,4.144935,16.732966,4.806514e-08,1.402720e-05,Significant,Tissue enriched: salivary gland,C-C motif chemokine 28,Tissue_enriched_salivary_gland
5,6,SPON1,OID20759,Q9HCB6,Inflammation,Timepoint,3,25.029688,8.343229,16.518618,5.717609e-08,1.402720e-05,Significant,Tissue enhanced: gallbladder,Spondin-1,Tissue_enhanced_gallbladder
6,7,ITGA11,OID20581,Q9UKX5,Inflammation,Timepoint,3,13.624543,4.541514,16.241632,7.165604e-08,1.506824e-05,Significant,"Tissue enhanced: cervix, endometrium 1, smooth...",Integrin alpha-11,Tissue_enhanced_cervix_endometrium_1_smooth_mu...
7,8,PTK7,OID20880,Q13308,Neurology,Timepoint,3,21.974265,7.324755,15.216806,1.675983e-07,3.083810e-05,Significant,Low tissue specificity,Inactive tyrosine-protein kinase 7,Low_tissue_specificity
8,9,IFNL1,OID20795,Q8IU54,Neurology,Timepoint,3,35.691722,11.897241,14.065116,4.479861e-07,7.327062e-05,Significant,Not detected,Interferon lambda-1,Not_detected
9,10,PTN,OID20083,P21246,Cardiometabolic,Timepoint,3,146.544926,48.848309,13.600977,6.717252e-07,9.887794e-05,Significant,"Tissue enhanced: brain, parathyroid gland",Pleiotrophin,Tissue_enhanced_brain_parathyroid_gland

(221, 16)

     Assay       p.value  Adjusted_pval
0     SDC1  9.245486e-11   1.360936e-07
1   FGFBP1  9.219293e-10   4.523600e-07
2     NEFL  6.963624e-10   4.523600e-07
3  TNFSF12  3.794585e-09   1.396407e-06
4    CCL28  4.806514e-08   1.402720e-05
5    SPON1  5.717609e-08   1.402720e-05
6   ITGA11  7.165604e-08   1.506824e-05
7     PTK7  1.675983e-07   3.083810e-05
8    IFNL1  4.479861e-07   7.327062e-05
9      PTN  6.717252e-07   9.887794e-05

(221, 3)

This is training file
creating empty dataframe and placing training_dataset into it

     Assay       p.value  Adjusted_pval
0     SDC1  9.245486e-11   1.360936e-07
1   FGFBP1  9.219293e-10   4.523600e-07
2     NEFL  6.963624e-10   4.523600e-07
3  TNFSF12  3.794585e-09   1.396407e-06
4    CCL28  4.806514e-08   1.402720e-05
5    SPON1  5.717609e-08   1.402720e-05
6   ITGA11  7.165604e-08   1.506824e-05
7     PTK7  1.675983e-07   3.083810e-05
8    IFNL1  4.479861e-07   7.327062e-05
9      PTN  6.717252e-07   9.887794e-05

Original Data for /Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_train_Age_3_BMI_4.csv

Empty DataFrame
Columns: [Unnamed: 0, Assay, OlinkID, UniProt, Panel, term, df, sumsq, meansq, statistic, p.value, Adjusted_pval, Threshold, Organ, Desc, Desc_Column]
Index: []

(0, 16)

Empty DataFrame
Columns: [Assay, p.value, Adjusted_pval]
Index: []

(0, 3)

This is training file
creating empty dataframe and placing training_dataset into it

Empty DataFrame
Columns: [Assay, p.value, Adjusted_pval]
Index: []

Original Data for /Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_train_Age_4_BMI_1.csv

Empty DataFrame
Columns: [Unnamed: 0, Assay, OlinkID, UniProt, Panel, term, df, sumsq, meansq, statistic, p.value, Adjusted_pval, Threshold, Organ, Desc, Desc_Column]
Index: []

(0, 16)

Empty DataFrame
Columns: [Assay, p.value, Adjusted_pval]
Index: []

(0, 3)

This is training file
creating empty dataframe and placing training_dataset into it

Empty DataFrame
Columns: [Assay, p.value, Adjusted_pval]
Index: []

Original Data for /Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_train_Age_4_BMI_2.csv

,Unnamed: 0,Assay,OlinkID,UniProt,Panel,term,df,sumsq,meansq,statistic,p.value,Adjusted_pval,Threshold,Organ,Desc,Desc_Column
0,1,DLK1,OID20295,P80370,Cardiometabolic,Timepoint,3,34.629795,11.543265,25.321420,3.005571e-11,4.424201e-08,Significant,"Group enriched: adrenal gland, pituitary gland...",Protein delta homolog 1,Group_enriched_adrenal_gland_pituitary_gland_p...
1,2,COL6A3,OID20292,P12111,Cardiometabolic,Timepoint,3,61.871795,20.623932,20.203715,1.430003e-09,5.135484e-07,Significant,Tissue enhanced: smooth muscle,Collagen alpha-3(VI) chain,Tissue_enhanced_smooth_muscle
2,3,DSC2,OID21079,Q02487,Neurology,Timepoint,3,28.106804,9.368935,20.793377,8.967057e-10,5.135484e-07,Significant,"Tissue enhanced: esophagus, vagina",Desmocollin-2,Tissue_enhanced_esophagus_vagina
3,4,FOLR1,OID21529,P15328,Oncology,Timepoint,3,11.882326,3.960775,20.288232,1.336978e-09,5.135484e-07,Significant,"Tissue enhanced: choroid plexus, fallopian tub...",Folate receptor alpha,Tissue_enhanced_choroid_plexus_fallopian_tube_...
4,5,GPC1,OID21438,P35052,Oncology,Timepoint,3,26.599383,8.866461,19.299640,2.959848e-09,5.135484e-07,Significant,Tissue enhanced: skin 1,Glypican-1,Tissue_enhanced_skin_1
5,6,NEFL,OID20871,P07196,Neurology,Timepoint,3,65.198475,21.732825,19.464551,2.589197e-09,5.135484e-07,Significant,Tissue enriched: brain,Neurofilament light polypeptide,Tissue_enriched_brain
6,7,PTN,OID20083,P21246,Cardiometabolic,Timepoint,3,227.906115,75.968705,19.327095,2.894550e-09,5.135484e-07,Significant,"Tissue enhanced: brain, parathyroid gland",Pleiotrophin,Tissue_enhanced_brain_parathyroid_gland
7,8,SPON1,OID20759,Q9HCB6,Inflammation,Timepoint,3,42.104450,14.034817,19.227044,3.139902e-09,5.135484e-07,Significant,Tissue enhanced: gallbladder,Spondin-1,Tissue_enhanced_gallbladder
8,9,TNFRSF4,OID20653,P43489,Inflammation,Timepoint,3,34.427557,11.475852,19.692865,2.153150e-09,5.135484e-07,Significant,Tissue enhanced: lymphoid tissue,Tumor necrosis factor receptor superfamily mem...,Tissue_enhanced_lymphoid_tissue
9,10,SDC1,OID20169,P18827,Cardiometabolic,Timepoint,3,96.253917,32.084639,19.057017,3.607006e-09,5.309513e-07,Significant,"Tissue enhanced: esophagus, liver, skin 1",Syndecan-1,Tissue_enhanced_esophagus_liver_skin_1

(674, 16)

     Assay       p.value  Adjusted_pval
0     DLK1  3.005571e-11   4.424201e-08
1   COL6A3  1.430003e-09   5.135484e-07
2     DSC2  8.967057e-10   5.135484e-07
3    FOLR1  1.336978e-09   5.135484e-07
4     GPC1  2.959848e-09   5.135484e-07
5     NEFL  2.589197e-09   5.135484e-07
6      PTN  2.894550e-09   5.135484e-07
7    SPON1  3.139902e-09   5.135484e-07
8  TNFRSF4  2.153150e-09   5.135484e-07
9     SDC1  3.607006e-09   5.309513e-07

(674, 3)

This is training file
creating empty dataframe and placing training_dataset into it

     Assay       p.value  Adjusted_pval
0     DLK1  3.005571e-11   4.424201e-08
1   COL6A3  1.430003e-09   5.135484e-07
2     DSC2  8.967057e-10   5.135484e-07
3    FOLR1  1.336978e-09   5.135484e-07
4     GPC1  2.959848e-09   5.135484e-07
5     NEFL  2.589197e-09   5.135484e-07
6      PTN  2.894550e-09   5.135484e-07
7    SPON1  3.139902e-09   5.135484e-07
8  TNFRSF4  2.153150e-09   5.135484e-07
9     SDC1  3.607006e-09   5.309513e-07

Original Data for /Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_train_Age_4_BMI_3.csv

Empty DataFrame
Columns: [Unnamed: 0, Assay, OlinkID, UniProt, Panel, term, df, sumsq, meansq, statistic, p.value, Adjusted_pval, Threshold, Organ, Desc, Desc_Column]
Index: []

(0, 16)

Empty DataFrame
Columns: [Assay, p.value, Adjusted_pval]
Index: []

(0, 3)

This is training file
creating empty dataframe and placing training_dataset into it

Empty DataFrame
Columns: [Assay, p.value, Adjusted_pval]
Index: []

Original Data for /Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_train_Age_4_BMI_4.csv

Empty DataFrame
Columns: [Unnamed: 0, Assay, OlinkID, UniProt, Panel, term, df, sumsq, meansq, statistic, p.value, Adjusted_pval, Threshold, Organ, Desc, Desc_Column]
Index: []

(0, 16)

Empty DataFrame
Columns: [Assay, p.value, Adjusted_pval]
Index: []

(0, 3)

This is training file
creating empty dataframe and placing training_dataset into it

Empty DataFrame
Columns: [Assay, p.value, Adjusted_pval]
Index: []

Original Data for /Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_train_Age_5_BMI_0.csv

Empty DataFrame
Columns: [Unnamed: 0, Assay, OlinkID, UniProt, Panel, term, df, sumsq, meansq, statistic, p.value, Adjusted_pval, Threshold, Organ, Desc, Desc_Column]
Index: []

(0, 16)

Empty DataFrame
Columns: [Assay, p.value, Adjusted_pval]
Index: []

(0, 3)

This is training file
creating empty dataframe and placing training_dataset into it

Empty DataFrame
Columns: [Assay, p.value, Adjusted_pval]
Index: []

Original Data for /Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_train_Age_5_BMI_1.csv

,Unnamed: 0,Assay,OlinkID,UniProt,Panel,term,df,sumsq,meansq,statistic,p.value,Adjusted_pval,Threshold,Organ,Desc,Desc_Column
0,1,PTN,OID20083,P21246,Cardiometabolic,Timepoint,3,135.744842,45.248281,13.359917,0.000025,0.036546,Significant,"Tissue enhanced: brain, parathyroid gland",Pleiotrophin,Tissue_enhanced_brain_parathyroid_gland

(1, 16)

  Assay   p.value  Adjusted_pval
0   PTN  0.000025       0.036546

(1, 3)

This is training file
creating empty dataframe and placing training_dataset into it

  Assay   p.value  Adjusted_pval
0   PTN  0.000025       0.036546

Original Data for /Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_train_Age_5_BMI_2.csv

Empty DataFrame
Columns: [Unnamed: 0, Assay, OlinkID, UniProt, Panel, term, df, sumsq, meansq, statistic, p.value, Adjusted_pval, Threshold, Organ, Desc, Desc_Column]
Index: []

(0, 16)

Empty DataFrame
Columns: [Assay, p.value, Adjusted_pval]
Index: []

(0, 3)

This is training file
creating empty dataframe and placing training_dataset into it

Empty DataFrame
Columns: [Assay, p.value, Adjusted_pval]
Index: []

Original Data for /Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_train_Age_5_BMI_3.csv

,Unnamed: 0,Assay,OlinkID,UniProt,Panel,term,df,sumsq,meansq,statistic,p.value,Adjusted_pval,Threshold,Organ,Desc,Desc_Column
0,1,PADI2,OID20467,Q9Y2J8,Inflammation,Timepoint,3,8.769467,2.923156,26.879579,0.000005,0.006690,Significant,"Tissue enhanced: brain, skeletal muscle, tongue",Protein-arginine deiminase type-2,Tissue_enhanced_brain_skeletal_muscle_tongue
1,2,CLC,OID20126,Q05315,Cardiometabolic,Timepoint,3,15.304482,5.101494,20.966830,0.000019,0.014053,Significant,Tissue enriched: bone marrow,Galectin-10,Tissue_enriched_bone_marrow
2,3,ADGRG2,OID20189,Q8IZP9,Cardiometabolic,Timepoint,3,4.472069,1.490690,15.289235,0.000107,0.025518,Significant,Tissue enriched: epididymis,Adhesion G-protein coupled receptor G2,Tissue_enriched_epididymis
3,4,CCL18,OID20395,P55774,Cardiometabolic,Timepoint,3,5.563956,1.854652,14.553541,0.000139,0.025518,Significant,Tissue enriched: lung,C-C motif chemokine 18,Tissue_enriched_lung
4,5,CDSN,OID20667,Q15517,Inflammation,Timepoint,3,3.872881,1.290960,16.112165,0.000081,0.025518,Significant,Tissue enriched: skin 1,Corneodesmosin,Tissue_enriched_skin_1
5,6,LY96,OID20945,Q9Y6Y9,Neurology,Timepoint,3,1.099948,0.366649,16.537462,0.000071,0.025518,Significant,Low tissue specificity,Lymphocyte antigen 96,Low_tissue_specificity
6,7,TIMP3,OID20684,P35625,Inflammation,Timepoint,3,28.473119,9.491040,14.667289,0.000133,0.025518,Significant,Low tissue specificity,Metalloproteinase inhibitor 3,Low_tissue_specificity
7,8,TNNI3,OID20050,P19429,Cardiometabolic,Timepoint,3,49.535148,16.511716,15.233645,0.000109,0.025518,Significant,Tissue enriched: heart muscle,"Troponin I, cardiac muscle",Tissue_enriched_heart_muscle
8,9,CST5,OID20995,P28325,Neurology,Timepoint,3,5.296420,1.765473,13.907680,0.000175,0.028679,Significant,Tissue enriched: salivary gland,Cystatin-D,Tissue_enriched_salivary_gland

(9, 16)

    Assay   p.value  Adjusted_pval
0   PADI2  0.000005       0.006690
1     CLC  0.000019       0.014053
2  ADGRG2  0.000107       0.025518
3   CCL18  0.000139       0.025518
4    CDSN  0.000081       0.025518
5    LY96  0.000071       0.025518
6   TIMP3  0.000133       0.025518
7   TNNI3  0.000109       0.025518
8    CST5  0.000175       0.028679

(9, 3)

This is training file
creating empty dataframe and placing training_dataset into it

    Assay   p.value  Adjusted_pval
0   PADI2  0.000005       0.006690
1     CLC  0.000019       0.014053
2  ADGRG2  0.000107       0.025518
3   CCL18  0.000139       0.025518
4    CDSN  0.000081       0.025518
5    LY96  0.000071       0.025518
6   TIMP3  0.000133       0.025518
7   TNNI3  0.000109       0.025518
8    CST5  0.000175       0.028679

Original Data for /Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_validation_Age_1_BMI_4.csv

Empty DataFrame
Columns: [Unnamed: 0, Assay, OlinkID, UniProt, Panel, term, df, sumsq, meansq, statistic, p.value, Adjusted_pval, Threshold, Organ, Desc, Desc_Column]
Index: []

(0, 16)

Empty DataFrame
Columns: [Assay, p.value, Adjusted_pval]
Index: []

(0, 3)

This is validation file

Empty DataFrame
Columns: []
Index: []

Original Data for /Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_validation_Age_2_BMI_2.csv

Empty DataFrame
Columns: [Unnamed: 0, Assay, OlinkID, UniProt, Panel, term, df, sumsq, meansq, statistic, p.value, Adjusted_pval, Threshold, Organ, Desc, Desc_Column]
Index: []

(0, 16)

Empty DataFrame
Columns: [Assay, p.value, Adjusted_pval]
Index: []

(0, 3)

This is validation file

Empty DataFrame
Columns: []
Index: []

Original Data for /Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_validation_Age_2_BMI_3.csv

,Unnamed: 0,Assay,OlinkID,UniProt,Panel,term,df,sumsq,meansq,statistic,p.value,Adjusted_pval,Threshold,Organ,Desc,Desc_Column
0,1,VTCN1,OID21164,Q7Z7D3,Oncology,Timepoint,3,16.631539,5.543846,33.794755,0.000001,0.001693,Significant,"Tissue enhanced: breast, fallopian tube, pancreas",V-set domain-containing T-cell activation inhi...,Tissue_enhanced_breast_fallopian_tube_pancreas

(1, 16)

   Assay   p.value  Adjusted_pval
0  VTCN1  0.000001       0.001693

(1, 3)

This is validation file

Empty DataFrame
Columns: []
Index: []

Original Data for /Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_validation_Age_2_BMI_4.csv

Empty DataFrame
Columns: [Unnamed: 0, Assay, OlinkID, UniProt, Panel, term, df, sumsq, meansq, statistic, p.value, Adjusted_pval, Threshold, Organ, Desc, Desc_Column]
Index: []

(0, 16)

Empty DataFrame
Columns: [Assay, p.value, Adjusted_pval]
Index: []

(0, 3)

This is validation file

Empty DataFrame
Columns: []
Index: []

Original Data for /Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_validation_Age_3_BMI_1.csv

Empty DataFrame
Columns: [Unnamed: 0, Assay, OlinkID, UniProt, Panel, term, df, sumsq, meansq, statistic, p.value, Adjusted_pval, Threshold, Organ, Desc, Desc_Column]
Index: []

(0, 16)

Empty DataFrame
Columns: [Assay, p.value, Adjusted_pval]
Index: []

(0, 3)

This is validation file

Empty DataFrame
Columns: []
Index: []

Original Data for /Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_validation_Age_3_BMI_2.csv

Empty DataFrame
Columns: [Unnamed: 0, Assay, OlinkID, UniProt, Panel, term, df, sumsq, meansq, statistic, p.value, Adjusted_pval, Threshold, Organ, Desc, Desc_Column]
Index: []

(0, 16)

Empty DataFrame
Columns: [Assay, p.value, Adjusted_pval]
Index: []

(0, 3)

This is validation file

Empty DataFrame
Columns: []
Index: []

Original Data for /Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_validation_Age_3_BMI_3.csv

,Unnamed: 0,Assay,OlinkID,UniProt,Panel,term,df,sumsq,meansq,statistic,p.value,Adjusted_pval,Threshold,Organ,Desc,Desc_Column
0,1,GLT8D2,OID20825,Q9H1C3,Neurology,Timepoint,3,7.913729,2.63791,41.400519,1.707780e-07,0.000251,Significant,Low tissue specificity,Glycosyltransferase 8 domain-containing protein 2,Low_tissue_specificity

(1, 16)

    Assay       p.value  Adjusted_pval
0  GLT8D2  1.707780e-07       0.000251

(1, 3)

This is validation file

Empty DataFrame
Columns: []
Index: []

Original Data for /Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_validation_Age_3_BMI_4.csv

Empty DataFrame
Columns: [Unnamed: 0, Assay, OlinkID, UniProt, Panel, term, df, sumsq, meansq, statistic, p.value, Adjusted_pval, Threshold, Organ, Desc, Desc_Column]
Index: []

(0, 16)

Empty DataFrame
Columns: [Assay, p.value, Adjusted_pval]
Index: []

(0, 3)

This is validation file

Empty DataFrame
Columns: []
Index: []

Original Data for /Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_validation_Age_4_BMI_1.csv

,Unnamed: 0,Assay,OlinkID,UniProt,Panel,term,df,sumsq,meansq,statistic,p.value,Adjusted_pval,Threshold,Organ,Desc,Desc_Column
0,1,CD48,OID20692,P09326,Inflammation,Timepoint,2,0.603144,0.301572,175.155524,0.000023,0.034579,Significant,"Group enriched: bone marrow, lymphoid tissue",CD48 antigen,Group_enriched_bone_marrow_lymphoid_tissue
1,2,XCL1,OID21398,P47992,Oncology,Timepoint,2,5.327735,2.663868,113.767701,0.000068,0.049898,Significant,Tissue enhanced: lymphoid tissue,Lymphotactin,Tissue_enhanced_lymphoid_tissue

(2, 16)

  Assay   p.value  Adjusted_pval
0  CD48  0.000023       0.034579
1  XCL1  0.000068       0.049898

(2, 3)

This is validation file

Empty DataFrame
Columns: []
Index: []

Original Data for /Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_validation_Age_4_BMI_2.csv

Empty DataFrame
Columns: [Unnamed: 0, Assay, OlinkID, UniProt, Panel, term, df, sumsq, meansq, statistic, p.value, Adjusted_pval, Threshold, Organ, Desc, Desc_Column]
Index: []

(0, 16)

Empty DataFrame
Columns: [Assay, p.value, Adjusted_pval]
Index: []

(0, 3)

This is validation file

Empty DataFrame
Columns: []
Index: []

Original Data for /Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_validation_Age_4_BMI_3.csv

Empty DataFrame
Columns: [Unnamed: 0, Assay, OlinkID, UniProt, Panel, term, df, sumsq, meansq, statistic, p.value, Adjusted_pval, Threshold, Organ, Desc, Desc_Column]
Index: []

(0, 16)

Empty DataFrame
Columns: [Assay, p.value, Adjusted_pval]
Index: []

(0, 3)

This is validation file

Empty DataFrame
Columns: []
Index: []

Original Data for /Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_validation_Age_5_BMI_0.csv

Empty DataFrame
Columns: [Unnamed: 0, Assay, OlinkID, UniProt, Panel, term, df, sumsq, meansq, statistic, p.value, Adjusted_pval, Threshold, Organ, Desc, Desc_Column]
Index: []

(0, 16)

Empty DataFrame
Columns: [Assay, p.value, Adjusted_pval]
Index: []

(0, 3)

This is validation file

Empty DataFrame
Columns: []
Index: []

Original Data for /Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_validation_Age_5_BMI_1.csv

,Unnamed: 0,Assay,OlinkID,UniProt,Panel,term,df,sumsq,meansq,statistic,p.value,Adjusted_pval,Threshold,Organ,Desc,Desc_Column
0,1,SERPINA11,OID20281,Q86U17,Cardiometabolic,Timepoint,2,2.713021,1.356511,471.403124,0.000018,0.026273,Significant,Tissue enriched: liver,Serpin A11,Tissue_enriched_liver

(1, 16)

       Assay   p.value  Adjusted_pval
0  SERPINA11  0.000018       0.026273

(1, 3)

This is validation file

Empty DataFrame
Columns: []
Index: []

Original Data for /Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_validation_Age_5_BMI_2.csv

Empty DataFrame
Columns: [Unnamed: 0, Assay, OlinkID, UniProt, Panel, term, df, sumsq, meansq, statistic, p.value, Adjusted_pval, Threshold, Organ, Desc, Desc_Column]
Index: []

(0, 16)

Empty DataFrame
Columns: [Assay, p.value, Adjusted_pval]
Index: []

(0, 3)

This is validation file

Empty DataFrame
Columns: []
Index: []

Original Data for /Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_validation_Age_5_BMI_3.csv

Empty DataFrame
Columns: [Unnamed: 0, Assay, OlinkID, UniProt, Panel, term, df, sumsq, meansq, statistic, p.value, Adjusted_pval, Threshold, Organ, Desc, Desc_Column]
Index: []

(0, 16)

Empty DataFrame
Columns: [Assay, p.value, Adjusted_pval]
Index: []

(0, 3)

This is validation file

Empty DataFrame
Columns: []
Index: []

### Protein Atlas

https://www.proteinatlas.org/humanproteome/tissue/tissue+specific

### Scientific reference
- https://onlinelibrary.wiley.com/doi/abs/10.1002/pro.3987 
- https://doi.org/10.1002/pro.3987

### Remove all duplicated protein names for age categories 1-5 in ```files_to_prepare```

In [16]:
array_protein_names

['REG3A',
 'EREG',
 'HAVCR1',
 'NEFL',
 'TGFBR2',
 'TNFRSF4',
 'EFNA4',
 'FAS',
 'GFOD2',
 'IGFBP4',
 'MMP7',
 'RELT',
 'TNFRSF9',
 'IFNGR1',
 'PIK3IP1',
 'SDC1',
 'TNFRSF11A',
 'IL1B',
 'CD27',
 'CD302',
 'APOH',
 'BAG3',
 'EDA2R',
 'FCER2',
 'PTN',
 'PTPRF',
 'RGMB',
 'TNFRSF14',
 'ULBP2',
 'DDC',
 'DEFA1_DEFA1B',
 'LAYN',
 'RARRES2',
 'TFPI2',
 'TNFRSF19',
 'WFDC2',
 'ACE2',
 'S100A11',
 'NPPB',
 'DPP10',
 'PAMR1',
 'CD5',
 'JAM2',
 'SPINK4',
 'TNFRSF12A',
 'RSPO3',
 'DSC2',
 'CCL28',
 'ART3',
 'COL18A1',
 'HYOU1',
 'NECTIN2',
 'PDCD1',
 'FAM3C',
 'ADGRB3',
 'CD79B',
 'CRX',
 'CTSF',
 'FGFBP1',
 'HSPG2',
 'IGF1R',
 'IL10RB',
 'NBL1',
 'PIGR',
 'TNFRSF1A',
 'VTCN1',
 'SFRP1',
 'SPINT1',
 'GPC1',
 'SPINK1',
 'COLEC12',
 'NTproBNP',
 'FSTL3',
 'SCARF2',
 'SLAMF6',
 'BAIAP2',
 'CD300LG',
 'CD99',
 'NCS1',
 'SIT1',
 'ARTN',
 'CD160',
 'TNFRSF10C',
 'CD93',
 'EFNA1',
 'LRP11',
 'RBP2',
 'RBP5',
 'S100P',
 'ANXA3',
 'ADAM22',
 'MDK',
 'LY96',
 'RSPO1',
 'GDF15',
 'BGN',
 'BTN2A1',
 'CASP1',
 'CCL21',
 'CLEC14A',
 'IL1A',
 'LCN2',
 'LIF',
 'TFF3',
 'FLRT2',
 'SMOC1',
 'EPHB4',
 'NECTIN4',
 'CTSS',
 'CDH3',
 'RARRES1',
 'SCARA5',
 'MMP7',
 'PRL',
 'CCL13',
 'CCL24',
 'PTN',
 'SDC1',
 'SIT1',
 'CA6',
 'TIMD4',
 'NRP1',
 'APOH',
 'PADI2',
 'TNFRSF9',
 'IFNL1',
 'VAMP5',
 'TNFRSF4',
 'TNFSF13B',
 'NTproBNP',
 'DPP10',
 'CD160',
 'NPPB',
 'CD99',
 'IFNG',
 'ITGA11',
 'ANGPTL1',
 'CXCL10',
 'SPINT2',
 'PDCD1',
 'PCOLCE',
 'PIK3IP1',
 'EFNA4',
 'CD83',
 'TNFRSF11A',
 'C1QA',
 'SDC1',
 'CCL4',
 'FAS',
 'FCRL5',
 'SCARB2',
 'RBP5',
 'NEFL',
 'BCL2L11',
 'ACE2',
 'AKT3',
 'RELT',
 'FAP',
 'TNFRSF14',
 'CALB1',
 'HLA-E',
 'IGF1R',
 'CD99L2',
 'COL6A3',
 'GUCA2A',
 'CSF3',
 'CCL24',
 'CTSF',
 'EDA2R',
 'ENPP5',
 'TNFRSF12A',
 'PTGDS',
 'CDNF',
 'COL1A1',
 'SORCS2',
 'EPHA1',
 'IGSF8',
 'SCARF1',
 'CLSTN2',
 'SCGB1A1',
 'CCL17',
 'PREB',
 'LAG3',
 'HAVCR1',
 'CLC',
 'CD59',
 'CD300LG',
 'ISLR2',
 'PTN',
 'APLP1',
 'CXADR',
 'TREM2',
 'FCER2',
 'GPC1',
 'TNFRSF19',
 'F2R',
 'GRN',
 'DSG3',
 'PRSS8',
 'TNFRSF10C',
 'AGRN',
 'CCL13',
 'LRIG1',
 'MSLN',
 'MYOC',
 'KLRB1',
 'IL10RB',
 'PTH1R',
 'FABP4',
 'HGF',
 'HMOX1',
 'HSPG2',
 'MDK',
 'VTCN1',
 'CCL8',
 'CLEC7A',
 'DLK1',
 'EREG',
 'HAVCR2',
 'REG3A',
 'SIGLEC10',
 'SPON1',
 'CCL3',
 'ARTN',
 'COLEC12',
 'TNFRSF1B',
 'WFDC2',
 'PLTP',
 'CPM',
 'CD84',
 'TNFSF13',
 'AGR3',
 'EPHA2',
 'MSTN',
 'SFRP1',
 'CD5',
 'OGN',
 'VSIG4',
 'CD302',
 'PLAUR',
 'FURIN',
 'ADAM15',
 'AGRP',
 'IL32',
 'MMP7',
 'TGFA',
 'DSC2',
 'TNFRSF1A',
 'CCL19',
 'PADI2',
 'NEFL',
 'PCOLCE',
 'ACE2',
 'MDK',
 'FRZB',
 'IL19',
 'SFRP1',
 'PTN',
 'FGFBP1',
 'SDC1',
 'SMOC2',
 'SMOC1',
 'CLC',
 'SDC1',
 'TNFRSF4',
 'SCARF1',
 'TNFRSF9',
 'IL19',
 'RELT',
 'NRP1',
 'MARCO',
 'PRSS8',
 'COL6A3',
 'CD27',
 'GP6',
 'PI3',
 'WFDC2',
 'HSPG2',
 'XCL1',
 'FAS',
 'IL10RB',
 'PRL',
 'SORT1',
 'SPINT2',
 'TNFRSF14',
 'HYOU1',
 'TIMD4',
 'CCL17',
 'ESAM',
 'FCRL5',
 'CCL16',
 'DSC2',
 'IGFBPL1',
 'EDA2R',
 'PTN',
 'CCL13',
 'TXNDC5',
 'COLEC12',
 'SERPINE1',
 'MZB1',
 'EGLN1',
 'REG1B',
 'ADA2',
 'CD160',
 'CXCL17',
 'FCER2',
 'ITGA11',
 'NECTIN2',
 'PDCD1',
 'CA6',
 'ADAM22',
 'KLRB1',
 'OGN',
 'EPHA1',
 'GUCA2A',
 'PRCP',
 'COL18A1',
 'REG1A',
 'JAM2',
 'NCR1',
 'BCL2L11',
 'CCL22',
 'FAM3C',
 'SPON2',
 'TGFB1',
 'CXCL16',
 'IL2RA',
 'ANXA3',
 'SFRP1',
 'MPI',
 'REG3A',
 'SIGLEC10',
 'SELP',
 'TNFRSF19',
 'RTN4R',
 'TNFRSF10B',
 'PRSS2',
 'DAG1',
 'DEFB4A_DEFB4B',
 'GYS1',
 'CD83',
 'PFKFB2',
 'PLAUR',
 'NPPC',
 'CCL3',
 'CD5',
 'CTSB',
 'EDIL3',
 'IGFBP4',
 'MSLN',
 'SIT1',
 'SLAMF6',
 'TNFRSF10C',
 'TEK',
 'MMP1',
 'ACE2',
 'CD79B',
 'CLEC1B',
 'EFNA4',
 'CDH3',
 'HAVCR1',
 'F2R',
 'LAMA4',
 'GFRA1',
 'CTSS',
 'TNFRSF11A',
 'USO1',
 'CST6',
 'GZMA',
 'IPCEF1',
 'MMP10',
 'VEGFA',
 'IGSF8',
 'CDCP1',
 'PIK3IP1',
 'TNFRSF12A',
 'IFNL1',
 'LTBR',
 'CD40LG',
 'DKK1',
 'HARS1',
 'ULBP2',
 'WWP2',
 'CD40',
 'TREML2',
 'LAT',
 'EGFL7',
 'TREM2',
 'PON3',
 'SMOC1',
 'TIMP1',
 'MMP7',
 'ANXA11',
 'NBL1',
 'UXS1',
 'CPM',
 'BSG',
 'ICAM5',
 'HGF',
 'LY6D',
 'MITD1',
 'BCR',
 'CCN4',
 'PMVK',
 'DNMBP',
 'FABP1',
 'ARHGAP25',
 'SPINT1',
 'TGFA',
 'LDLR',
 'F11R',
 'IL17C',
 'NRP2',
 'NEFL',
 'TNFRSF13C',
 'USP8',
 'ADAMTS15',
 'CXCL9',
 'MGMT',
 'PLXNB3',
 'TFF1',
 'RASSF2',
 'FCN2',
 'ICAM1',
 'IGF1R',
 'KITLG',
 'CD84',
 'EIF4G1',
 'NCK2',
 'TFF2',
 'LGMN',
 'SULT1A1',
 'CALB1',
 'CD63',
 'S100P',
 'DLK1',
 'LRRN1',
 'MANF',
 'PIGR',
 'LRPAP1',
 'CD93',
 'HAVCR2',
 'SPON1',
 'TBCC',
 'CCL24',
 'GPC1',
 'HCLS1',
 'PPIB',
 'CCL14',
 'CLC',
 'SPARC',
 'PRKRA',
 'GOPC',
 'SRPK2',
 'CD99',
 'NECTIN4',
 'PRDX5',
 'ACP5',
 'EGF',
 'METAP1D',
 'MSRA',
 'PTPN6',
 'DDR1',
 'ITGB1BP2',
 'THBS2',
 'CCN3',
 'SNAP23',
 'HBEGF',
 'CNPY4',
 'CLEC7A',
 'SIAE',
 'FADD',
 'TST',
 'FLT3LG',
 'DBNL',
 'CPXM1',
 'FGFBP1',
 'GRAP2',
 'CCN5',
 'SCGB1A1',
 'CA13',
 'LAIR2',
 'TXLNA',
 'SKAP2',
 'CD300LF',
 'DOK2',
 'TFF3',
 'ARSB',
 'ATP6AP2',
 'IFNGR1',
 'KAZALD1',
 'IQGAP2',
 'MDK',
 'CDHR2',
 'LGALS7_LGALS7B',
 'PLA2G1B',
 'CCL23',
 'TIA1',
 'AGRN',
 'CST5',
 'PPP1R12A',
 'ANXA4',
 'EPHB4',
 'CPB1',
 'LGALS8',
 'CST3',
 'STX6',
 'C2CD2L',
 'COMT',
 'FYB1',
 'GZMH',
 'SMOC2',
 'SNX9',
 'TBCB',
 'CLPP',
 'STX8',
 'CRHBP',
 'CALCOCO1',
 'CRELD2',
 'ABL1',
 'VSIR',
 'SNAP29',
 'VSIG4',
 'SCAMP3',
 'FOXO1',
 'APLP1',
 'CD59',
 'LILRB2',
 'CCL21',
 'CD69',
 'DNAJA2',
 'LAYN',
 'ROR1',
 'YES1',
 'DCTN1',
 'TBC1D23',
 'TNC',
 'CCL4',
 'CLSTN2',
 'MPIG6B',
 'ARHGEF12',
 'MESD',
 'RGMB',
 'DRAXIN',
 'SLC27A4',
 'PTGDS',
 'SPP1',
 'TFPI2',
 'BAX',
 'CDKN2D',
 'FUT8',
 'MMP12',
 'PECAM1',
 'TGFBR3',
 'CHMP1A',
 'IKBKG',
 'MFAP5',
 'RBP5',
 'CORO1A',
 'CCDC80',
 'DCBLD2',
 'CDSN',
 'CGREF1',
 'DBI',
 'DECR1',
 'PLXNA4',
 'WASF1',
 'TAFA5',
 'RSPO1',
 'TARBP2',
 'CD2AP',
 'IRAK4',
 'KLK6',
 'SPINK1',
 'VAMP5',
 'COL1A1',
 'IGF2R',
 'NCF2',
 'SH2B3',
 'AMIGO2',
 'NPDC1',
 'GCNT1',
 'INPPL1',
 'CRACR2A',
 'TBC1D5',
 'PGF',
 'PTPRM',
 'RARRES2',
 'TDRKH',
 'FXN',
 'XG',
 'VTA1',
 'TNFRSF13B',
 'ANGPTL1',
 'STX4',
 'ACVRL1',
 'PLA2G4A',
 'CLIP2',
 'ATP5IF1',
 'KIT',
 'FEN1',
 'KIFBP',
 'IGFBP2',
 'GDF15',
 'ATOX1',
 'VNN2',
 'STAT5B',
 'BIRC2',
 'EBAG9',
 'LY96',
 'TBL1X',
 'DIABLO',
 'MAP4K5',
 'PDGFA',
 'VPS53',
 'COX5B',
 'PDLIM7',
 'PTPRF',
 'GNLY',
 'HNRNPK',
 'LCN2',
 'TJAP1',
 'ENPP2',
 'BPIFB1',
 'MSTN',
 'EPHA2',
 'AIFM1',
 'DKK4',
 'PLPBP',
 'CSF3',
 'DAPP1',
 'MATN2',
 'GRK5',
 'ATP5PO',
 'RHOC',
 'IL1R2',
 'SERPINA9',
 'CEACAM21',
 'DAB2',
 'CD274',
 'CD300LG',
 'CD302',
 'FLRT2',
 'CC2D1A',
 'CD46',
 'TFPI',
 'RNASET2',
 'STK11',
 'AXIN1',
 'ANGPT2',
 'TNFRSF8',
 'SFTPD',
 'IL12A_IL12B',
 'RSPO3',
 'QPCT',
 'CTSZ',
 'CBLN4',
 'DCN',
 'PDGFB',
 'CXCL12',
 'FGR',
 'CPA1',
 'ERBIN',
 'PRDX3',
 'SCARA5',
 'CNST',
 'CRKL',
 'SH2D1A',
 'AXL',
 'TRIM5',
 'ANGPT1',
 'LILRB4',
 'SDC4',
 'SRP14',
 'TNFRSF1A',
 'CPA2',
 'NDUFS6',
 'TIE1',
 'FRZB',
 'CTSL',
 'AGRP',
 'PREB',
 'STK4',
 'FIS1',
 'PON2',
 'BLMH',
 'KLRD1',
 'FKBP4',
 'DNAJB8',
 'FSTL3',
 'SELPLG',
 'PPP1R9B',
 'LAT2',
 'TGFBI',
 'EIF4B',
 'PCOLCE',
 'TGFBR2',
 'WFDC12',
 'VCAN',
 'DRG2',
 'CEP85',
 'AKT1S1',
 'CLMP',
 'PPP1R2',
 'RAB37',
 'VEGFC',
 'MNDA',
 'TIMP3',
 'GALNT2',
 'METAP2',
 'SERPINB6',
 'CHI3L1',
 'CDC37',
 'NRTN',
 'CAMKK1',
 'LGALS1',
 'PRTFDC1',
 'PTPN1',
 'SMAD1',
 'BAIAP2',
 'CCL11',
 'PCDH17',
 'IL3RA',
 'RWDD1',
 'THBD',
 'HMOX2',
 'MAVS',
 'BANK1',
 'IL17A',
 'CALB2',
 'VPS37A',
 'IRAK1',
 'MED18',
 'SIRT2',
 'TNFRSF1B',
 'ANXA5',
 'CIAPIN1',
 'NFKBIE',
 'CCL20',
 'APRT',
 'CD163',
 'MEPE',
 'TNFRSF6B',
 'GFRA2',
 'FGF23',
 'MAP2K6',
 'SDC1',
 'FGFBP1',
 'NEFL',
 'TNFSF12',
 'CCL28',
 'SPON1',
 'ITGA11',
 'PTK7',
 'IFNL1',
 'PTN',
 'CA6',
 'NTRK2',
 'RSPO1',
 'SFRP1',
 'PADI2',
 'FLT1',
 'PRSS8',
 'TIMD4',
 'ADAMTS8',
 'REG3A',
 'SMOC1',
 'MSLN',
 'HGF',
 'DAG1',
 'GZMB',
 'SELP',
 'NADK',
 'GP1BA',
 'CDKN2D',
 'MMP7',
 'CXCL17',
 'IFNG',
 'FCRL5',
 'HYOU1',
 'CD163',
 'COL6A3',
 'TFPI2',
 'IL1R2',
 'ACE2',
 'FAS',
 'CCL14',
 'TNFSF13B',
 'WFDC2',
 'DSC2',
 'SOD2',
 'FRZB',
 'TNFRSF4',
 'TNFRSF11A',
 'CLSTN2',
 'GFRA1',
 'DPP10',
 'HSPG2',
 'MDK',
 'MPI',
 'PDCD1',
 'PIGR',
 'TFPI',
 'MME',
 'C1QA',
 'CCL24',
 'PRSS2',
 'EDA2R',
 'CD46',
 'CXCL10',
 'IGF1R',
 'RSPO3',
 'REG1A',
 'REG1B',
 'CELA3A',
 'HS3ST3B1',
 'PAPPA',
 'TNFRSF10C',
 'SIGLEC10',
 'CSF3',
 'ESAM',
 'SCARF1',
 'IDS',
 'MMP13',
 'CCL16',
 'ACAA1',
 'IL7R',
 'PECAM1',
 'CCN4',
 'FLT3LG',
 'GPC1',
 'IFNGR1',
 'IL10RB',
 'NTRK3',
 'GP6',
 'PCOLCE',
 'STX8',
 'SPINT2',
 'FKBP1B',
 'IGSF8',
 'MZB1',
 'NRP1',
 'CA12',
 'CCN5',
 'MGMT',
 'TGFB1',
 'VTCN1',
 'CDHR2',
 'APLP1',
 'HAO1',
 'MMP3',
 'TNFRSF12A',
 'KITLG',
 'TNC',
 'CA5A',
 'TNFRSF10B',
 'HAVCR1',
 'SERPINB8',
 'INHBC',
 'CD27',
 'ANPEP',
 'AXL',
 'CPB1',
 'NDUFS6',
 'PRL',
 'SCLY',
 'TNFRSF14',
 'XCL1',
 'CNTN1',
 'PLA2G1B',
 'GGT1',
 'GYS1',
 'CD40',
 'CD84',
 'MARCO',
 'VSIR',
 'ADAMTS13',
 'PSME2',
 'CD58',
 'FAP',
 'GALNT2',
 'MCAM',
 'NRP2',
 'ATP5PO',
 'CRLF1',
 'DKK1',
 'HBEGF',
 'MSTN',
 'RELT',
 'ACP5',
 'FURIN',
 'LPL',
 'RBP5',
 'TST',
 'IL17C',
 'ZBTB16',
 'CCL8',
 'EPS8L2',
 'F2R',
 'GUCA2A',
 'PRKRA',
 'BAIAP2',
 'HYAL1',
 'CFC1',
 'INPP1',
 'TBC1D23',
 'SPP1',
 'TFF2',
 'CLEC1B',
 'CRTAC1',
 'LRP1',
 'CD276',
 'GNLY',
 'SCARA5',
 'FOLR1',
 'SPARC',
 'TANK',
 'SOST',
 'TARBP2',
 'ASAH2',
 'ITGAV',
 'MTPN',
 'THBD',
 'DCTPP1',
 'GFRA2',
 'PON3',
 'SPINT1',
 'LGMN',
 'SPINK1',
 'EDIL3',
 'CRH',
 'IGFBPL1',
 'PRCP',
 'VEGFC',
 'PEAR1',
 'STX6',
 'FUT3_FUT5',
 'CCL17',
 'NCK2',
 'TAFA5',
 'SORT1',
 'VEGFD',
 'MIA',
 'TFRC',
 'DKK4',
 'NECTIN2',
 'DSG3',
 'MEGF9',
 'AGER',
 'ART3',
 'GRPEL1',
 'PTPRF',
 'APP',
 'ENTPD5',
 'STC2',
 'CLEC4C',
 'USP8',
 'TNFRSF9',
 'FABP1',
 'ANGPT1',
 'CDH1',
 'COL18A1',
 'CPA2',
 'BCR',
 'PI3',
 'BCL2L11',
 'SPON2',
 'DLK1',
 'COL6A3',
 'DSC2',
 'FOLR1',
 'GPC1',
 'NEFL',
 'PTN',
 'SPON1',
 'TNFRSF4',
 'SDC1',
 'REG3A',
 'HYOU1',
 'CDH3',
 'PIGR',
 'TNFRSF12A',
 'SPINT1',
 'IL10RB',
 'CLSTN2',
 'EDA2R',
 'SFRP1',
 'NRP1',
 'PRSS8',
 'FCER2',
 'SMOC1',
 'TNFRSF14',
 'SCARF2',
 'TNFRSF11A',
 'NBL1',
 'CLC',
 'DDR1',
 'ESAM',
 'FAS',
 'ITGA11',
 ...]

In [17]:
#Size with duplicated proteins
len(array_protein_names)

1656

In [18]:
#Test how to find a specific protein in list
list(array_protein_names)[0]

'REG3A'

In [19]:
#Compare array_protein_names size after removing duplicates
len(set(array_protein_names))

847

In [20]:
# Achar um elemento na lista - Testar se há duplicados
for i in array_protein_names:
    if (i=='SDC1'):
        print (i)

SDC1
SDC1
SDC1
SDC1
SDC1
SDC1
SDC1

### Create a pandas dataframe containing unique protein names as columns from <i>set(array_protein_names)</i>

In [21]:
df = pd.DataFrame(columns = list(set(array_protein_names)))
df["Age"] = ""
df["BMI"] = ""

In [22]:
df.head()

Empty DataFrame
Columns: [GP1BA, ADAM8, LAIR2, PDGFRA, MMP12, BAX, CNTN1, EDIL3, MNDA, STX4, CPA2, QPCT, DSG2, CDH5, ANGPTL1, NRP1, ADAM22, PRDX3, VSIG4, ADAM23, HNRNPK, VASN, CRACR2A, ANXA5, SLITRK6, TRIM5, FLI1, CPM, TNFRSF1A, CRTAC1, TGFBR3, HAO1, BSG, ICOSLG, TMSB10, SMOC2, TNFRSF14, SLAMF6, SORT1, IGFBP7, STK4, COL4A1, ISLR2, PRKRA, FGFBP1, CD40LG, IL6R, CEP20, PMVK, GGT1, AMBP, BID, ARHGAP25, TXLNA, PSG1, DPT, CCL19, IFNLR1, KITLG, CDC37, PAMR1, IL10RB, TDRKH, ENTPD5, TACSTD2, DAPP1, DEFA1_DEFA1B, PHOSPHO1, GLT8D2, RELT, PIK3IP1, NECTIN4, CDHR2, FUT8, COL6A3, SIRT2, BRK1, CD5, INPP1, HLA-E, CNPY4, SMPDL3A, RBP2, IL15RA, CBLN4, PTK7, WWP2, SLC27A4, CLIP2, ITGB6, AXL, RNASE3, SOD2, IL32, KAZALD1, TFPI, BGN, KLK6, TBC1D23, FEN1, ...]
Index: []

[0 rows x 849 columns]

In [23]:
#Confirming list size for unique protein names
len(list(set(array_protein_names)))

847

In [24]:
#Test - finding the column index of a certain protein name
df.columns.get_loc("SCARB2") ##localizacao da coluna no dataframe

328

In [25]:
#Test whether a protein exists in df columns
if 'SCARB2' in df.columns:
    print("exists")
    print(df.columns.get_loc("SCARB2"))
else:
    print('SCARB2 Does not Exist')

exists
328

## Build Train dataframe

In [26]:
df_validation = df

In [27]:
training_dataframe = pd.DataFrame()
for file in files_to_prepare_train:
    print(file)
    train = pd.read_csv(file)
    #train = train.drop(['Unnamed: 0','Threshold','OlinkID','p.value','UniProt','Adjusted_pval','Panel','term','df','sumsq','meansq','statistic'], axis=1)
    train = train.drop(['Unnamed: 0','Threshold','OlinkID','p.value','UniProt','Adjusted_pval','Panel','term','df','sumsq','meansq','statistic', 'Organ', 'Desc','Desc_Column'], axis=1)


    display(train.head(10))
    if (train.shape[0]==0):
        print("Vazio")
        #Não adicionar Colunas Age e BMI
    else:
        print("NÃO VAZIO")
        print("Age: " + re.findall(r'\d+', file)[2])
        print("BMI: " + re.findall(r'\d+', file)[3])
        train['AgeCat'] = re.findall(r'\d+', file)[2]
        train['BMI'] = re.findall(r'\d+', file)[3]
        display(train.head(10))
        
        
        train_label_encoded = pd.get_dummies(train[['Assay']], prefix=None)
        train_label_encoded.columns = [col.replace('Assay_', '') for col in train_label_encoded.columns]
        display(train_label_encoded)
        
        train_label_encoded['Age']=re.findall(r'\d+', file)[2]
        train_label_encoded['BMI']=re.findall(r'\d+', file)[3]
        
        
        #Test whether a protein exists in df columns
        if 'Age' in train_label_encoded.columns:
            print("exists --->" + str(train_label_encoded.columns.get_loc("Age")))
        else:
            print('Does not Exist')
            
            
        #partial save CSV
        train_label_encoded.to_csv('/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/Prepared_Data_for_ML_Input/PreparedData_train_' + split_factor_file_train + '_Age_'+re.findall(r'\d+', file)[2]+'_BMI_'+re.findall(r'\d+', file)[3] + '.csv')
        
        display(train_label_encoded)
        display(df)
        
        df = df.merge(train_label_encoded, how='outer')
        df.fillna(0, inplace=True)
        
        
        
            
        
        
        #df['rating'] = np.where(df['line_race']==0, 0, df['rating'])
        #for i, j in train.iterrows():
        #    print(i, j)
df = df.astype(int)
display(df)

/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_train_Age_1_BMI_1.csv

Empty DataFrame
Columns: [Assay]
Index: []

Vazio
/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_train_Age_1_BMI_2.csv

Empty DataFrame
Columns: [Assay]
Index: []

Vazio
/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_train_Age_1_BMI_3.csv

   Assay
0  REG3A

NÃO VAZIO
Age: 1
BMI: 3

   Assay AgeCat BMI
0  REG3A      1   3

   REG3A
0   True

exists --->1

   REG3A Age BMI
0   True   1   3

Empty DataFrame
Columns: [GP1BA, ADAM8, LAIR2, PDGFRA, MMP12, BAX, CNTN1, EDIL3, MNDA, STX4, CPA2, QPCT, DSG2, CDH5, ANGPTL1, NRP1, ADAM22, PRDX3, VSIG4, ADAM23, HNRNPK, VASN, CRACR2A, ANXA5, SLITRK6, TRIM5, FLI1, CPM, TNFRSF1A, CRTAC1, TGFBR3, HAO1, BSG, ICOSLG, TMSB10, SMOC2, TNFRSF14, SLAMF6, SORT1, IGFBP7, STK4, COL4A1, ISLR2, PRKRA, FGFBP1, CD40LG, IL6R, CEP20, PMVK, GGT1, AMBP, BID, ARHGAP25, TXLNA, PSG1, DPT, CCL19, IFNLR1, KITLG, CDC37, PAMR1, IL10RB, TDRKH, ENTPD5, TACSTD2, DAPP1, DEFA1_DEFA1B, PHOSPHO1, GLT8D2, RELT, PIK3IP1, NECTIN4, CDHR2, FUT8, COL6A3, SIRT2, BRK1, CD5, INPP1, HLA-E, CNPY4, SMPDL3A, RBP2, IL15RA, CBLN4, PTK7, WWP2, SLC27A4, CLIP2, ITGB6, AXL, RNASE3, SOD2, IL32, KAZALD1, TFPI, BGN, KLK6, TBC1D23, FEN1, ...]
Index: []

[0 rows x 849 columns]

/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_train_Age_1_BMI_4.csv

     Assay
0     EREG
1   HAVCR1
2     NEFL
3   TGFBR2
4  TNFRSF4
5    EFNA4
6      FAS
7    GFOD2
8   IGFBP4
9     MMP7

NÃO VAZIO
Age: 1
BMI: 4

     Assay AgeCat BMI
0     EREG      1   4
1   HAVCR1      1   4
2     NEFL      1   4
3   TGFBR2      1   4
4  TNFRSF4      1   4
5    EFNA4      1   4
6      FAS      1   4
7    GFOD2      1   4
8   IGFBP4      1   4
9     MMP7      1   4

,ACE2,ADAM22,ADGRB3,ANXA3,APOH,ART3,ARTN,BAG3,BAIAP2,BGN,...,TNFRSF11A,TNFRSF12A,TNFRSF14,TNFRSF19,TNFRSF1A,TNFRSF4,TNFRSF9,ULBP2,VTCN1,WFDC2
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
107,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
108,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
109,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
110,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

exists --->111

,ACE2,ADAM22,ADGRB3,ANXA3,APOH,ART3,ARTN,BAG3,BAIAP2,BGN,...,TNFRSF14,TNFRSF19,TNFRSF1A,TNFRSF4,TNFRSF9,ULBP2,VTCN1,WFDC2,Age,BMI
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,1,4
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,1,4
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,1,4
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,1,4
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,1,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,1,4
107,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,1,4
108,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,1,4
109,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,1,4
110,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,1,4

,GP1BA,ADAM8,LAIR2,PDGFRA,MMP12,BAX,CNTN1,EDIL3,MNDA,STX4,...,APLP1,ITGA5,SLIT2,SELPLG,DLK1,GPC1,WASF1,REG3A,Age,BMI
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,True,1,3

/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_train_Age_2_BMI_1.csv

Empty DataFrame
Columns: [Assay]
Index: []

Vazio
/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_train_Age_2_BMI_2.csv

   Assay
0   MMP7
1    PRL
2  CCL13
3  CCL24
4    PTN
5   SDC1
6   SIT1
7    CA6
8  TIMD4
9   NRP1

NÃO VAZIO
Age: 2
BMI: 2

   Assay AgeCat BMI
0   MMP7      2   2
1    PRL      2   2
2  CCL13      2   2
3  CCL24      2   2
4    PTN      2   2
5   SDC1      2   2
6   SIT1      2   2
7    CA6      2   2
8  TIMD4      2   2
9   NRP1      2   2

     CA6  CCL13  CCL24   MMP7   NRP1    PRL    PTN   SDC1   SIT1  TIMD4
0  False  False  False   True  False  False  False  False  False  False
1  False  False  False  False  False   True  False  False  False  False
2  False   True  False  False  False  False  False  False  False  False
3  False  False   True  False  False  False  False  False  False  False
4  False  False  False  False  False  False   True  False  False  False
5  False  False  False  False  False  False  False   True  False  False
6  False  False  False  False  False  False  False  False   True  False
7   True  False  False  False  False  False  False  False  False  False
8  False  False  False  False  False  False  False  False  False   True
9  False  False  False  False   True  False  False  False  False  False

exists --->10

,CA6,CCL13,CCL24,MMP7,NRP1,PRL,PTN,SDC1,SIT1,TIMD4,Age,BMI
0,False,False,False,True,False,False,False,False,False,False,2,2
1,False,False,False,False,False,True,False,False,False,False,2,2
2,False,True,False,False,False,False,False,False,False,False,2,2
3,False,False,True,False,False,False,False,False,False,False,2,2
4,False,False,False,False,False,False,True,False,False,False,2,2
5,False,False,False,False,False,False,False,True,False,False,2,2
6,False,False,False,False,False,False,False,False,True,False,2,2
7,True,False,False,False,False,False,False,False,False,False,2,2
8,False,False,False,False,False,False,False,False,False,True,2,2
9,False,False,False,False,True,False,False,False,False,False,2,2

,GP1BA,ADAM8,LAIR2,PDGFRA,MMP12,BAX,CNTN1,EDIL3,MNDA,STX4,...,APLP1,ITGA5,SLIT2,SELPLG,DLK1,GPC1,WASF1,REG3A,Age,BMI
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0,0.0,True,1,3
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,False,0.0,0,1,4
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,False,0.0,0,1,4
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,False,0.0,0,1,4
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,False,0.0,0,1,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,False,0.0,0,1,4
108,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,False,0.0,0,1,4
109,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,False,0.0,0,1,4
110,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,False,0.0,0,1,4
111,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,False,0.0,0,1,4

/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_train_Age_2_BMI_3.csv

      Assay
0      APOH
1     PADI2
2   TNFRSF9
3     IFNL1
4     VAMP5
5   TNFRSF4
6  TNFSF13B
7  NTproBNP
8     DPP10
9     CD160

NÃO VAZIO
Age: 2
BMI: 3

      Assay AgeCat BMI
0      APOH      2   3
1     PADI2      2   3
2   TNFRSF9      2   3
3     IFNL1      2   3
4     VAMP5      2   3
5   TNFRSF4      2   3
6  TNFSF13B      2   3
7  NTproBNP      2   3
8     DPP10      2   3
9     CD160      2   3

,ACE2,ADAM15,AGR3,AGRN,AGRP,AKT3,ANGPTL1,APLP1,APOH,ARTN,...,TNFRSF1B,TNFRSF4,TNFRSF9,TNFSF13,TNFSF13B,TREM2,VAMP5,VSIG4,VTCN1,WFDC2
0,False,False,False,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
123,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
124,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
125,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
126,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

exists --->127

,ACE2,ADAM15,AGR3,AGRN,AGRP,AKT3,ANGPTL1,APLP1,APOH,ARTN,...,TNFRSF9,TNFSF13,TNFSF13B,TREM2,VAMP5,VSIG4,VTCN1,WFDC2,Age,BMI
0,False,False,False,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,2,3
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,2,3
2,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,2,3
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,2,3
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,2,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,2,3
123,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,2,3
124,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,2,3
125,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,2,3
126,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,2,3

,GP1BA,ADAM8,LAIR2,PDGFRA,MMP12,BAX,CNTN1,EDIL3,MNDA,STX4,...,APLP1,ITGA5,SLIT2,SELPLG,DLK1,GPC1,WASF1,REG3A,Age,BMI
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0,0.0,True,1,3
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,False,0.0,0,1,4
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,False,0.0,0,1,4
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,False,0.0,0,1,4
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,False,0.0,0,1,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0,0.0,0,2,2
118,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0,0.0,0,2,2
119,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0,0.0,0,2,2
120,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0,0.0,0,2,2
121,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0,0.0,0,2,2

/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_train_Age_2_BMI_4.csv

   Assay
0  PADI2

NÃO VAZIO
Age: 2
BMI: 4

   Assay AgeCat BMI
0  PADI2      2   4

   PADI2
0   True

exists --->1

   PADI2 Age BMI
0   True   2   4

,GP1BA,ADAM8,LAIR2,PDGFRA,MMP12,BAX,CNTN1,EDIL3,MNDA,STX4,...,APLP1,ITGA5,SLIT2,SELPLG,DLK1,GPC1,WASF1,REG3A,Age,BMI
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0,0.0,True,1,3
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,False,0.0,0,1,4
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,False,0.0,0,1,4
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,False,0.0,0,1,4
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,False,0.0,0,1,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
244,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,False,0.0,0.0,0.0,False,False,0.0,False,2,3
245,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,False,0.0,0.0,0.0,False,False,0.0,False,2,3
246,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,False,0.0,0.0,0.0,False,False,0.0,False,2,3
247,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,False,0.0,0.0,0.0,False,False,0.0,False,2,3
248,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,False,0.0,0.0,0.0,False,False,0.0,False,2,3

/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_train_Age_3_BMI_1.csv

    Assay
0    NEFL
1  PCOLCE
2    ACE2
3     MDK
4    FRZB
5    IL19
6   SFRP1
7     PTN
8  FGFBP1
9    SDC1

NÃO VAZIO
Age: 3
BMI: 1

    Assay AgeCat BMI
0    NEFL      3   1
1  PCOLCE      3   1
2    ACE2      3   1
3     MDK      3   1
4    FRZB      3   1
5    IL19      3   1
6   SFRP1      3   1
7     PTN      3   1
8  FGFBP1      3   1
9    SDC1      3   1

,ACE2,CLC,FGFBP1,FRZB,IL19,MDK,NEFL,PCOLCE,PTN,SDC1,SFRP1,SMOC1,SMOC2
0,False,False,False,False,False,False,True,False,False,False,False,False,False
1,False,False,False,False,False,False,False,True,False,False,False,False,False
2,True,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,True,False,False,False,False,False,False,False
4,False,False,False,True,False,False,False,False,False,False,False,False,False
5,False,False,False,False,True,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,True,False,False
7,False,False,False,False,False,False,False,False,True,False,False,False,False
8,False,False,True,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,True,False,False,False
10,False,False,False,False,False,False,False,False,False,False,False,False,True
11,False,False,False,False,False,False,False,False,False,False,False,True,False
12,False,True,False,False,False,False,False,False,False,False,False,False,False

exists --->13

,ACE2,CLC,FGFBP1,FRZB,IL19,MDK,NEFL,PCOLCE,PTN,SDC1,SFRP1,SMOC1,SMOC2,Age,BMI
0,False,False,False,False,False,False,True,False,False,False,False,False,False,3,1
1,False,False,False,False,False,False,False,True,False,False,False,False,False,3,1
2,True,False,False,False,False,False,False,False,False,False,False,False,False,3,1
3,False,False,False,False,False,True,False,False,False,False,False,False,False,3,1
4,False,False,False,True,False,False,False,False,False,False,False,False,False,3,1
5,False,False,False,False,True,False,False,False,False,False,False,False,False,3,1
6,False,False,False,False,False,False,False,False,False,False,True,False,False,3,1
7,False,False,False,False,False,False,False,False,True,False,False,False,False,3,1
8,False,False,True,False,False,False,False,False,False,False,False,False,False,3,1
9,False,False,False,False,False,False,False,False,False,True,False,False,False,3,1
10,False,False,False,False,False,False,False,False,False,False,False,False,True,3,1
11,False,False,False,False,False,False,False,False,False,False,False,True,False,3,1
12,False,True,False,False,False,False,False,False,False,False,False,False,False,3,1

,GP1BA,ADAM8,LAIR2,PDGFRA,MMP12,BAX,CNTN1,EDIL3,MNDA,STX4,...,APLP1,ITGA5,SLIT2,SELPLG,DLK1,GPC1,WASF1,REG3A,Age,BMI
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0,0.0,True,1,3
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,False,0.0,0,1,4
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,False,0.0,0,1,4
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,False,0.0,0,1,4
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,False,0.0,0,1,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,False,0.0,0.0,0.0,False,False,0.0,False,2,3
246,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,False,0.0,0.0,0.0,False,False,0.0,False,2,3
247,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,False,0.0,0.0,0.0,False,False,0.0,False,2,3
248,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,False,0.0,0.0,0.0,False,False,0.0,False,2,3
249,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0.0,0.0,0.0,0,0,0.0,0,2,4

/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_train_Age_3_BMI_2.csv

     Assay
0     SDC1
1  TNFRSF4
2   SCARF1
3  TNFRSF9
4     IL19
5     RELT
6     NRP1
7    MARCO
8    PRSS8
9   COL6A3

NÃO VAZIO
Age: 3
BMI: 2

     Assay AgeCat BMI
0     SDC1      3   2
1  TNFRSF4      3   2
2   SCARF1      3   2
3  TNFRSF9      3   2
4     IL19      3   2
5     RELT      3   2
6     NRP1      3   2
7    MARCO      3   2
8    PRSS8      3   2
9   COL6A3      3   2

,ABL1,ACE2,ACP5,ACVRL1,ADA2,ADAM22,ADAMTS15,AGRN,AGRP,AIFM1,...,VSIG4,VSIR,VTA1,WASF1,WFDC12,WFDC2,WWP2,XCL1,XG,YES1
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
478,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
479,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
480,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
481,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
482,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

exists --->483

,ABL1,ACE2,ACP5,ACVRL1,ADA2,ADAM22,ADAMTS15,AGRN,AGRP,AIFM1,...,VTA1,WASF1,WFDC12,WFDC2,WWP2,XCL1,XG,YES1,Age,BMI
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,3,2
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,3,2
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,3,2
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,3,2
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,3,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
478,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,3,2
479,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,3,2
480,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,3,2
481,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,3,2
482,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,3,2

,GP1BA,ADAM8,LAIR2,PDGFRA,MMP12,BAX,CNTN1,EDIL3,MNDA,STX4,...,APLP1,ITGA5,SLIT2,SELPLG,DLK1,GPC1,WASF1,REG3A,Age,BMI
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0,0.0,True,1,3
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,False,0.0,0,1,4
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,False,0.0,0,1,4
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,False,0.0,0,1,4
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,False,0.0,0,1,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
258,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0.0,0.0,0.0,0,0,0.0,0,3,1
259,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0.0,0.0,0.0,0,0,0.0,0,3,1
260,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0.0,0.0,0.0,0,0,0.0,0,3,1
261,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0.0,0.0,0.0,0,0,0.0,0,3,1
262,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0.0,0.0,0.0,0,0,0.0,0,3,1

/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_train_Age_3_BMI_3.csv

     Assay
0     SDC1
1   FGFBP1
2     NEFL
3  TNFSF12
4    CCL28
5    SPON1
6   ITGA11
7     PTK7
8    IFNL1
9      PTN

NÃO VAZIO
Age: 3
BMI: 3

     Assay AgeCat BMI
0     SDC1      3   3
1   FGFBP1      3   3
2     NEFL      3   3
3  TNFSF12      3   3
4    CCL28      3   3
5    SPON1      3   3
6   ITGA11      3   3
7     PTK7      3   3
8    IFNL1      3   3
9      PTN      3   3

,ACAA1,ACE2,ACP5,ADAMTS13,ADAMTS8,AGER,ANGPT1,ANPEP,APLP1,APP,...,TNFSF13B,TST,USP8,VEGFC,VEGFD,VSIR,VTCN1,WFDC2,XCL1,ZBTB16
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
216,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
217,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
218,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
219,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
220,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

exists --->221

,ACAA1,ACE2,ACP5,ADAMTS13,ADAMTS8,AGER,ANGPT1,ANPEP,APLP1,APP,...,USP8,VEGFC,VEGFD,VSIR,VTCN1,WFDC2,XCL1,ZBTB16,Age,BMI
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,3,3
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,3,3
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,3,3
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,3,3
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
216,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,3,3
217,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,3,3
218,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,3,3
219,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,3,3
220,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,3,3

,GP1BA,ADAM8,LAIR2,PDGFRA,MMP12,BAX,CNTN1,EDIL3,MNDA,STX4,...,APLP1,ITGA5,SLIT2,SELPLG,DLK1,GPC1,WASF1,REG3A,Age,BMI
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0,0.0,True,1,3
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,False,0.0,0,1,4
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,False,0.0,0,1,4
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,False,0.0,0,1,4
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,False,0.0,0,1,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
741,0.0,0.0,False,0.0,False,False,0.0,False,False,False,...,False,0.0,0.0,False,False,False,False,False,3,2
742,0.0,0.0,False,0.0,False,False,0.0,False,False,False,...,False,0.0,0.0,False,False,False,False,False,3,2
743,0.0,0.0,False,0.0,False,False,0.0,False,False,False,...,False,0.0,0.0,False,False,False,False,False,3,2
744,0.0,0.0,False,0.0,False,False,0.0,False,False,False,...,False,0.0,0.0,False,False,False,False,False,3,2
745,0.0,0.0,False,0.0,False,False,0.0,False,False,False,...,False,0.0,0.0,False,False,False,False,False,3,2

/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_train_Age_3_BMI_4.csv

Empty DataFrame
Columns: [Assay]
Index: []

Vazio
/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_train_Age_4_BMI_1.csv

Empty DataFrame
Columns: [Assay]
Index: []

Vazio
/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_train_Age_4_BMI_2.csv

     Assay
0     DLK1
1   COL6A3
2     DSC2
3    FOLR1
4     GPC1
5     NEFL
6      PTN
7    SPON1
8  TNFRSF4
9     SDC1

NÃO VAZIO
Age: 4
BMI: 2

     Assay AgeCat BMI
0     DLK1      4   2
1   COL6A3      4   2
2     DSC2      4   2
3    FOLR1      4   2
4     GPC1      4   2
5     NEFL      4   2
6      PTN      4   2
7    SPON1      4   2
8  TNFRSF4      4   2
9     SDC1      4   2

,ABL1,ACAA1,ACAN,ACE2,ACP5,ACTA2,ACTN4,ACVRL1,ADA2,ADAM15,...,VSIR,VTCN1,WASF1,WFDC2,WIF1,WNT9A,XCL1,XG,YES1,ZBTB16
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
669,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
670,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
671,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
672,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
673,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

exists --->671

,ABL1,ACAA1,ACAN,ACE2,ACP5,ACTA2,ACTN4,ACVRL1,ADA2,ADAM15,...,WASF1,WFDC2,WIF1,WNT9A,XCL1,XG,YES1,ZBTB16,Age,BMI
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,4,2
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,4,2
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,4,2
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,4,2
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,4,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
669,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,4,2
670,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,4,2
671,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,4,2
672,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,4,2
673,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,4,2

,GP1BA,ADAM8,LAIR2,PDGFRA,MMP12,BAX,CNTN1,EDIL3,MNDA,STX4,...,APLP1,ITGA5,SLIT2,SELPLG,DLK1,GPC1,WASF1,REG3A,Age,BMI
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0,0.0,True,1,3
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,False,0.0,0,1,4
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,False,0.0,0,1,4
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,False,0.0,0,1,4
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,False,0.0,0,1,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
962,False,0.0,0,0.0,0,0,False,False,0,0,...,False,0.0,0.0,0,0,False,0,False,3,3
963,False,0.0,0,0.0,0,0,False,False,0,0,...,False,0.0,0.0,0,0,False,0,False,3,3
964,False,0.0,0,0.0,0,0,False,False,0,0,...,False,0.0,0.0,0,0,False,0,False,3,3
965,False,0.0,0,0.0,0,0,False,False,0,0,...,False,0.0,0.0,0,0,False,0,False,3,3
966,False,0.0,0,0.0,0,0,False,False,0,0,...,False,0.0,0.0,0,0,False,0,False,3,3

/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_train_Age_4_BMI_3.csv

Empty DataFrame
Columns: [Assay]
Index: []

Vazio
/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_train_Age_4_BMI_4.csv

Empty DataFrame
Columns: [Assay]
Index: []

Vazio
/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_train_Age_5_BMI_0.csv

Empty DataFrame
Columns: [Assay]
Index: []

Vazio
/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_train_Age_5_BMI_1.csv

  Assay
0   PTN

NÃO VAZIO
Age: 5
BMI: 1

  Assay AgeCat BMI
0   PTN      5   1

    PTN
0  True

exists --->1

    PTN Age BMI
0  True   5   1

,GP1BA,ADAM8,LAIR2,PDGFRA,MMP12,BAX,CNTN1,EDIL3,MNDA,STX4,...,APLP1,ITGA5,SLIT2,SELPLG,DLK1,GPC1,WASF1,REG3A,Age,BMI
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0,0.0,True,1,3
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,False,0.0,0,1,4
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,False,0.0,0,1,4
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,False,0.0,0,1,4
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,False,0.0,0,1,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1636,False,False,0,False,False,False,False,False,False,False,...,0,False,False,False,False,False,False,False,4,2
1637,False,False,0,False,False,False,False,False,False,False,...,0,False,False,False,False,False,False,False,4,2
1638,False,False,0,False,False,False,False,False,False,False,...,0,False,False,False,False,False,False,False,4,2
1639,False,False,0,False,False,False,False,False,False,False,...,0,False,False,False,False,False,False,False,4,2
1640,False,False,0,False,False,False,False,False,False,False,...,0,False,False,False,False,False,False,False,4,2

/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_train_Age_5_BMI_2.csv

Empty DataFrame
Columns: [Assay]
Index: []

Vazio
/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_train_Age_5_BMI_3.csv

    Assay
0   PADI2
1     CLC
2  ADGRG2
3   CCL18
4    CDSN
5    LY96
6   TIMP3
7   TNNI3
8    CST5

NÃO VAZIO
Age: 5
BMI: 3

    Assay AgeCat BMI
0   PADI2      5   3
1     CLC      5   3
2  ADGRG2      5   3
3   CCL18      5   3
4    CDSN      5   3
5    LY96      5   3
6   TIMP3      5   3
7   TNNI3      5   3
8    CST5      5   3

   ADGRG2  CCL18   CDSN    CLC   CST5   LY96  PADI2  TIMP3  TNNI3
0   False  False  False  False  False  False   True  False  False
1   False  False  False   True  False  False  False  False  False
2    True  False  False  False  False  False  False  False  False
3   False   True  False  False  False  False  False  False  False
4   False  False   True  False  False  False  False  False  False
5   False  False  False  False  False   True  False  False  False
6   False  False  False  False  False  False  False   True  False
7   False  False  False  False  False  False  False  False   True
8   False  False  False  False   True  False  False  False  False

exists --->9

   ADGRG2  CCL18   CDSN    CLC   CST5   LY96  PADI2  TIMP3  TNNI3 Age BMI
0   False  False  False  False  False  False   True  False  False   5   3
1   False  False  False   True  False  False  False  False  False   5   3
2    True  False  False  False  False  False  False  False  False   5   3
3   False   True  False  False  False  False  False  False  False   5   3
4   False  False   True  False  False  False  False  False  False   5   3
5   False  False  False  False  False   True  False  False  False   5   3
6   False  False  False  False  False  False  False   True  False   5   3
7   False  False  False  False  False  False  False  False   True   5   3
8   False  False  False  False   True  False  False  False  False   5   3

,GP1BA,ADAM8,LAIR2,PDGFRA,MMP12,BAX,CNTN1,EDIL3,MNDA,STX4,...,APLP1,ITGA5,SLIT2,SELPLG,DLK1,GPC1,WASF1,REG3A,Age,BMI
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0,0.0,True,1,3
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,False,0.0,0,1,4
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,False,0.0,0,1,4
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,False,0.0,0,1,4
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,False,0.0,0,1,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1637,False,False,0,False,False,False,False,False,False,False,...,0,False,False,False,False,False,False,False,4,2
1638,False,False,0,False,False,False,False,False,False,False,...,0,False,False,False,False,False,False,False,4,2
1639,False,False,0,False,False,False,False,False,False,False,...,0,False,False,False,False,False,False,False,4,2
1640,False,False,0,False,False,False,False,False,False,False,...,0,False,False,False,False,False,False,False,4,2
1641,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,5,1

,GP1BA,ADAM8,LAIR2,PDGFRA,MMP12,BAX,CNTN1,EDIL3,MNDA,STX4,...,APLP1,ITGA5,SLIT2,SELPLG,DLK1,GPC1,WASF1,REG3A,Age,BMI
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,3
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,4
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,4
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,4
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1646,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,5,3
1647,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,5,3
1648,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,5,3
1649,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,5,3
1650,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,5,3

In [28]:
df.head()

,GP1BA,ADAM8,LAIR2,PDGFRA,MMP12,BAX,CNTN1,EDIL3,MNDA,STX4,...,APLP1,ITGA5,SLIT2,SELPLG,DLK1,GPC1,WASF1,REG3A,Age,BMI
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,3
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,4
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,4
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,4
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,4

### Replace NaN with Zeroes
This will serve as one hot encoding

In [29]:
#df = df.replace(np.nan,0)

### Walk through df columns and fulfill 1 for existent proteins in each age_train file
This routine will go through Age train files 1 to 5

In [30]:
columns = list(df.columns)

In [31]:
type(columns)

list

In [32]:
columns[0]

'GP1BA'

In [33]:
len(df), df.shape

(1651, (1651, 849))

In [34]:
#df = df.groupby(['Age','BMI']).count()
#print("Sum")
#display(df)

In [35]:
df = df.reset_index()
df.head()

,index,GP1BA,ADAM8,LAIR2,PDGFRA,MMP12,BAX,CNTN1,EDIL3,MNDA,...,APLP1,ITGA5,SLIT2,SELPLG,DLK1,GPC1,WASF1,REG3A,Age,BMI
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,3
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,4
2,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,4
3,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,4
4,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,4

In [36]:
df.to_csv('/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/Prepared_Data_for_ML_Input/PreparedData_train_Age_BMI_' + split_factor_file_train + '.csv')

## Build validation dataframe

In [37]:
training_dataframe = pd.DataFrame()
for file in files_to_prepare_validation:
    print(file)
    validation = pd.read_csv(file)
    #validation = validation.drop(['Unnamed: 0','Threshold','OlinkID','p.value','UniProt','Adjusted_pval','Panel','term','df','sumsq','meansq','statistic'], axis=1)
    validation = validation.drop(['Unnamed: 0','Threshold','OlinkID','p.value','UniProt','Adjusted_pval','Panel','term','df','sumsq','meansq','statistic', 'Organ', 'Desc','Desc_Column'], axis=1)

    
    
    display(validation.head(10))
    if (validation.shape[0]==0):
        print("Vazio")
        #Não adicionar Colunas Age e BMI
    else:
        print("NÃO VAZIO")
        print("Age: " + re.findall(r'\d+', file)[2])
        print("BMI: " + re.findall(r'\d+', file)[3])
        validation['AgeCat'] = re.findall(r'\d+', file)[2]
        validation['BMI'] = re.findall(r'\d+', file)[3]
        display(validation.head(10))
        
        
        validation_label_encoded = pd.get_dummies(validation[['Assay']], prefix=None)
        validation_label_encoded.columns = [col.replace('Assay_', '') for col in validation_label_encoded.columns]
        display(validation_label_encoded)
        
        validation_label_encoded['Age']=re.findall(r'\d+', file)[2]
        validation_label_encoded['BMI']=re.findall(r'\d+', file)[3]
        
        
        #Test whether a protein exists in df columns
        if 'Age' in validation_label_encoded.columns:
            print("exists --->" + str(validation_label_encoded.columns.get_loc("Age")))
        else:
            print('Does not Exist')
            
            
        #partial save CSV
        validation_label_encoded.to_csv('/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/Prepared_Data_for_ML_Input/PreparedData_validation_' + split_factor_file_validation + '_Age_'+re.findall(r'\d+', file)[2]+'_BMI_'+re.findall(r'\d+', file)[3] + '.csv')
        
        display(validation_label_encoded)
        display(df_validation)
        
        df_validation = df_validation.merge(validation_label_encoded, how='outer')
        df_validation.fillna(0, inplace=True)
        
        #df é a hot-encoded
        #atualizar cada linha com 1 onde a coluna é igual a row["Assay"'
        
            
        
        
        #df['rating'] = np.where(df['line_race']==0, 0, df['rating'])
        #for i, j in train.iterrows():
        #    print(i, j)
df_validation = df_validation.astype(int)
display(df_validation)

/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_validation_Age_1_BMI_4.csv

Empty DataFrame
Columns: [Assay]
Index: []

Vazio
/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_validation_Age_2_BMI_2.csv

Empty DataFrame
Columns: [Assay]
Index: []

Vazio
/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_validation_Age_2_BMI_3.csv

   Assay
0  VTCN1

NÃO VAZIO
Age: 2
BMI: 3

   Assay AgeCat BMI
0  VTCN1      2   3

   VTCN1
0   True

exists --->1

   VTCN1 Age BMI
0   True   2   3

Empty DataFrame
Columns: [GP1BA, ADAM8, LAIR2, PDGFRA, MMP12, BAX, CNTN1, EDIL3, MNDA, STX4, CPA2, QPCT, DSG2, CDH5, ANGPTL1, NRP1, ADAM22, PRDX3, VSIG4, ADAM23, HNRNPK, VASN, CRACR2A, ANXA5, SLITRK6, TRIM5, FLI1, CPM, TNFRSF1A, CRTAC1, TGFBR3, HAO1, BSG, ICOSLG, TMSB10, SMOC2, TNFRSF14, SLAMF6, SORT1, IGFBP7, STK4, COL4A1, ISLR2, PRKRA, FGFBP1, CD40LG, IL6R, CEP20, PMVK, GGT1, AMBP, BID, ARHGAP25, TXLNA, PSG1, DPT, CCL19, IFNLR1, KITLG, CDC37, PAMR1, IL10RB, TDRKH, ENTPD5, TACSTD2, DAPP1, DEFA1_DEFA1B, PHOSPHO1, GLT8D2, RELT, PIK3IP1, NECTIN4, CDHR2, FUT8, COL6A3, SIRT2, BRK1, CD5, INPP1, HLA-E, CNPY4, SMPDL3A, RBP2, IL15RA, CBLN4, PTK7, WWP2, SLC27A4, CLIP2, ITGB6, AXL, RNASE3, SOD2, IL32, KAZALD1, TFPI, BGN, KLK6, TBC1D23, FEN1, ...]
Index: []

[0 rows x 849 columns]

/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_validation_Age_2_BMI_4.csv

Empty DataFrame
Columns: [Assay]
Index: []

Vazio
/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_validation_Age_3_BMI_1.csv

Empty DataFrame
Columns: [Assay]
Index: []

Vazio
/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_validation_Age_3_BMI_2.csv

Empty DataFrame
Columns: [Assay]
Index: []

Vazio
/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_validation_Age_3_BMI_3.csv

    Assay
0  GLT8D2

NÃO VAZIO
Age: 3
BMI: 3

    Assay AgeCat BMI
0  GLT8D2      3   3

   GLT8D2
0    True

exists --->1

   GLT8D2 Age BMI
0    True   3   3

,GP1BA,ADAM8,LAIR2,PDGFRA,MMP12,BAX,CNTN1,EDIL3,MNDA,STX4,...,APLP1,ITGA5,SLIT2,SELPLG,DLK1,GPC1,WASF1,VTCN1,Age,BMI
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,True,2,3

/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_validation_Age_3_BMI_4.csv

Empty DataFrame
Columns: [Assay]
Index: []

Vazio
/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_validation_Age_4_BMI_1.csv

  Assay
0  CD48
1  XCL1

NÃO VAZIO
Age: 4
BMI: 1

  Assay AgeCat BMI
0  CD48      4   1
1  XCL1      4   1

    CD48   XCL1
0   True  False
1  False   True

exists --->2

    CD48   XCL1 Age BMI
0   True  False   4   1
1  False   True   4   1

,GP1BA,ADAM8,LAIR2,PDGFRA,MMP12,BAX,CNTN1,EDIL3,MNDA,STX4,...,APLP1,ITGA5,SLIT2,SELPLG,DLK1,GPC1,WASF1,VTCN1,Age,BMI
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,True,2,3
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,3,3

/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_validation_Age_4_BMI_2.csv

Empty DataFrame
Columns: [Assay]
Index: []

Vazio
/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_validation_Age_4_BMI_3.csv

Empty DataFrame
Columns: [Assay]
Index: []

Vazio
/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_validation_Age_5_BMI_0.csv

Empty DataFrame
Columns: [Assay]
Index: []

Vazio
/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_validation_Age_5_BMI_1.csv

       Assay
0  SERPINA11

NÃO VAZIO
Age: 5
BMI: 1

       Assay AgeCat BMI
0  SERPINA11      5   1

   SERPINA11
0       True

exists --->1

   SERPINA11 Age BMI
0       True   5   1

,GP1BA,ADAM8,LAIR2,PDGFRA,MMP12,BAX,CNTN1,EDIL3,MNDA,STX4,...,APLP1,ITGA5,SLIT2,SELPLG,DLK1,GPC1,WASF1,VTCN1,Age,BMI
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,True,2,3
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,3,3
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,4,1
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,4,1

/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_validation_Age_5_BMI_2.csv

Empty DataFrame
Columns: [Assay]
Index: []

Vazio
/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/AGE_BMI_Significatives/75_25/MGH_ANOVA_BMI_categories_validation_Age_5_BMI_3.csv

Empty DataFrame
Columns: [Assay]
Index: []

Vazio

,GP1BA,ADAM8,LAIR2,PDGFRA,MMP12,BAX,CNTN1,EDIL3,MNDA,STX4,...,APLP1,ITGA5,SLIT2,SELPLG,DLK1,GPC1,WASF1,VTCN1,Age,BMI
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,2,3
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,3,3
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,4,1
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,4,1
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,5,1

In [38]:
df_validation.head()

,GP1BA,ADAM8,LAIR2,PDGFRA,MMP12,BAX,CNTN1,EDIL3,MNDA,STX4,...,APLP1,ITGA5,SLIT2,SELPLG,DLK1,GPC1,WASF1,VTCN1,Age,BMI
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,2,3
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,3,3
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,4,1
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,4,1
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,5,1

In [39]:
columns_validation = list(df_validation.columns)

In [40]:
type(columns_validation)

list

In [41]:
columns_validation[0]

'GP1BA'

In [42]:
len(df_validation), df_validation.shape

(5, (5, 849))

In [43]:
df_validation.to_csv('/Users/marcelo_palermo/Doutorado/R/Olink/NextSteps/Prepared_Data_for_ML_Input/PreparedData_validation_Age_BMI_' + split_factor_file_validation + '.csv')

In [44]:
#df_validation = df_validation.groupby(['Age','BMI']).count()
#print("Sum")
#display(df_validation)

In [45]:
#df_validation = df_validation.reset_index()
#df_validation.head()

In [46]:
exit()